[2021-03-11 11:34] tamarandom commented on #613
Hey @jessicazartler Let me turn this into an epic so we can stick to our one issue = one assignee practice. Looks like you've done your piece but there are some pieces of work that we'll need to carry to the next Sprint. 🧘🏻‍♀️

[2021-03-11 11:35] tamarandom opened #677 "Dan / Fill out CS Notion sections (Check Epic #613 for details)"

[2021-03-11 11:35] tamarandom opened #678 "Kris / Fill out CS Notion sections (Check Epic #613 for details)"

[2021-03-11 11:36] tamarandom opened #679 "Griff / Fill out CS Notion sections (Check Epic #613 for details)"

[2021-03-11 11:36] tamarandom opened #680 "Tamara / Fill out CS Notion sections (Check Epic for details)"

[2021-03-11 11:37] tamarandom opened #681 "Livia / Fill out CS Notion sections (Check Epic for details)"

[2021-03-11 11:37] tamarandom opened #682 "Jeff / Fill out CS Notion sections (Check Epic #613 for details)"

[2021-03-11 11:37] tamarandom opened #683 "Jess / Fill out CS Notion sections (Check Epic for details)"

[2021-03-11 13:54] tamarandom commented on #620
done!

[2021-03-11 13:54] #620 closed

[2021-03-11 13:58] tamarandom commented on #486
hey @krisjpi this deck from @Jeff-Emmett can also be super helpful for you post
https://docs.google.com/presentation/d/1GnBiXP5sUeCwsCPItXwmqsCzK9TL71pkyGmF5xHlBA0/edit

[2021-03-11 17:06] jessicazartler commented on #658
Thank you @tamarandom !!! <3 Sorry I didn't get a chance to break everything out in issues.. hoping people will do their own - we had to crunch fast.. appreciate the love! <3

[2021-03-11 17:08] jessicazartler commented on #683
Yes, I have much more work to do on this! It's kind of a recurring, when I get time/feel inspired I go in and keep building.. but I would like to make an effort to have some public pages open in the next 2 sprints.. thank you for breaking these our Ivy/Tam :D

[2021-03-11 17:09] jessicazartler commented on #613
Yes thank you Tam! I haven't made time for this.. was hoping people would make theirs but everyone is so busy.. we appreciate you doing that!!! Thanks very much :D <3

[2021-03-11 19:29] jessicazartler opened #684 "Create POAP for Luna Swarm research wrap"
## 📋   Anything to add?

Tie up the 6 month efforts of the Luna Swarm research group

## 🎉   Subtasks

- [x] Create
- [ ] Send POAP
- [x] Create summary & update forum post with results and comm hiatus

## 🤼‍♂️   Reviewer

@Jeff-Emmett @tamarandom

## 🔗   Work doc - inspirational links

[2021-03-11 19:32] jessicazartler commented on #684
Updated the forum post https://forum.1hive.org/t/luna-swarm-expanding-the-1hive-cadcad-model/1190/6

And created the POAP, waiting to hear back from POAP - then will distribute

![circle-cropped](https://user-images.githubusercontent.com/43972522/110843653-8ab80680-8276-11eb-9d3d-4727d1f4c38e.png)

[2021-03-11 19:42] jessicazartler opened #685 "Gitcoin Grants Round 9 Tweet Threads"
## 📋   Anything to add?
Gitcoin Tweets/Threads (created for this round and future templating - adding to Notion ecosystem gitcoin section)

## 🎉   Subtasks

- [x] Write tweets
- [x] get feedback from Griff/Jeff
- [x] Tweet!
- [x] File in Notion as template

## 🤼‍♂️   Reviewer

@tamarandom @GriffGreen @Jeff-Emmett

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/16kysuMw_rN

[2021-03-11 19:43] #685 closed

[2021-03-12 12:09] #640 closed

[2021-03-12 14:47] #526 closed

[2021-03-12 16:20] GriffGreen opened #686 "Automate Dishing praise for dishing praise"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Make a column that counts someone's praises and awards a certain amount of CSTK for everyone that dishes (Griff can implement).

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-12 16:21] #501 closed

[2021-03-12 16:50] liviade1 commented on #634
https://docs.google.com/document/d/1I6mhzd1NP2NG1ZMNJs8UHcxToir6oHKLVq_cyEklEOE/edit  @GriffGreen

[2021-03-12 16:50] #634 closed

[2021-03-12 17:15] Jeff-Emmett commented on #628
Digest is in progress of acceptance to the PrimeDAO publication: https://medium.com/primedao/dao2dao-collaboration-mechanisms-c37218a17a21

[2021-03-12 17:15] #628 closed

[2021-03-12 17:33] #304 closed

[2021-03-15 02:51] Jeff-Emmett opened #687 "Curve Labs TS Onboarding"
## 📋   Anything to add?
Jeff setting up a chat with the Curve Labs folk to onboard them to the TS.

## 🎉   Subtasks
- [ ] Find call slot that works with team
- [ ] Presentation
- [ ] Follow up

## 🤼‍♂️   Reviewer

@tamarandom

## 🔗   Work doc - inspirational links

[2021-03-15 02:52] Jeff-Emmett opened #688 "Michel Bauwens in the Trusted Seed"
## 📋   Anything to add?
Jeff has a call with MB to discuss paper release and Trusted Seed membership

## 🎉   Subtasks

- [ ] Set up call with Michel
- [ ] Onboard
- [ ] Follow up

## 🤼‍♂️   Reviewer

@tamarandom

## 🔗   Work doc - inspirational links

[2021-03-15 02:54] Jeff-Emmett commented on #635
Sent Griff Ivy's feedback!

[2021-03-15 02:54] #635 closed

[2021-03-15 11:22] tamarandom commented on #480
Closing. This was opened back when we needed a hand  finding bugs in the dApp. I've sent @ataberkcasur the following three links so that he can apply at his leisure :

Apply for Trusted Seed Swiss Membership
https://member.commonsstack.foundation/

Trusted Seed Swiss Membership Scholarship Application
https://medium.com/commonsstack/trusted-seed-swiss-membership-scholarship-application-f2d07bc2fc9

[2021-03-15 11:22] #480 closed

[2021-03-15 12:08] tamarandom commented on #676
Thumbs up all around.

[2021-03-15 12:08] #676 closed

[2021-03-15 13:56] tamarandom opened #689 "Setup recurring Ask Dan hour (formerly known as some kind of AMA)"
## 📋   Anything to add?

This would be less of a "big" production than the last one. Something simple like a set hour (weekly or bi-weekly) to send people with questions.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-15 13:58] GriffGreen opened #690 "Prepare for talk on Thursday"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-15 13:59] tamarandom opened #691 "Retrospective action : Consistent framing"
## 📋   Anything to add?

For starters, let's create a list of phrasings that can be repeated to explain what Commons Stack is doing versus our relationship with the TEC.

Working towards consistent framing
"Activating your Trusted Seed Membership"
"Advancing Token Engineering"

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-15 14:00] tamarandom opened #692 "Write Job description for Distribution lead"
## 📋   Anything to add?

Find, hire & train someone to take on the comms distribution.

## 🎉   Subtasks

- [x] Create job description & choose closing date
- [x] Post on Linkedin
- [x] Schedule Tweets
- [ ] Post in our Discord/TE Discord

---- for later -----

- [ ] Review resumes
- [ ] Hold interviews
- [ ] Advice process
- [ ] Hire
- [ ] Train

## 🤼‍♂️   Reviewer

@tamarandom @GriffGreen

## 🔗

[2021-03-15 14:02] GriffGreen opened #693 "Promote Grants!!"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-15 16:48] knobsdao opened #694 "Send the TEC email campaign to the Trusted Seed"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

## 🔗   Work doc - inspirational links
https://tecommons.org/

[2021-03-15 16:53] GriffGreen opened #695 "Do a Review with Ivy!"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-15 16:56] #454 closed

[2021-03-15 16:58] #93 closed

[2021-03-15 17:09] #681 closed

[2021-03-15 17:11] tamarandom commented on #646
Update :

"Activate your Trusted Seed membership by joining the Legal Association"
You are not part of TS until you join the Association
Trusted Seed score will be burned (when?) BUT it will be recorded so that when you  do join the legal association it will be be counted.

@krisjpi and @knobsdao to continue the conversation....

[2021-03-15 17:21] knobsdao commented on #646
Continuing in #670.

[2021-03-15 17:21] #646 closed

[2021-03-15 17:22] GriffGreen opened #696 "Screen shot the CV results on the 19th"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-15 17:24] #222 closed

[2021-03-15 17:32] #110 closed

[2021-03-15 18:00] tamarandom commented on #626
Two orders were returned yesterday.
Setting this as a repeating task to keep an eye on the payments, returns, errors on the admin site.

[2021-03-15 18:17] #667 closed

[2021-03-15 18:17] #660 closed

[2021-03-15 18:20] GriffGreen commented on #614
Praise sheet is optimized for Matching Discord and Telegram Handles

[2021-03-15 18:20] #614 closed

[2021-03-15 18:20] #641 closed

[2021-03-15 18:22] jessicazartler opened #697 "Schedule, promote & run CS AMA"
## 📋   Anything to add?

April 28 - 8am PST / 11am EST / 5pm CET

## 🎉   Subtasks

- [x] Add to CS public calendar with all of the necessary links
- [x] Make graphic (Ivy)
- [x] Schedule Tweets (Ivy)
- [x] promote in channels (Jess)
- [x] Join / Record (Kris J)
- [x] Distribute recording ((Ivy & Jess)

## 🤼‍♂️   Reviewer

@knobsdao @krisjpi

## 🔗   Work doc - inspirational links

[2021-03-15 18:25] GriffGreen commented on #694
2 emails

1. "TEC is happening..."

2. "You got IH!"

[2021-03-15 18:27] GriffGreen commented on #543
Should we push some of these concepts into discord?

We could do this! Discord is still fluid and evolving

Onboarding needs to be streamlined... maybe this flows into it?

[2021-03-15 18:31] GriffGreen opened #698 "Thank you for Gitcoin Grant: Iteration 0"

[2021-03-15 18:32] GriffGreen opened #699 "Thank you for Gitcoin Grant: Panvala community fund"

[2021-03-15 18:32] GriffGreen opened #700 "Thank you for Gitcoin Grant: Commons Simulator"

[2021-03-15 18:32] GriffGreen opened #701 "Thank you for Gitcoin Grant: Token Engineering Commons"

[2021-03-15 18:32] GriffGreen opened #702 "Thank you for Gitcoin Grant: TEC Dashboard"

[2021-03-15 18:33] GriffGreen opened #703 "Thank you for Gitcoin Grant: cadCAD"

[2021-03-15 18:33] GriffGreen opened #704 "Thank you for Gitcoin Grant: Conviction Voting"

[2021-03-15 18:33] GriffGreen opened #705 "Thank you for Gitcoin Grant: CCG event"

[2021-03-15 18:38] Jeff-Emmett opened #706 "MetaFest Presentation & Academic Paper Publication"
## 📋   Anything to add?
Jeff & Felix presenting this info on Wednesday at MetaFest, but I think we can re-use it to discuss Ostrom's Challenges for the Global Commons in preparation for the imminent academic paper launch!

## 🎉   Subtasks

- [ ] Create presentation
- [ ] Designer to tweak undraw images to dark mode?
- [ ] (Not this sprint) Article summarizing Ostrom's Challenges & the approaches o

[2021-03-15 18:39] GriffGreen opened #707 "Make a Trusted Seed CV Cart"
## 📋   Anything to add?

Add the grants that are submitted here:
https://cv.commonsstack.org

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-15 18:39] #664 closed

[2021-03-15 18:40] #666 closed

[2021-03-15 18:44] GriffGreen opened #708 "Put the Gitcoin Grants to promote on the Twitter into the twitter sheet"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-15 18:55] jessicazartler opened #709 "MetaFest Promotion - Tweets"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Full week schedule thread
- [x] 1hr before Kris/Jess
- [x] New time of Griff day before
- [x] 1hr before Griff/Jeff

## 🤼‍♂️   Reviewer

@GriffGreen @krisjpi @Jeff-Emmett

## 🔗   Work doc - inspirational links

[2021-03-15 18:57] #665 closed

[2021-03-15 18:57] #663 closed

[2021-03-15 18:58] #648 closed

[2021-03-15 20:17] jessicazartler opened #710 "MetaFest Presentation March 15"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Write / design presentation
- [x] Give talk

## 🤼‍♂️   Reviewer

@Jeff-Emmett

## 🔗   Work doc - inspirational links
https://docs.google.com/presentation/d/1ggQfIx2c72AfB3qtSJHIXt3rue51gzimTPgnfcAtFSo/edit#slide=id.gc63b0e9012_0_803

[2021-03-15 20:50] jessicazartler commented on #588
Finshed February https://beta.giveth.io/milestone/jess-february-21-milestone

Do I leave this issue open? :D Thanks! @tamarandom

[2021-03-15 20:53] jessicazartler commented on #709
Thank you whoever did the hour before Tweets for Kris/I -- I have scheduled the rest for the week so closing - thank you guys! Especially and big shout out to Nate for making the graphics/drafting :D Nice job team!

[2021-03-15 20:54] #709 closed

[2021-03-15 20:56] #710 closed

[2021-03-15 21:10] GriffGreen opened #711 "Send funds to Sintezis.co"
## 📋   Anything to add?

We received $1538 in funding from various tokens from Gitcoin Round 8 donors and 405 Dai from quadratic funding's match and 21,222.64 PAN... To avoid the Gas fees and operation requirements with the Giveth DApp, I directly sent your 15% in 2 transactions

#1 (1538+405)*.15 = 291.45 DAI

#2 21222.64*.15 = 3183.396 PAN

https://etherscan.io/tx/0x8cb0c6c415b391b4e128e8825f189

[2021-03-15 21:41] jessicazartler opened #712 "Exploring DAO2DAO Collaboration Mechanisms - Repurpose"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Tweet thread
- [ ] Video?

## 🤼‍♂️   Reviewer

@Jeff-Emmett

## 🔗   Work doc - inspirational links

[2021-03-16 11:34] tamarandom commented on #626
The two returns were treated. One was a carrier error and sent again to the same address. The other, in Spain, required a floor and door and now will be resent. 🤷🏼‍♀️

[2021-03-16 11:39] tamarandom commented on #592
Note that the payment shop will be cross brand and have collections for CS, TEC, Giveth & DappNode!

[2021-03-16 11:48] iviangita opened #713 "Ping Trusted Seed members that haven't claimed CSLOVE swag"
## 📋   Anything to add?

Here are the new Trusted Seed members we airdropped CSLOVE tokens to today:

Jose Vicente ✅
Walid Bendenia ✅
Andreas Fletcher ✅

The message template we send out to the new members are in this [document](https://docs.google.com/document/d/1mof4sSkI8BrHofzDszKvMomG-e_2lRMtl_zSORBWBs0/edit)

Airdrop tracker: https://docs.google.com/spreadsheets/d/1R9JGNzoOT0VYlkbPvVacodXjU5w

[2021-03-16 14:19] iviangita commented on #639
Closing! Sent my self-review to Griff :)

[2021-03-16 14:19] #639 closed

[2021-03-16 18:57] jessicazartler opened #714 "Get the Trusted Seed Spotlight #5 - Edit!"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Choose person
- [x] Set up interview
- [x] Record
- [x] Edit

---- For next sprint! ----

- [x] Distribute

## 🤼‍♂️   Reviewer

@krisjpi @tamarandom @GriffGreen

## 🔗   Work doc - inspirational links

[2021-03-16 19:15] jessicazartler commented on #615
@krisjpi to write Tweet thread and post the link here for Nate to distribute in channels

Kris also to write newsletter - ask me if you need support

[2021-03-17 01:22] knobsdao opened #715 "Host Weekly Contributors Sync Call"
## 📋   Anything to add?
Scheduled for Thursday's at noon EST over Discord voice channel.

## 🎉   Subtasks

- [x] Make sure a member of the team can be present to host in case @knobsdao can't.
- [ ] Sync with the core team on where contributions of time are needed.
- [ ] Review issues marked "For Contributors"; and make new ones if needed.
- [ ] If a question, idea, etc. can't be answered there, ma

[2021-03-17 01:24] knobsdao commented on #602
Created as weekly issue #715. The first call to be held on Thursday, March 18th at 12:30 pm EST.

[2021-03-17 01:24] #602 closed

[2021-03-17 03:33] knobsdao commented on #669
@tamarandom is this issue already taken care of in the Membership DApp's repo?

[2021-03-17 08:02] iviangita opened #716 "Repeating tweets for open Discord calls"
## 📋   Anything to add?

- CS Comms Meeting - Tuesday's at 3 pm EST (hosted by Kris)
- CS Praise Onboarding - Wednesday's at 12 pm EST (hosted by Kris) (related to issue #343)
- CS Contributors Sync - Thursday's at 12 pm EST (hosted by Dan) (#715)
- CS Trusted Seed Office Hours - Tuesday's at 12 pm EST (hosted by Dan) (#724)

Also, we will have a Commons Stack AMA at 11 am EST Wednesday the 31st.

[2021-03-17 12:40] tamarandom commented on #669
Hey @metaverde, thanks for logging this. 👍🏽

The consensus is that it is more confusing than helpful. There is an issue open to track removing it in the Swiss Asso dApp repo so I will close this one now.

[2021-03-17 12:40] #669 closed

[2021-03-17 17:46] iviangita commented on #716
Hey @knobsdao the draft copies are now ready for your review :)

https://docs.google.com/document/d/1NZ5U7JkdvcKI_MgyTOwbCpIF5do0F31hdpkKAmSDoak/edit?usp=sharing

[2021-03-18 13:12] ataberkcasur opened #717 "Griff Interview 7 Edit notes"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-18 13:12] #717 closed

[2021-03-18 13:12] ataberkcasur opened #718 "Griff Interview 8 Edit Notes"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-18 13:12] #718 closed

[2021-03-18 13:53] ataberkcasur opened #719 "March 5 Griff and Livia Synch Notes Edit"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-18 13:53] #719 closed

[2021-03-18 13:54] ataberkcasur commented on #582
@GriffGreen @liviade1 need review

[2021-03-18 13:55] ataberkcasur opened #720 "March 12 Livia and Griff Synch Edit Notes"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-18 13:55] #720 closed

[2021-03-18 20:01] tamarandom commented on #642
🙌🏼

[2021-03-18 20:02] tamarandom commented on #534
🙌🏼  Great work, @iviangita

[2021-03-18 22:28] jessicazartler commented on #588
Yay thank you!!

[2021-03-18 23:28] #637 closed

[2021-03-19 09:31] tamarandom opened #721 "Research calls : Video recording, prepping for Youtube"
## 📋   Anything to add?

Research team needs support on recording calls and making them look good (title, description) on Youtube.
@iviangita and Zep are doing this so well for TEC. Going to ask them for help to set this up for us too.

It's likely to take a whole Sprint to work out the best process. Coordinate first with @Jeff-Emmett  and @jessicazartler on which calendar sessions need to be reco

[2021-03-20 17:24] ataberkcasur commented on #574
Hi @josiprajevic , the praise case study draft is complete now. Can you prepare the booklet with the latest format with the Booklet -3 format you recently shared, and we can move forward in steps to publishing it?

This is the latest version: https://docs.google.com/document/d/12R2gPN49sLMG6B_mJnvKrzmtZz_AGDQMM09Vv9X04Zw/edit#heading=h.3g1bjyjfqo9r

[2021-03-20 19:16] Jeff-Emmett commented on #574
For the license section, we can probably write something along the lines of:

This Commons Stack Case Study is part of a larger effort by the Commons Stack project to provide detailed analysis and reports on lessons learned from deploying the Commons Stack design pattern to individual Commons deployments.

This publication is licensed under ... <license details to be completed here>

[2021-03-22 14:56] jessicazartler commented on #543
Jeff has scaffolded and listed everything out - I will turn it into sentences and edit a bit to take the next step
Then we can have a review & publish

[2021-03-22 15:10] jessicazartler commented on #697
Do we want open or a theme? Could make sense this round to have a focus of "Activate the Trusted Seed" and 45min on that and 15 for other questions.. @tamarandom @knobsdao @GriffGreen will discuss on the sprint call today

[2021-03-22 15:53] jessicazartler commented on #714
Messaged Zargham to set up a time

[2021-03-22 15:53] jessicazartler commented on #698
@GriffGreen @tamarandom scheduled calendar invite for Friday to remind us to send these out

[2021-03-22 15:54] jessicazartler commented on #692
@tamarandom you and I can discuss on our sync tomorrow :D

[2021-03-22 15:55] jessicazartler commented on #661
Scheduled calendar invite to send thank yous Friday March 26

[2021-03-22 15:58] jessicazartler commented on #638
Finished and sent to Griff :D

[2021-03-22 15:58] #638 closed

[2021-03-22 15:59] jessicazartler commented on #684
Created, waiting for approval - told it takes around 7-10 days

[2021-03-22 16:00] jessicazartler commented on #576
Once newsletter goes out I will Tweet it - then it's closed!

[2021-03-22 16:04] jessicazartler commented on #656
Getting a contact from Stakes.Social to ask them a few questions about the platform to write a little section about the founding and a lil quote - then I will finish this!!

[2021-03-22 16:05] jessicazartler commented on #655
Jeff and I both struggling to access our private keys to get set up on Hypha, contacted Rieki for call or walk through to sort this so we can submit the proposal

[2021-03-22 16:07] jessicazartler commented on #652
Boson may be willing to donate funding/resources to support CS - they would like to see the TE ecosystem grow and create more token engineers, and they would like to see research in the area of DCommerce

Sent a msg to schedule a follow up call

[2021-03-22 17:06] krisjpi commented on #645
This is complete! We have a standing call in the CS calendar - Wednesdays 9PST, 12EST, our first call was last week!

[2021-03-22 17:06] #645 closed

[2021-03-22 17:35] jessicazartler commented on #643
Sent follow up message to NEAR to schedule a call regarding participation in the hackathon/talks

Also discuss potential funding/resource allocation to the Dashboard project and CS infrastructure

[2021-03-22 17:46] krisjpi opened #722 "CS email campaign reports/stats"
## 📋   Anything to add?
An issue to track the outgoing emails from the CS hubspot account.

-- Objective: to understand how our audience is receiving our communications. Are they opening them, clicking through? What articles are they clicking on the most? Etc.

The idea is to optimize our campaigns by taking into consideration our objectives:
providing our audience information regarding a process,

[2021-03-22 17:47] tamarandom commented on #621
Published!

[2021-03-22 17:47] #621 closed

[2021-03-22 17:48] #695 closed

[2021-03-22 17:48] #632 closed

[2021-03-22 17:48] #690 closed

[2021-03-22 17:48] #696 closed

[2021-03-22 17:50] tamarandom commented on #708
Link : https://docs.google.com/spreadsheets/d/1QJnratmpodDOuTY-21Lgr6wHr8AK4BOBa-cBI37rHNo/edit#gid=1316217722

[2021-03-22 17:54] liviade1 commented on #707
https://gitcoin.co/grants/cart/bulk-add/1155;5;283,2315;5;283,308;5;283,795;5;283,539;5;283,2073;5;283,517;5;283,2305;5;283,2154;5;283,1666;5;283,277;5;283,211;5;283,1769;5;283,184;5;283,1424;5;283,798;5;283,1141;5;283,1732;5;283,213;5;283,2248;5;283,522;5;283,615;5;283,225;5;283,2072;5;283,806;5;283,2225;5;283,684;5;283,1110;5;283,:liviade1

[2021-03-22 17:56] #707 closed

[2021-03-22 18:07] tamarandom commented on #706
DONE!

[2021-03-22 18:07] #706 closed

[2021-03-22 18:31] tamarandom opened #723 "How can we use the data in our Trusted Seed input form in best way?"
## 📋   Anything to add?

We have a lot of information about our members, what can we do to use this well?

## 🎉   Subtasks

- [x] Brainstorm call with Dan
- [x] Decide areas of interest to add to the typeform
- [ ] Update typeform
- [ ] Create tags on Github to add to the "for contributors" issues

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   Work doc - inspirational links

[2021-03-22 20:07] tamarandom commented on #684
This is really neat!

[2021-03-22 22:21] knobsdao opened #724 "Host Weekly Trusted Seed Lounge Call"
## 📋   Anything to add?
Scheduled for Tuesday's at noon EST over Discord voice channel.

## 🎉   Subtasks

- [x] Make sure a member of the team can be present to host in case @knobsdao can't.
- [ ] Sync with the core team on any questions raised by the community on the Trusted Seed.
- [ ] Invite recent successful applicants to join.
- [ ] If a question, idea, etc. can't be answered there, make a no

[2021-03-22 22:24] #689 closed

[2021-03-22 22:24] knobsdao commented on #689
Now live at issue #724.

[2021-03-22 22:37] knobsdao commented on #716
Hey @iviangita. I made these comments on the draft doc for the CS Trusted Seed Office Hours (#724):

CS Trusted Seed Office Hours call is now up in our calendar weekly on Tuesday's at 12 pm EST over Discord.

Calendar link here: https://calendar.google.com/calendar/u/0/embed?src=c_vjdckfj4bharuovhd4rmo3dtv4@group.calendar.google.com&ctz=Eastern/Time/New/York

[2021-03-23 11:51] GriffGreen commented on #698
Thx jess!

[2021-03-23 20:50] tamarandom commented on #592
Hey @krisjpi, from our comms call today, @bollenta is volunteering to help create designs for the shops.

[2021-03-24 07:13] tamarandom commented on #608
@GriffGreen We ran into a problem exporting the file from giveth yesterday. Same today.  Here is the error: ![giveth export.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/b91dde68-a588-4f72-8e96-07e99ba6f7e0)

[2021-03-24 10:58] josiprajevic commented on #574
@ataberkcasur @Jeff-Emmett Latest light and dark version. Just need to finish licence section (in latest version there was no pictures)
[Booklet - 4- dark.pdf](https://github.com/commons-stack/iteration0/files/6196509/Booklet.-.4-.dark.pdf)

[Booklet - 4- light.pdf](https://github.com/commons-stack/iteration0/files/6196510/Booklet.-.4-.light.pdf)

[2021-03-24 12:38] ataberkcasur commented on #574
@josiprajevic thanks! could you also incorporate the visuals in the text just like the previous one? If you can share it in editable format we can leave our comments on it too to make your job easier, but that's your call :)

[2021-03-24 17:23] jessicazartler opened #725 "Calendar, graphic & promote cadCAD Community Call April 7"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Update calendar invites
- [x] Create graphic
- [x] Sync with presenters
- [x] Schedule Tweets one week before/one day before/1hr before
- [x] post Tweet in channels
- [x] Find person to record

## 🤼‍♂️   Reviewer

@Jeff-Emmett @tamarandom

## 🔗   Work doc - inspirational links
Calendar Link
https://calendar.google.com/event?action=TEMPLATE&tmeid=MTlx

[2021-03-24 18:46] #596 closed

[2021-03-24 19:48] jessicazartler commented on #697
![Graphics (2)](https://user-images.githubusercontent.com/43972522/112374316-5140bb80-8cb8-11eb-9d00-e2641b325d19.jpg)

[2021-03-24 19:48] jessicazartler commented on #725
![Graphics (3)](https://user-images.githubusercontent.com/43972522/112374340-5a318d00-8cb8-11eb-8612-4240aa0b31d1.jpg)

[2021-03-24 19:54] jessicazartler commented on #576
Discussed with @krisjpi on Comms call yesterday - Ivy to Tweet with newsletter content - going to close this :D

[2021-03-24 19:54] #576 closed

[2021-03-24 19:54] jessicazartler commented on #529
@tamarandom @GriffGreen we are now doing this every Monday in sprint planning/team call - shall we close this issue?

[2021-03-24 23:06] ataberkcasur opened #726 "March 19th Weekly Sync Griff Livia Note Edit"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-24 23:06] #726 closed

[2021-03-25 14:21] Jeff-Emmett commented on #725
Can we put the date next to the time?

Also, I'm not sure Balancer will be presenting, but TEA is presenting ON
Balancer might be more accurate?

On Wed, Mar 24, 2021 at 3:48 PM Jessica Zartler ***@***.***>
wrote:

[2021-03-25 15:44] jessicazartler commented on #725
Yes can move that - that is what Angela said is the preferred title

[2021-03-26 02:00] #693 closed

[2021-03-26 17:22] tamarandom opened #727 "Logos for Giveth and DAppnode for the cross brand shop"
## 📋   Anything to add?

shoot them over to @tamarandom , please!

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-26 17:37] #708 closed

[2021-03-26 17:39] tamarandom commented on #687
We call this one done, right @Jeff-Emmett ?

[2021-03-26 17:39] #687 closed

[2021-03-26 22:27] jessicazartler commented on #701
@GriffGreen @cranders1 did this one - thank you Craig!!!!!!

@cranders1 sent a message to funders of Token Engineering Commons. This is what they said:

    Token Engineering Commons : Thanks so much for contributing to the TEC GR9 - we're extremely grateful! Your contribution is supporting sustainable & ethical design for token ecosystems 🥳

🎆 We've been busy fortifying our Cultural Build, onboar

[2021-03-26 22:27] #701 closed

[2021-03-26 23:02] jessicazartler commented on #698
The Commons Stack: Iteration 0 : 🙏 Thank you so much for your contribution to the Commons Stack: Iteration 0 - we're so incredibly grateful!

🌐 We are making amazing progress! If you want to see the Commons Stack’s economic model being applied, check out the Token Engineering Commons:
https://forum.tecommons.org/t/5-how-to-join-contribute/98

🤩 Special Shout outs to Super Star Contributors - those

[2021-03-26 23:02] #698 closed

[2021-03-26 23:02] #662 closed

[2021-03-26 23:04] jessicazartler commented on #698
<img width="458" alt="GG thank you CS" src="https://user-images.githubusercontent.com/43972522/112701124-25633880-8e66-11eb-8838-dff006a97c45.png">

[2021-03-26 23:17] jessicazartler commented on #704
First of all, thanks so much to all our grant contributors for supporting our modeling work!

We wanted to send you a quick update on our latest work with feature improvements on the Conviction Voting cadCAD model:

The Luna Swarm has just finished its first round of work, modelling $HNY token issuance in 1Hive to inform decision and policy making. Read more in this forum post https://forum.1hive.

[2021-03-26 23:17] #704 closed

[2021-03-26 23:23] jessicazartler commented on #703
CADCAD THANK YOU:

Thank you so much for your contribution to cadCAD - we're extremely grateful!

Thanks to your support, we’ll be issuing bounties for developers to work on educational materials so more people can learn how to model complex systems - and you are an important part of it!

🤖cadCAD Onboarding TL;DR https://www.notion.so/cadCAD-Onboarding-TL-DR-e0da826e676344ee94d71d39d65d4fc2
🍎cadCA

[2021-03-26 23:23] #703 closed

[2021-03-26 23:30] jessicazartler commented on #705
Thank you so much for supporting the Crypto Commons Gathering 2021!

Check out the website and apply to attend:
https://www.crypto-commons.org/

Join us on:
Facebook https://www.facebook.com/Crypto-Commons-Association-326374532130849
Telegram https://t.me/joinchat/EBCUTFq-KAcFv9Qt
Twitter https://twitter.com/GatheringCrypto

Thank you again, and have a beautiful Spring!

[2021-03-26 23:30] #705 closed

[2021-03-27 12:44] cranders1 commented on #701
cheers

[2021-03-29 04:21] iviangita commented on #721
@Jeff-Emmett @jessicazartler can you please share with me the sessions that need to be recorded? We can set up a group DM on Discord if it will be easier to coordinate there :)

cc: @Zeptimus

[2021-03-29 11:00] tamarandom commented on #691
Getting it started in a miro board. Will add this exercise to our next mis-Sprint sync! https://miro.com/app/board/o9J_la-JXVk=/

[2021-03-29 11:00] #691 closed

[2021-03-29 13:53] GriffGreen opened #728 "Train a new payroll person to approve Scholarships"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Have a call with the new payroll person and do it together.
- [ ] Do a second call to confirm she has it
- [ ] Make it a repeating task twice a week

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-29 14:11] ataberkcasur commented on #574
Hi  @josiprajevic. Just for the heads up, I added one more visual to the drive:

https://drive.google.com/drive/folders/1_JEZzSu-rAjTrIIN_v-dL0FwIjByL4cR?usp=sharing

[2021-03-29 14:18] jessicazartler opened #729 "Activate the Trusted Seed Tweet Scheduling"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Make Tweet Thread for Swiss membership dapp

Post Tweet thread link w/ tailored message in:
- [ ] CS Discord or Telegram
- [ ] TEC general discord
- [ ] TE general discord

## 🤼‍♂️   Reviewer

@tamarandom @krisjpi @Jeff-Emmett

## 🔗   Work doc - inspirational links

[2021-03-29 16:09] #694 closed

[2021-03-29 16:09] #380 closed

[2021-03-29 16:12] GriffGreen commented on #721
@Jeff-Emmett @jessicazartler please explicitly state the calls you need to review

[2021-03-29 16:14] GriffGreen commented on #721
- [ ] we need a list of calls (and their dates & Times)
- [ ] we need to create a similar system as TEC
- [ ] We need to find a reliable set of contributors to record them with OBS and post them on youtube, nicely

[2021-03-29 16:15] GriffGreen commented on #721
There may be a BOT!!! OMG!!

[2021-03-29 16:17] tamarandom commented on #713
@knobsdao - @iviangita  did the airdrops today, so notifying the list is all ready for you to start notifying the new TS members that they can go get their swag now.

[2021-03-29 16:17] liviade1 opened #730 "fill out CS notion"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-29 16:21] jessicazartler commented on #529
Should we close this? :D

[2021-03-29 16:24] jessicazartler commented on #642
@iviangita April 2 is the last session for the TE academy research group - I will check on other sessions and circle back to let you know if the rest will continue or not - thank you so much for all of your hard work!!!!!

[2021-03-29 16:28] jessicazartler commented on #714
Interview with Z set for tomorrow afternoon :D TS + TEC 2 for 1!

[2021-03-29 16:29] jessicazartler commented on #725
Actually, I will leave this open - I forgot I left it open to promote on telegram/Discord channels when the Tweet posts

[2021-03-29 16:35] #343 closed

[2021-03-29 16:38] GriffGreen commented on #674
Consider moving this all to the Notion.

[2021-03-29 16:40] jessicazartler commented on #674
Added to Comms agenda for discussion tomorrow
https://docs.google.com/document/d/1vQb7DCFqWMmJxK7uRfYEOzyTugbqwTjoJDtLrQqmuoY/edit

[2021-03-29 16:44] #615 closed

[2021-03-29 16:46] #529 closed

[2021-03-29 16:59] GriffGreen commented on #670
Maybe we write a refreshed article

[2021-03-29 17:02] krisjpi opened #731 "You've Activated Your TS Membership - Now What? - Blog post"
## 📋   Anything to add?
Short piece, just talking about some of the next steps. How to earn CSTK, particpate in hatches, CV pilots, etc

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-29 17:03] krisjpi opened #732 "NEW updated CTSK and praise explainer piece"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-29 17:10] GriffGreen commented on #555
We have to do something different here! Why does this never work?

Livia can do a quick survey, and then make a hack sesh happen...?

There is a lot of data in the Trusted Seed form.... once we have good issues, let's pass the issues out to the right people!!

[2021-03-29 17:15] GriffGreen commented on #574
@josiprajevic @ataberkcasur The License should be Creative Commons with Attribution :-D - "CC By"

[2021-03-29 17:18] jessicazartler opened #733 "Distribute Praise Case Study"
## 📋   Anything to add?

Host PDF on the CS website with landing page to download + distribution campaign (newsletter/channels)

## 🎉   Subtasks

- [ ] Create landing page w/ PDF download
- [ ] Newsletter
- [ ] Distribute in channels - Discord/Telegram
- [ ] Distribute to academic/research groups/one on one reachouts

## 🤼‍♂️   Reviewer

@jessicazartler @ataberkcasur @liviade1 @GriffGreen @Jeff-Em

[2021-03-29 17:30] GriffGreen commented on #528
Praise case study blocking

[2021-03-29 17:44] jessicazartler commented on #731
@krisjpi need to mention that CSTK holdings may affect how much you can contribute in TEC and other hatches

[2021-03-29 17:50] #524 closed

[2021-03-29 17:53] jessicazartler opened #734 "Z's Article on TEC"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Draft
- [x] Edit
- [x] Publish
- [ ] Distribute

## 🤼‍♂️   Reviewer

@GriffGreen

## 🔗   Work doc - inspirational links

https://github.com/TokenEngineeringCommunity/resources/pull/3/files

[2021-03-29 20:32] jessicazartler opened #735 "Add links/ways to engage with CS within the Dapp"
## 📋   Anything to add?

Once you donate and become member, there is not much else on the dashboard. We could make this more like an account and add links to engage further with CS i.e. "You've Activated Now What" piece, ways to earn CSTK within the dashboard i.e. follow us on Twitter, etc. Needs a discussion and a few steps to iterate on this further, but could be a cool way to drive engagement

[2021-03-30 10:13] tamarandom commented on #608
Done for this week. Closing! ;)

[2021-03-30 10:53] iviangita commented on #716
Removed the Comms Meeting as it will be invite-only

Note from Kris --> Also just a note, I deleted the tweet about the communications call just now, as we are making that call invite-only for a little while. We really only confirmed that this morning :)

[2021-03-30 18:41] jessicazartler commented on #733
We might consider making it available via email - give email, download gets sent to grow list

[2021-03-31 01:02] jessicazartler commented on #543
Finished the 1st draft, passed to Jeff to review

[2021-03-31 02:21] laurenluz opened #736 "Distribute Commons Simulator "Deep Dive" Part 1"
## 📋   Anything to add?
Need to publish on medium, then draft post and share in all channels. Should be personalized to the channel, and could be shared by different people so as not to be too spammy.

## 🎉   Subtasks

- [x]  Publish on Medium
- [x]  Twitter
- [x]  CS dDev telegram
- [x]  CS Telegram
- [x]  cadCAD telegram
- [ ]  Partner Discord Channels:
     - [x]  RadicalxChange
     - [x]  Giv

[2021-03-31 10:15] krisjpi opened #737 "create the landing page on website for PDF"
## 📋   Anything to add?
email submission to receive the pdf? Check into hubspot integration options.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-03-31 16:44] jessicazartler commented on #543
@tamarandom @liviade1 @GriffGreen @krisjpi @knobsdao can you please review? Would love all of your inputs/feedback on this  - Would love to publish this week :D

https://docs.google.com/document/d/1aSxu77XfZADpwDI0akFH1P-P_M1jRgfjGeWO341Lbok/edit

[2021-03-31 17:59] josiprajevic commented on #574
@ataberkcasur Thank you. I think that I corrected that mistake 10 min after uploading pdf. Please download and check again.
@Jeff-Emmett Here is google docs - first version https://docs.google.com/document/d/1JcKwaHfbFFtriBiFM1J--sCT2ErGYNXZUqWEsGVCjaI/edit?usp=sharing

[2021-04-01 19:00] Jeff-Emmett commented on #574
Super cool @josiprajevic, thanks for making these templates accessible for future case studies as well!

@ataberkcasur if there is nothing else from your side on case study updates, I would be happy to forward them to the CS comms team (@krisjpi @jessicazartler) to get the case study loaded on our website and into our content distribution pipeline. Let me know if there are any final changes on you

[2021-04-01 21:45] laurenluz commented on #736
Shilled around :D Wasn't sure the appropriate channel in 1hive, so didn't blast it there. Will create a new issue for distribution when Parts 2 and 3 are done

[2021-04-01 21:45] #736 closed

[2021-04-02 18:10] #674 closed

[2021-04-02 18:10] knobsdao commented on #674
Updated Welcome, Contributors, and Donate sections to avoid confusion. Pausing for now, as the other sections aren't a priority. As a whole, this could merge with the Notion (#613) or work alongside it.

[2021-04-03 01:58] GriffGreen commented on #574
@josiprajevic @ataberkcasur I made a few changes... all very small, mostly around capitalization... and I would love to get rid of the "the" in front of Commons Stack.. it is fine in the pictures... but the cover page has a "The" and i cant get rid of it.

[2021-04-04 19:55] GriffGreen opened #738 "ABC sim on website broke... help"
## 📋   Anything to add?

https://commonsstack.org/abc doesnt work right now?

https://commons-stack.github.io/augmented-tbc-design/ Still works so its the website?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-04-04 21:52] GriffGreen opened #739 "Work Sesh to Improve Discord Onboarding and organization"
What room should i use to invite people?

What is the onboarding process now? maybe in our monday or tuesday call we can go thru it

## 📋   Anything to add?

## 🎉   Subtasks

- [x] Reorganization/Cleanup of Categories/Channels
- [x] Setup the initial welcome screen
- [ ] improve the onboarding flow - ensure it is easy enough to get through while maintaining security for members.

## 🤼‍♂️   Reviewe

[2021-04-04 21:54] GriffGreen opened #740 "Replace Riot with discord on the website (after perfecting the onboarding flow)"
## 📋   Anything to add?

![Screen Shot 2021-04-04 at 4.49.15 PM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/30babbb6-8cda-4523-b848-b9518ecba581)

![Screen Shot 2021-04-04 at 4.49.09 PM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/9954f0b7-b7f4-4e69-b149-14ae45fd3a79)

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirat

[2021-04-04 22:00] GriffGreen commented on #711
We received $1538 in funding from various tokens from Gitcoin Round 8 donors and 405 Dai from quadratic funding's match and 21,222.64 PAN... To avoid the Gas fees and operation requirements with the Giveth DApp, I directly sent your 15% in 2 transactions

#1 (1538+405)*.15 = 291.45 DAI

https://etherscan.io/tx/0xfe8cdd5113a16dcdf6513b6dd282cb444febc4787ddd47e225022d20c8649609

#2 21222.64*.15 = 31

[2021-04-05 16:11] jessicazartler opened #741 "Distribute CS 2021 Direction Article"
## 📋   Anything to add?

Host the paper on the CS website and distribute via email campaign with Praise Case Study

## 🎉   Subtasks

- [x]  Publish on Medium
- [x]  Write 2 tweets
- [x] CS Newsletter
- [x] Tweet
- [x] Put in evergreen distribution pipeline here:
https://docs.google.com/spreadsheets/d/1QJnratmpodDOuTY-21Lgr6wHr8AK4BOBa-cBI37rHNo/edit?ts=601004ae#gid=1031817319

- [x] Distribute Twe

[2021-04-05 16:11] jessicazartler opened #742 "Distribute Academic Paper via Medium Article"
## 📋   Anything to add?

Distribute the academic paper

## 🎉   Subtasks

- [x] Tweet
- [ ] Newsletter
- [x] CS Telegram/Discord
- [ ] TE Commons
- [ ] TE
- [ ] Partner Communities / Academic Partners

## 🤼‍♂️   Reviewer

@Jeff-Emmett @tamarandom @krisjpi

## 🔗   Work doc - inspirational links
https://medium.com/commonsstack/challenges-and-approaches-to-scaling-the-global-commons-af1bcb2b67bf

[2021-04-05 16:32] jessicazartler commented on #697
@krisjpi @iviangita can you Tweet//distribute the recording?

- [ ] Write/schedule tweet
- [ ] Distribute Tweet in CS discord/telegram
- [ ] @knobsdao please file all CS AMA recordings in TS notion (check box for this one :D )

Thanks guys!

[2021-04-05 16:33] jessicazartler commented on #714
Did the recording - next sprint will edit/distribute :D

[2021-04-05 17:15] GriffGreen commented on #574
Thank you @Jeff-Emmett for getting rid of the THE!!!

[2021-04-05 17:21] GriffGreen commented on #574
PROPOSED NAME CHANGE

Token Engineering Commons Case Study Part 1:
Praise

[2021-04-05 17:25] #711 closed

[2021-04-05 17:25] tamarandom commented on #711
Closed.

[2021-04-05 17:26] Jeff-Emmett commented on #734
https://medium.com/token-engineering-commons/engineering-ethics-in-web3-18d981278018

[2021-04-05 17:26] #734 closed

[2021-04-05 17:29] GriffGreen commented on #727
This is the best folder for Giveth Logos... but there are a lot of great Design Assets in higher folders too
https://github.com/Giveth/giveth-design-assets/tree/master/02-logos/Giveth%20logo

[2021-04-05 17:31] tamarandom opened #743 "Add (activate membership) to the commonsstack navigation bar"
## 📋   Anything to add?

Figure out the best way to make this happen. But we should have a link to the DApp somewhere easy to find.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-05 18:42] jessicazartler commented on #734
@tamarandom is the distribution represented on TEC board and being handled there so nothing further yeah? Thanks!

[2021-04-05 19:29] josiprajevic commented on #574
@GriffGreen Double click on the cover page. That will open new window name drawing. Title is white so you can´t see him but try to click and select in the place where he is positioned and you will find him there. After you change what you want just save and close. Google docs are not design friendly :)

[2021-04-06 13:58] iviangita commented on #697
@jessicazartler I scheduled it this Wednesday :)

[2021-04-06 14:10] jessicazartler commented on #697
You rock @iviangita !!!! Thank you!

[2021-04-07 14:16] Jeff-Emmett commented on #574
I updated the license and titles throughout - this is good to go on my end!
![image](https://user-images.githubusercontent.com/46964190/113881246-42630a00-978a-11eb-932f-cca0a51d0c59.png)

@josiprajevic if you can convert this updated google doc into the dual column PDF, I think we are good to host that on our website and start the distribution process!  (Is there an easy way to get this to print

[2021-04-07 14:16] jessicazartler opened #744 "Dapp Release / Activate Trusted Seed - Create graphic & Infographic"
## 📋   Anything to add?

Jeff asked for emojified graphics for presenting to join TS

## 🎉   Subtasks

- [x] Draft content
- [x] create designs
- [x] save files & pass around

## 🤼‍♂️   Reviewer

@krisjpi @knobsdao @tamarandom @Jeff-Emmett

## 🔗   Work doc - inspirational links
Made infographic Canva / the slide versions live in good ole'
https://docs.google.com/presentation/d/1zcisOx79Ia5bCwzxQAL

[2021-04-07 14:16] jessicazartler commented on #744
<img width="150" alt="Join the Trusted Seed_Infographic" src="https://user-images.githubusercontent.com/43972522/113881354-5ad32480-978a-11eb-836a-2d3462a08dbf.png">

If we need higher res infogx I can do it - will just take another 20-30min (Canva didn't recognize emojis so it's a screenshot)

[2021-04-07 14:17] jessicazartler commented on #744
<img width="491" alt="graphic" src="https://user-images.githubusercontent.com/43972522/113881417-69214080-978a-11eb-8720-06c2c90da9a9.png">
![Graphics (12)](https://user-images.githubusercontent.com/43972522/113881422-69b9d700-978a-11eb-820e-e06eecf1c2a8.jpg)
![Graphics (11)](https://user-images.githubusercontent.com/43972522/113881424-6a526d80-978a-11eb-9c5f-b49b65cacac2.jpg)
<img width="150" alt

[2021-04-07 14:17] jessicazartler commented on #744
![Graphics (11)](https://user-images.githubusercontent.com/43972522/113881484-78a08980-978a-11eb-92ec-e6b775c69388.jpg)

[2021-04-07 14:17] jessicazartler commented on #744
![Graphics (12)](https://user-images.githubusercontent.com/43972522/113881506-7c341080-978a-11eb-944c-be58b9302e06.jpg)

[2021-04-07 14:17] #744 closed

[2021-04-07 17:14] #725 closed

[2021-04-08 04:06] knobsdao opened #745 "Discuss Process/Framing/Comms for "Rejected Applicants""
## 📋   Anything to add?

As CS gets more "out there" we are increasingly being approached by a diverse pool of actors. From respected TE folk to airdrop hunters, the latter must be discussed. We have simply ignored applicants that don't fit TS in the past, but these numbers are increasing, manifest in 71 applications during March in parallel to GR9 where many of these profiles applied and a handfu

[2021-04-08 13:06] jessicazartler commented on #745
Great initiative @knobsdao! Is there any current Communications going out to those who are rejected?

I think also we could look at refining criteria for acceptance - I have always thought, we shouldn't penalize people because in the past they have made money, or just because they have had jobs in corporations or funds - if anything, we can learn from these people and they have money to give! And

[2021-04-08 15:36] knobsdao commented on #745
Hi @jessicazartler. So far, they have been getting 1-1 emails or we reach out over Telegram, there aren't standardized comms but one clear action item in my mind is creating them for "we need more personal info". The number of folks scaled in March and it takes a lot of work to process them.

I documented my personal criteria for assessment in the "Trusted Seed Curation" section [in our Notion](ht

[2021-04-08 16:06] jessicazartler commented on #745
Ohhhh, I see okay, awesome, thanks for sharing all this and I see your pain point there. Looking forward to brainstorm :D

[2021-04-09 07:45] #627 closed

[2021-04-09 10:22] tamarandom commented on #306
Spontaneous check-in with Luuk and he shares his thinking of an ecosystem wide sync-up in 2-3 weeks.
Other than that, no new announcements for voting cycles.

[2021-04-09 14:10] tamarandom opened #746 "Next steps for Angela's LLP to join the Trusted Seed"
## 📋   Anything to add?

Angela would like to have her LLP join the Trusted Seed.
The nest steps are two provide her with what must be done based on the precedent set by TrueBlocks.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-09 15:11] liviade1 commented on #318
I think updating our social pages shouldn't be labeled for contributors because requires login info. So I'm removing for contributors label of this one

[2021-04-09 15:31] liviade1 opened #747 "Update old Medium articles with the new CTA template"
## 📋   Anything to add?

Once the CTA template is created by a contributor, someone with permission to the Medium account can update old articles.

## 🎉   Subtasks

- [ ] Update all our Medium articles with the new CTA

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-04-09 15:36] liviade1 commented on #715
I'm taking the "for contributor" label out of this one so only action items for contributors have the label :)

[2021-04-09 15:38] GriffGreen commented on #727
Messaged Lanski... he will update for Dappnode logos

[2021-04-09 15:38] #686 closed

[2021-04-09 15:38] liviade1 commented on #309
What about having a moment in the contributors call for them to add one topic to the twitter content list of the week? Too much extra work?
otherwise we can take the for contributor label out

[2021-04-09 15:38] #702 closed

[2021-04-09 15:53] liviade1 commented on #354
what type of expertise is needed for something like this? So we can keep an eye when contributors share about their skills :) @krisjpi @jessicazartler

[2021-04-09 16:03] liviade1 commented on #147
@jessicazartler do we have updates if Rosa is taking this on?

[2021-04-09 16:28] jessicazartler commented on #147
I have not spoken to her.. have not looked at this issue since December haha.. Lorelai had done the original work - have no idea if we need more on this... @krisjpi can advise :D

[2021-04-09 17:00] liviade1 commented on #723
Having a sync with Dan on Monday to go over details

[2021-04-09 18:53] jessicazartler commented on #354
The easiest 1st iteration could be different POAPs - happy to make the art for it.. otherwise more fancy would take a budget for minting and someone who is familiar with minting.. changing NFTs I am sure is possible, but this would be some deep expertise in the art/tech side...

[2021-04-09 19:24] GriffGreen commented on #727
https://drive.google.com/drive/folders/1MwgxbDoKlrhvO9gg1-bV2TKfLIp462C0?usp=sharing @tamarandom

[2021-04-11 20:11] #670 closed

[2021-04-11 20:12] knobsdao commented on #670
Choose to make an "update" comment on our legacy Trusted Seed article as I lean towards not refreshing it. The comment links to our article on "Activating the TS" and when the one of "what's next" after activation is ready, I'll link to it as well.

[2021-04-11 20:38] #8 closed

[2021-04-11 20:51] knobsdao commented on #147
@liviade1 if not Rosa, we could ping Kristofer, he helped fix the connection between the TEC website and the newsletter subscription that goes into the TEC's HubSpot.

[2021-04-12 13:05] GriffGreen opened #748 "Edit 2021 article"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 13:06] GriffGreen opened #749 "Review Polycentric Governance Article"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 13:46] GriffGreen opened #750 "Get the Hatch Config Dashboard in people's hands"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 14:02] GriffGreen commented on #746
Its pretty simple...

On her side,

1. she needs to write a document saying that her company owns the address she will used for the trusted seed.

2. She could just reapply with the company name (I thought it was a UG?) on our trusted seed list...

Our side:

3. We accept her as we normally do and add the addy to the registry

4. She uses the address to activate her membership via paying dues

[2021-04-12 14:10] liviade1 commented on #147
@knobsdao great idea!

[2021-04-12 14:12] liviade1 commented on #151
Should we pass this one to Chuy?

[2021-04-12 14:29] liviade1 commented on #468
Can we close this issue since Notion was created? @krisjpi

[2021-04-12 14:34] liviade1 commented on #592
Hey @krisjpi - we have another issue for contributors to help with design, so I'll remove the tag from this one and once the contest has been created we can have a new issue with directions for contributors.

[2021-04-12 14:35] #555 closed

[2021-04-12 15:33] jessicazartler commented on #151
Oh, yes! That's a GREAT idea!! This was an idea before HNY got big haha but still I think it could be cool for them to get new folks into their DAO and also the TS people... nice Livia!

[2021-04-12 15:40] jessicazartler commented on #697
Shall we use this again for April I suppose @tamarandom ?

[2021-04-12 15:43] jessicazartler commented on #683
We have a Notion Party work sesh scheduled for Wednesday :D

[2021-04-12 15:43] jessicazartler commented on #661
@GriffGreen you got all yours and we're good? Closing this :D Nice job everyone!

[2021-04-12 15:43] #661 closed

[2021-04-12 15:44] jessicazartler commented on #658
The only thing left for this is to put final PAN count in Newlsetter and dish CSTK for donations - anything else?
@krisjpi @GriffGreen Thanks guys! Nice work :D

[2021-04-12 15:45] jessicazartler commented on #652
Haven't heard back from Justin, but they JUST had their token launch/auction -- will ask Shawn Anderson tonight in our sync about this as he works with Boson

[2021-04-12 15:47] jessicazartler commented on #643
Had a call with James & Josh Tan of MetaGov and supporting the hackathon with intros/some other things in the works.. I still need to schedule a separate call to talk with James about funding/resources for CS/cadCAD...

I am chatting with Luke about possibly working with NEAR/MetaGov resources to build a stand alone CV instance that could be portable for any blockchain/DAO @GriffGreen @Jeff-Emmett

[2021-04-12 15:48] jessicazartler commented on #642
@tamarandom @iviangita updated to reflect that Ivy has taken this on - Thank you Ivy!!! Stellar work!!

Jeff and I are coordinating with Ivy to make sure she has the info she needs, and confirming sessions going forward to make sure it is also accurately reflected on the calendar

Thanks! :D

[2021-04-12 15:53] tamarandom opened #751 "review & provide feedback on 2021 article"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 15:54] tamarandom opened #752 "review & provide feedback on polycentric governance article"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 15:56] tamarandom opened #753 "Junior gardener for the Trusted Seed 🌰👩‍🌾🌱"
## 📋   Anything to add?

## 🎉   Subtasks

- [x]  Scope the profile requirements, tasks, time dedication, etc.
- [x]  Keep a close sync with Griff.
- [x]  Start scouting.
- [x]  Filer candidates
- [x]  Schedule 1-1s
- [x]  Review best candidates
- [x]  Hire a Junior Gardener!

## 🤼‍♂️   Reviewer

@GriffGreen

## 🔗   Work doc - inspirational links

[2021-04-12 15:56] tamarandom opened #754 "Audio experiments"
## 📋   Anything to add?

This issue is to explore ideas around audio content.

Things such as :
 1. audio version of research
 2. remixing audio (For contributors?)

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 15:57] knobsdao opened #755 "Scout the fields for a Junior Gardener for TS 👩‍🌾"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Scope the profile requirements, tasks, time dedication, etc.
- [ ] Keep a close sync with Griff.
- [ ] Start scouting.

## 🤼‍♂️   Reviewer

@GriffGreen

## 🔗   Work doc - inspirational links

[2021-04-12 15:57] tamarandom opened #756 "Meme party preparations"
## 📋   Anything to add?

Go into meme parties with an agenda of 3-4 concepts that are timely and needed mem’ing

This issue is to prepare a list for the next two Friday meme parties!

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 16:07] jessicazartler opened #757 "Organizing Partnership Contacts - First Run"
## 📋   Anything to add?

Need to start working on an organization system for partnerships, sketch a partner journey decision tree/map

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   Work doc - inspirational links
https://docs.google.com/spreadsheets/d/1XnNEszQJ1vJNGsOZutyKIy322eWnGMftovXCVAp1ulY/edit#gid=390705803

[2021-04-12 16:08] tamarandom commented on #582
Update : @ataberkcasur needs one final pass on this.

[2021-04-12 16:16] tamarandom commented on #468
Update : closing this issue. To have a hack session to look at what else needs to be added to Notion. New issues to be created after that session.

[2021-04-12 16:16] #468 closed

[2021-04-12 16:16] jessicazartler commented on #588
@GriffGreen finished and submitted March - thank you!! :D
https://beta.giveth.io/milestone/jess-milestone-for-communications-and-ecosystem-development

[2021-04-12 16:21] #727 closed

[2021-04-12 16:22] GriffGreen opened #758 "Hang with the Fei crew and try to record some lessons learned"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 16:26] Jeff-Emmett opened #759 "cadCAD Model context for Proposal Inverter repos"
## 📋   Anything to add?
Jeff to work with Shawn YGG & Tannr on putting more context into Proposal Inverter cadCAD repos

## 🎉   Subtasks

- [ ] Meet with YGG & Tannr
- [ ] Enter context into READMEs
- [ ] Determine next steps for this collaboration

## 🤼‍♂️   Reviewer

@mzargham

## 🔗   Work doc - inspirational links
https://github.com/BlockScience/automated-general-contractor/tree/main/model
http

[2021-04-12 16:30] Jeff-Emmett opened #760 "Sort out contribution flow for ORGS to support CS/TEC"
## 📋   Anything to add?
We have seen several orgs interested in supporting the CS / TEC launch with contributed funds, but our current structure of the TS only accepting individuals could be hampering our raise potential.

## 🎉   Subtasks

- [ ] Discuss with team.
- [ ] Sort out appropriate flow for organizations who wish to support us.
- [ ] Execute!

## 🤼‍♂️   Reviewer

@tamarandom

## 🔗   Work

[2021-04-12 16:31] #574 closed

[2021-04-12 16:36] GriffGreen commented on #319
Opening up a private channel for an intro on how to claim these roles

[2021-04-12 16:38] GriffGreen commented on #320
some issues with updating the website

[2021-04-12 16:43] tamarandom commented on #727
Thanks you!

[2021-04-12 16:43] GriffGreen commented on #353
SEED Airdrop ;-)?

[2021-04-12 16:48] GriffGreen commented on #124
Could be drafted from the 2021 piece

[2021-04-12 16:49] jessicazartler commented on #733
Oh there is one :D @krisjpi linking too PDF issue https://github.com/commons-stack/iteration0/issues/574#event-4583323877

[2021-04-12 16:52] GriffGreen commented on #552
Make sure there is a meme with the tweet... we now have meme-abundance cash in!

[2021-04-12 16:59] GriffGreen opened #761 "Research a method to print research."
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 17:02] GriffGreen commented on #759
Riding development interest on this

[2021-04-12 17:07] GriffGreen commented on #226
Data science driven analysis for CV

[2021-04-12 17:07] jessicazartler commented on #760
I started a lil' bit in Miro - more sketching pending discussion
https://miro.com/app/board/o9J_laevgm8=/

[2021-04-12 17:13] GriffGreen commented on #174
Paul Stamets meeting this week.. this will come up and it would be interesting to dust off this model...

It's a little advanced but maybe it could be a phase 5 plan... Phase 1 - NFTs

[2021-04-12 17:16] GriffGreen commented on #721
@MerlinEgalite is a hero! Going to record cadCAD calls :-D

[2021-04-12 17:18] GriffGreen opened #762 "Figure out a contract with a dev to make a video recording bot"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 17:19] knobsdao opened #763 "Revisit the Octalysis Board"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Review work sesh with Juniors.
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-12 17:37] GriffGreen commented on #697
TIME BOOKED! https://calendar.google.com/event?action=TEMPLATE&tmeid=NG5zZ2l1c2ZjZG83bmNnOTg5N2gxN3RuMXIgY192amRja2ZqNGJoYXJ1b3ZoZDRybW8zZHR2NEBn&tmsrc=c_vjdckfj4bharuovhd4rmo3dtv4%40group.calendar.google.com

[2021-04-12 17:39] #700 closed

[2021-04-12 17:40] #462 closed

[2021-04-12 17:51] #755 closed

[2021-04-12 18:01] GriffGreen commented on #756
Burning tokens

Twitter threads

Article points

core concepts

[2021-04-12 19:04] liviade1 commented on #723
We are missing a focused data point in the TS typeform.
So we are gonna add a multiple choice question for the specific areas applicants are interested in contributing. These questions will be available on the CRM and we can easily send engagement opportunities to each area.

ideas:
- swag design
- UI design
- UX design
- Content (writing - editing )
- Content distribution
- Research
- Development

[2021-04-12 23:31] jessicazartler commented on #655
Jeff and I got our wallets set up and submitted our membership applications to the DHO. Rieki is working on approving, and then we will work with him to submit a proposal. Should finish this sprint.

[2021-04-13 08:26] MerlinEgalite commented on #721
Or a wizard whatever haha

[2021-04-13 09:12] josiprajevic commented on #574
[Booklet - 6- dark.pdf](https://github.com/commons-stack/iteration0/files/6302548/Booklet.-.6-.dark.pdf)
@Jeff-Emmett hera it is, in two colum, to make that i have to make all in Adobe Indesign. Sorry about delay. Laptop issues. I hope that I helped.

[2021-04-13 11:40] iviangita commented on #713
Hi @knobsdao! We did the airdrop today - please let me know when we can have another session to do the email. I'll be available in your evening like last time, if that works for you :)

[2021-04-13 13:56] tamarandom opened #764 "CS 2021 Direction Article"
<Link here>

[2021-04-13 13:56] tamarandom opened #765 "CS 2021 Direction Article"
<link>

[2021-04-13 13:56] #764 closed

[2021-04-13 13:57] #765 closed

[2021-04-13 17:07] jessicazartler opened #766 "Announce Regen Network Partnership Proposal"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Kris/Jess/Jeff scaffold/draft
- [x] Jess edit/review/add additional sections & quotes
- [x] Pass to Regen for review
- [x] Jess publish on Medium
- [x] Ekene write Tweet / Ivy schedule AMA https://github.com/commons-stack/iteration0/issues/976
- [x] Kris write newlsetter / Jess edit
- [x] Kris send newsletter

## 🤼‍♂️   Reviewer

@Jeff-Emmett @krisjp

[2021-04-13 18:58] knobsdao commented on #723
Legacy TEC contribution tags: ![Screen Shot 2021-04-13 at 2.56.17 PM.png](https://images.zenhubusercontent.com/5f9b35816d32216fe3d07c7e/d1596b82-7ec7-4348-9e42-d4f54682cbce)

[2021-04-13 18:58] jessicazartler commented on #723
Maybe one more - fundraising
Not just swag design but maybe graphic design / animation

[2021-04-14 08:46] iviangita commented on #642
My understanding is that there will be no co-lab sessions in the meantime due to Danilo's limited availability - please refer to the screenshot below :)

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/cd78a085-fa87-4ab3-b17d-8fea13d5b28d)

[2021-04-14 19:44] Jeff-Emmett commented on #642
I have cancelled the next live coding session, we can revisit in early May
when we would like to continue these sessions.

On Wed, Apr 14, 2021 at 4:46 AM iviangita ***@***.***> wrote:

[2021-04-15 10:13] iviangita opened #767 "Prepare evergreen content tracker for Twitter"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@tamarandom @jessicazartler

## 🔗   Work doc - inspirational links

[2021-04-16 14:23] tamarandom opened #768 "Mini-case study / Mission, Vision, Values"

[2021-04-16 14:23] tamarandom opened #769 "Mini-case study / Roadmap"

[2021-04-16 14:23] tamarandom opened #770 "Mini-case study / Decision Making"

[2021-04-16 14:23] tamarandom opened #771 "Mini-case study / Roles (Stewards, Contributors, SME)"

[2021-04-16 14:23] tamarandom opened #772 "Mini-case study / Code of Conduct"

[2021-04-16 20:32] jessicazartler commented on #692
Finished! :D Will post/host on our CS linkedin and circulate via Twitter and channels on Monday - thank you again @tamarandom for your support/editing!

[Commons Stack_Content Distribution Manager Job Description.pdf](https://github.com/commons-stack/iteration0/files/6327748/Commons.Stack_Content.Distribution.Manager.Job.Description.pdf)

[2021-04-19 15:10] liviade1 commented on #723
Thanks @jessicazartler!
@knobsdao I updated the initial comment with the suggestions. If you think is good we can add to the typeform

[2021-04-19 16:47] jessicazartler commented on #757
Thank you so much @knobsdao for your time!!!! I will leave this open until I complete the first run through/iteration of updating/creating the new spreadsheet based on your recommendations

[2021-04-19 16:56] jessicazartler opened #773 "Computer-Aided Governance Tweet Thread"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Draft Tweet thread in Chirapp
- [ ] Jeff review w/ Jess
- [ ] Publish on Twitter

## 🤼‍♂️   Reviewer

@Jeff-Emmett @GriffGreen

## 🔗   Work doc - inspirational links

[2021-04-19 16:58] jessicazartler commented on #647
@krisjpi what is a good target send date? So I can prioritize the TS #5 edit accordingly

[2021-04-19 17:05] jessicazartler opened #774 "Review Reject/Review TS Application email"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/14IvBY-gi6gH3GKa9nqxvKtRy7l0UEB6rmFKIr78bIxg/edit

[2021-04-19 17:13] tamarandom opened #775 "CSTK token minting 🌱"
## 📋   Anything to add?

🌱

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-19 17:19] liviade1 opened #776 "Update FAQ"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-19 17:24] tamarandom opened #777 "What is a Hatch article"
## 📋   Anything to add?

(will drop link)

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-19 19:27] jessicazartler commented on #692
Posted on Linkedin https://www.linkedin.com/feed/update/urn:li:activity:6789990972676812800/

Passed to Ivy for Twitter, and once it Tweets - will post it around in channels - thanks team!!

[2021-04-20 20:47] jessicazartler commented on #774
Added comments @knobsdao nice work!!! :D Let me know if you need any further support

[2021-04-20 20:47] #774 closed

[2021-04-20 21:17] tamarandom commented on #751
Hallelujah I have done it! 😇  Comments in the doc.

It's absolutely excellent @Jeff-Emmett and @jessicazartler

[2021-04-20 21:17] #751 closed

[2021-04-20 21:18] tamarandom commented on #543
Reviewed and find it excellent. Left some minor comments. 😇

[2021-04-20 21:24] tamarandom commented on #746
@GriffGreen We can transfer her personal CSTK score to the new address, right?

[2021-04-20 21:29] tamarandom commented on #746
Communicated to Angela.
@knobsdao can you be on the lookout for an application from conectopia UG and make sure it all goes smoothly for her please?

[2021-04-20 21:29] #746 closed

[2021-04-20 21:32] tamarandom commented on #583
Going to save us $70 in gas and go Mar & April in one milestone at the end of this month.

[2021-04-20 23:39] jessicazartler commented on #751
Woop woop! you da bestest <3

[2021-04-21 14:25] knobsdao commented on #723
I'm happy with the categories, they are on point and practical. Want me to go ahead and do the Typeform update @liviade1? Glad to.

[2021-04-21 22:49] tamarandom commented on #733
Hey @krisjpi - Might you have an ETA for when the Praise PDF will be available on our website? (or is it already!?)

Could we some something very simple like on commonsstack.org that we can use to share it with other? (It's also going to be linked in the 2021 direction article).

Something like: commonsstack.org/case-study-praise.pdf

[2021-04-22 03:59] iviangita commented on #692
UPDATE! Worked on the tweets with Jess and have scheduled them as well on Wednesdays and Sundays until May 15th :)

_Version 1:_
📣JOB OPENING: CONTENT DISTRIBUTION & SOCIAL MEDIA MANAGER

Do you have digital content management experience in web3? Are you passionate about changing the world?

Join us & explore endless opportunities to grow & make an impact🌱

To learn more & apply: https://www.linke

[2021-04-22 07:22] krisjpi commented on #733
Just finished the mapping/email/publishing! We have it live here: https://commonsstack.hubspotpagebuilder.com/praise-case-study
However, I haven't connected it to the website yet. We can use that link for now, but I will work on setting up a simpler address that we can set to forward there.

Please test the form and email and let me know if there are edits needed or bugs needing to be squashed!

[2021-04-22 14:46] jessicazartler commented on #692
Awesome!! Thank you @iviangita :D

[2021-04-22 17:43] tamarandom commented on #733
Tested! (It arrived and one thing to note is that the email sender name is Kris Jones not Commons Stack)

Can having a look at the site + copy be added to the Comms Agenda to look at again, please!

[2021-04-22 18:05] Jeff-Emmett commented on #733
Hey Kris, this looks great!  Would be awesome to see a simplified URL when
you have the time to set that up.

Another thought I had was whether we needed so many fields for the
download, just thought it might turn some ppl away vs a simple email field.

Also happy to help streamline copy & fine print on the page if needed -
noted for discussion in the next comms call.  Great stuff!

On Thu, Apr 22

[2021-04-22 18:45] krisjpi commented on #733
Yeah, I had left the email from me as I simply fit the template which asked for a rep from the organization to sign it. Definitely can switch it to all show as coming from the CS generally.

As for the fields, we can definitely eliminate some! Although, none of the fields except for Email are required, so it's possible to only submit the email and still get the PDF. Keeping the other fields will h

[2021-04-22 20:03] jessicazartler commented on #733
A/B is always great.. One more thought - you could leave a few of the other fields and there's usually an option to show "optional" inside of them or next to.. nice work Kris!!!

[2021-04-23 10:37] tamarandom opened #778 "Hiring! Distribution & Social Media Manager"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-23 10:37] tamarandom opened #779 "Review CVs"

[2021-04-23 10:37] tamarandom opened #780 "Schedule & hold interviews"

[2021-04-23 10:38] tamarandom opened #781 "Group review of top candidates"

[2021-04-23 10:38] tamarandom opened #782 "Hire the person"

[2021-04-23 10:38] tamarandom opened #783 "onboarding new hire"
Reviewers @tamarandom @iviangita @hanners717

[2021-04-23 10:41] iviangita commented on #692
Closing! Tam created separate issues for the remaining tasks under [Epic 778](https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/issues/commons-stack/iteration0/778)

[2021-04-23 10:41] #692 closed

[2021-04-23 10:42] tamarandom commented on #729
Hey @krisjpi Can you drop an update in here!

[2021-04-23 10:44] tamarandom commented on #486
Hey @krisjpi  Can you drop an update in here please?

[2021-04-23 10:44] tamarandom commented on #595
Hey @krisjpi Is this done? Do you need a hand with this?

[2021-04-23 13:55] #750 closed

[2021-04-23 15:07] GriffGreen opened #784 "Figure out backpay for Jeff and Griff details"
## 📋   Anything to add?
Probably will use Fei to pay it off when that "bond" matures

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-23 15:14] #730 closed

[2021-04-23 15:16] liviade1 opened #785 "Craft MVV newsletter for the Trusted Seed"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] https://docs.google.com/document/d/1KO1UTUsYx-4nQ_WHcov5YvIvDs4WTcuM7QGf7A9gdIg/edit
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-04-23 15:18] GriffGreen commented on #699
![Screen Shot 2021-04-23 at 8.14.57 AM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/aa9ea277-8d79-48f0-8f59-78e4b16b9606)

Yay!! Finally got the data.

[2021-04-23 16:18] #319 closed

[2021-04-26 08:54] iviangita commented on #767
Done! Please see "Evergreen Content" tab in this spreadsheet: https://docs.google.com/spreadsheets/d/1QJnratmpodDOuTY-21Lgr6wHr8AK4BOBa-cBI37rHNo/edit?ts=601004ae#gid=1031817319

[2021-04-26 10:12] tamarandom commented on #758
Team, I think we should close this now and if we come back to the idea, we can open a new issue then.

[2021-04-26 10:21] tamarandom commented on #721
@jessicazartler @Jeff-Emmett Is there more left to be done for this issue? Are there other calls besides cadCAD that will need recorders planned?

[2021-04-26 10:22] tamarandom commented on #657
@jessicazartler You've done this, right? Those great infographics added to the beginning.

[2021-04-26 10:24] tamarandom commented on #767
This is FANTASTIC! @jessicazartler have a look. Thanks @iviangita.

[2021-04-26 10:24] #767 closed

[2021-04-26 11:08] tamarandom commented on #756
I opened this issue as it came out of a previous retro but now question it's existence. 😂

Should we close it or is this a useful reminder to the meme party planners, @GriffGreen ?

[2021-04-26 11:11] tamarandom commented on #697
@jessicazartler Yes, definitely! We can keep this a monthly repeat.

[2021-04-26 15:04] GriffGreen opened #786 "Audit the Trusted Seed"
## 📋   Anything to add?

@GriffGreen hopes to help like a lot with this one :-D

## 🎉   Subtasks

- [x] Figure out how to track if they have Activated
- [x] Transparency list (104!!!)
- [x] Look for sybil "attacks" on Transparency list
- [x] Create a burn list
- [x] Talk to Kristofer and Merlin about the Swiss Membership DApp
- [x] Make a spec for the changes to the membership dapp
- [x] Create a

[2021-04-26 15:11] GriffGreen opened #787 "Communicate about the Burning!"
## 📋   Anything to add?

Make it into a new opportunity to push the "Activate your Trusted Seed Membership" idea

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@Jeff-Emmett @jessicazartler @knobsdao

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1sgFpFslPzy-SdISE-AMdawNkscp8vNXuEiXi8OP52Iw/edit?usp=sharing

[2021-04-26 16:05] GriffGreen opened #788 "Prioritize Meme Utilization"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-26 16:06] #723 closed

[2021-04-26 16:06] #785 closed

[2021-04-26 16:19] tamarandom commented on #9
Update :
Have list of 99 paid membership members.
Good candidate for the first round of TS audit.
Output: publish the High Score TS list.

[2021-04-26 16:23] tamarandom commented on #775
Update : It happened ;)

[2021-04-26 16:25] liviade1 opened #789 "enspiral panel on may 6th"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-26 16:26] #379 closed

[2021-04-26 16:28] #502 closed

[2021-04-26 16:35] #748 closed

[2021-04-26 16:42] Jeff-Emmett opened #790 "Gitcoin donation sorting (ZKstuck) with Jeff & Griff"
## 📋   Anything to add?
Could use Griff's help sorting some Gitcoin ZKStuck issues from a few rounds back!

## 🎉   Subtasks

- [x] cadCAD grant
- [x] Conviction Voting grant
- [x] Crypto Commons Gathering grant

## 🤼‍♂️   Reviewer

@GriffGreen

## 🔗   Work doc - inspirational links

[2021-04-26 16:44] GriffGreen commented on #371
@krisjpi do you have a link to the Praise study?

[2021-04-26 16:47] #348 closed

[2021-04-26 16:50] jessicazartler opened #791 "Participate w/ Livia on Enspiral Panel May 6"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Send bio & photo to & Anna-Marie
- [ ] Crowdsource talking points / prepare slides or graphics
- [ ] Participate
- [ ] Send recording to Comms for distribution process

## 🤼‍♂️   Reviewer

@liviade1 @krisjpi

## 🔗   Work doc - inspirational links

[2021-04-26 16:52] jessicazartler opened #792 "Edit & Make Graphics for Jeff's Hatch Piece"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Edit & Review article
- [x] Create two graphics - 1) launching in 2 parts 2) Steps 1-4 (simplify Tam's graphic)
- [ ]

## 🤼‍♂️   Reviewer

@Jeff-Emmett @tamarandom @GriffGreen

## 🔗   Work doc - inspirational links

[2021-04-26 16:53] jessicazartler commented on #543
I put it on Medium - publishing today - then putting in distribution pipeline - thanks everyone!

[2021-04-26 16:55] GriffGreen commented on #382
Would love to connect discord....

[2021-04-26 17:00] GriffGreen opened #793 "Update the ABC sim terminology to match the TEC Hatch Process"
![Screen Shot 2021-05-24 at 10.36.53 AM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/132f2535-243a-4265-b009-63b226842447)

Can we change

1. "Hatch Tribute" to "Commons Tribute"

2. "Post-Hatch price (DAI/token)" to "Open Price (DAI/token)"

3. "Vesting curve" to "Lockup Curve"

[2021-04-26 17:00] jessicazartler commented on #697
Thank you :D and thank you @iviangita !!!

[2021-04-26 17:02] jessicazartler commented on #721
Not at this time.. but there could be some emergent ones.. I was thinking we table this process building until we get the new distribution person - so perhaps we could put this on icebox? Or close and do an epic for recording -- and put issues inside for specific collaborations/projects/community calls.. I defer to you :D OB-Github-Kenobi

[2021-04-26 17:03] GriffGreen commented on #761
lulu.com

[2021-04-26 17:03] jessicazartler commented on #657
Yes, I think this is finished for now :D Thank you!

[2021-04-26 17:03] #657 closed

[2021-04-26 17:04] jessicazartler commented on #767
I saw - balllllerrrrr! We will chat in Comms meeting tomorrow about supporting you in going through content creation for all that -AMAZING job and thank you Ivy!

[2021-04-26 17:06] GriffGreen commented on #759
Office hours!

[2021-04-26 17:07] #543 closed

[2021-04-26 17:08] jessicazartler commented on #754
Sooo... I was talking to Jeff about this over the weekend.. he doesn't think the academic paper/praise case study is good and would put people to sleep haha

So what do we think would be good to start with @krisjpi ??

[2021-04-26 17:08] GriffGreen opened #794 "Iteration 0 Monthly Budget"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-26 17:09] GriffGreen commented on #794
Doining back pay with @Jeff-Emmett this month

[2021-04-26 17:10] GriffGreen opened #795 "Post "what is Hatch" "why" article"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-26 17:10] GriffGreen commented on #795
@tamarandom

[2021-04-26 17:12] #760 closed

[2021-04-26 17:24] GriffGreen commented on #643
Need to organize and make a doc for this

[2021-04-26 17:26] knobsdao opened #796 "Check TS for UX/UI designers / audio wizards"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Check from a database mail campaign perspective
- [ ] Check from a 1-1 perspective
- [x] Provide a list to the team

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-26 20:38] jessicazartler commented on #684
Thank you @GriffGreen !!!!! FINISHED! POAPs awaaaaaaaayyyyyyyyy! <3

[2021-04-26 20:38] #684 closed

[2021-04-26 22:28] jessicazartler commented on #697
Promoted in our Telegram -- set alarm to promote 1hr before as well

[2021-04-27 09:32] tamarandom opened #797 "Commons Stack support Ata on TEC Case Study"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-27 23:37] GriffGreen opened #798 "Get a bot that updates a spreadsheet with onchain Trusted Seed data (Holdings and Registry)"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-27 23:50] GriffGreen opened #799 "Make an automated solution for people to figure out their Trusted Seed address"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-04-28 01:19] jessicazartler opened #800 "Commons Stack Case Study by Felix Medium"
## 📋   Anything to add?

Jeff had a brilliant idea to do to Felix's paper what he did for his.. it's up on Medium, now we can distribute.

## 🎉   Subtasks

- [x] Write 1-2 tweets
- [ ] Send out in TG/Discord Channels
- [x] Put Tweet in Evergreen rotation here:
https://docs.google.com/spreadsheets/d/1QJnratmpodDOuTY-21Lgr6wHr8AK4BOBa-cBI37rHNo/edit?ts=601004ae#gid=1031817319

## 🤼‍♂️   Reviewer

@J

[2021-04-28 14:49] laurenluz opened #801 "Distribute Commons Simulator Deep Dive Part 2"
## 📋   Anything to add?
Need to publish on medium, then draft posts & tweets and share in all channels.

## 🎉   Subtasks

- [x]  Publish on Medium
- [x] Write 2 Tweets
- [x]  Tweet
- [ ]  CS newsletter
- [x] Put in evergreen distribution pipeline here:
https://docs.google.com/spreadsheets/d/1QJnratmpodDOuTY-21Lgr6wHr8AK4BOBa-cBI37rHNo/edit?ts=601004ae#gid=1031817319

Distribute Tweet in channels:

[2021-04-28 23:02] laurenluz commented on #801
Draft submitted by @marthendalnunes to the Commons Stack and is ready for publishing.

Tweets and shills drafted here:
https://docs.google.com/document/d/1NaHpNteot2KQrdejODXiGLhLyh5lKeP7_ApHJIQ2Bpw/edit

[2021-04-29 00:02] jessicazartler commented on #792
Done! Thank you @tamarandom for all of your hard work and collaboration on this!
It's all here https://medium.com/commonsstack/whats-in-a-hatch-3799a398243a

[2021-04-29 00:02] #792 closed

[2021-04-29 00:03] jessicazartler commented on #777
Article published - moving to distribution! Great team work @tamarandom & @Jeff-Emmett !!

https://medium.com/commonsstack/whats-in-a-hatch-3799a398243a

[2021-04-29 00:17] jessicazartler commented on #741
This is ready to hit publish COMLETELY FINISHED - we pushed Hatch piece instead, so will wait a few days to space out content - thanks! :D

[2021-04-29 00:17] jessicazartler commented on #800
Jeff and I will write tweets for this and put in evergreen pipeline to tweet out over the next weeks

[2021-04-29 00:22] jessicazartler commented on #697
No one showed up - so no need for distribution... closing for April round.. will send out in newsletter next month to see if this makes a difference.. otherwise all good :D thanks everyone!

[2021-04-29 00:45] iviangita commented on #800
Hi @jessicazartler I've already added it in the evergreen content tracker under the Research Papers section. I also drafted 1 tweet for it that's scheduled to go out on May 3. Feel free to edit or add new wording. :)

https://docs.google.com/spreadsheets/d/1QJnratmpodDOuTY-21Lgr6wHr8AK4BOBa-cBI37rHNo/edit?ts=601004ae#gid=1031817319

[2021-04-29 11:39] MrsBadgerface commented on #776
Hey @liviade1 @tamarandom

Question: I'm starting working on this by looking through the current FAQs and I wanted to run something by you both.

I've been reading through the questions and answers already on the site and I don't really understand much of the answers, which surprised me because I thought I did have a good grasp of what CS does and is for.

There's a lot of phrasing and terminology

[2021-04-29 12:46] liviade1 commented on #776
Thanks for opening this point @MrsBadgerface! I agree with you, it is important to have concepts explained in the simplest way possible and everyone can benefit from it. We could probably use part of the next comms meeting to discuss rephrasing some of this terminologies. Also feel free to add suggestions and to shape them as you think is best and we can have a round of reviews. @krrisis

[2021-04-29 12:49] MrsBadgerface commented on #776
Cool. What if I had a go at rephrasing them in a way that would make sense to me? Or, does that feel like I'm shifting the intention of this issue?

[2021-04-29 21:53] jessicazartler commented on #800
Awesome, thank you so much Ivy for taking the initiative!! Going forward, would you mind dropping any content that needs review in the to be scheduled tab to keep it all in one place? I just added some as well, and highlighted for Jeff's review.. so maybe if we can put there and highlight yellow for needs review... then we can change to green when it's ready? What do you think?

And also perhaps w

[2021-04-30 00:41] GriffGreen commented on #786
Make the Transparency list part of the Membership DApp ... Talk to Kristopher

[2021-04-30 01:34] iviangita commented on #800
@jessicazartler that's great! Thanks for helping improve the process! 🙏

[2021-04-30 08:11] MrsBadgerface commented on #776
Here's what I've started:

https://docs.google.com/document/d/1gpaOZVPWytc-rRHk9gwkjDLR18BIUoB9V9iCA9k0efY/edit?usp=sharing

I wanted to run it past you before continuing, in case my style doesn't feel like a good fit. If it does, happy to keep going.

[2021-04-30 20:05] jessicazartler commented on #741
Medium link https://medium.com/commonsstack/zen-and-the-art-of-understanding-commons-stack-f5266b300912

[2021-04-30 21:06] jessicazartler commented on #779
@GriffGreen @tamarandom
I posted it on Crypto Jobs List:
https://cryptojobslist.com/jobs/content-distribution-social-media-manager-at-the-commons-stack-remote
@iviangita so you are aware --- we should be receiving 4 Twitter mentions from @CryptoJobsList if you want to watch out for those and RT - would appreciate it :D thank you all!

[2021-05-01 02:35] knobsdao commented on #745
Closing this issue. Email model requesting more information can be found here: https://docs.google.com/document/d/14IvBY-gi6gH3GKa9nqxvKtRy7l0UEB6rmFKIr78bIxg/edit?usp=sharing

[2021-05-01 02:35] #745 closed

[2021-05-02 02:22] #631 closed

[2021-05-03 15:02] liviade1 commented on #776
Hi Anna! sorry I just saw your message now. I forwarded to @jessicazartler and @krisjpi to also take a look at the style and will get back to you soon :)

[2021-05-03 16:08] jessicazartler commented on #573
I did two new ones in these two articles:

https://medium.com/commonsstack/zen-and-the-art-of-understanding-commons-stack-f5266b300912
https://medium.com/commonsstack/whats-in-a-hatch-3799a398243a

Would be great to combine/synthesize these ones @krisjpi

And maybe @tamarandom @liviade1 we could ask Anna Marie Swan if she would be up for this one too?

[2021-05-03 17:12] jessicazartler commented on #776
@MrsBadgerface here is a new article that could also help in this process:

https://medium.com/commonsstack/zen-and-the-art-of-understanding-commons-stack-f5266b300912

[2021-05-03 19:40] jessicazartler commented on #776
Will have a look in the next few days and circle back here.. thanks!

[2021-05-03 22:32] krisjpi commented on #647
Sent out Monday May 3rd.

[2021-05-04 01:52] jessicazartler commented on #647
Woop woop!

[2021-05-04 10:38] tamarandom commented on #756
The meme parties are on lock. Closing this issue.

[2021-05-04 10:38] #756 closed

[2021-05-04 10:39] tamarandom commented on #583
Phew! did it.

[2021-05-04 22:01] laurenluz commented on #801
This was published on medium today: https://medium.com/commonsstack/the-magic-behind-the-commons-simulator-part-2-initialization-93da1b8b3abe

I can't add it to the evergreen list because I don't have access to that doc

@iviangita - can you schedule the tweets for tomorrow AM EST? I made a 4-part tweet thread here: https://docs.google.com/document/d/1NaHpNteot2KQrdejODXiGLhLyh5lKeP7_ApHJIQ2Bpw/ed

[2021-05-05 12:05] iviangita commented on #801
Hey @laurenluz sure I'll post the tweets today and add it to the evergreen content as well :)

[2021-05-06 08:30] krisjpi commented on #323
Comms and CS dDev are now connected to Discord!

[2021-05-06 08:30] #323 closed

[2021-05-06 10:21] tamarandom commented on #658
@jessicazartler @GriffGreen @krisjpi : Looks like this can be closed now, right?

[2021-05-06 10:24] tamarandom opened #802 "Trusted Seed risk mitigations"
## 📋   Anything to add?

The Sprint 13 Retrospective highlighted where the TS can be strengthened.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-06 13:45] jessicazartler commented on #658
Actually, @GriffGreen @krisjpi we never announced the final PAN results... are those out? We could include it in our next newsletter as a small mention. Otherwise, it is all wrapped - just want to keep this as a template for the next round (I added the recurring by monthly label). Thanks @tamarandom !

[2021-05-07 15:14] knobsdao commented on #802
For point number #2 "Investigate method of vouching for new members (similar to moloch)", @GriffGreen and I added two questions to the Typeform:

Do you have any friends already in the Trusted Seed?
If you feel comfortable please share their names and/or handles (Twitter, Telegram, Discord, GitHub).

Do you want to recommend someone to join the Trusted Seed?
If you feel comfortable please share th

[2021-05-07 16:33] Jeff-Emmett commented on #777
https://medium.com/commonsstack/whats-in-a-hatch-3799a398243a

[2021-05-07 16:35] Jeff-Emmett commented on #800
https://medium.com/commonsstack/a-case-study-of-the-commons-stack-17abe7cbbc9e

[2021-05-07 19:03] Mettodo commented on #151
Hello! I have been exploring 1hive for some weeks and this task would be a nice way to gain more experience. Does it still make sense? I guess the rewards @GriffGreen suggested should be reviewed, right?

[2021-05-07 20:32] jessicazartler commented on #643
Doc we can use for promotions from James https://docs.google.com/document/d/13A6vI2b5q_cwuDFmduAf2iQSpKQjDeQrWyKAcd0JSUA/edit#heading=h.1qi2fu6due1b

[2021-05-07 21:21] jessicazartler commented on #780
Set the first interview for next Wednesday with a great candidate!! :D Jeff and I will interview together, if they pass the first round, will ask @iviangita @krisjpi to maybe take the second interview and/or w/ @tamarandom if you would like to be involved lmk we can chat about the best process

[2021-05-08 04:21] GriffGreen commented on #151
I will forward this issue to church and see what he thinks

[2021-05-09 16:42] laurenluz commented on #801
Shared in all the channels, just needs to go on the CS newsletter - closing this :)

[2021-05-09 16:42] #801 closed

[2021-05-10 08:25] #733 closed

[2021-05-10 10:22] tamarandom opened #803 "TS risk mitigation: invite the ID people who are members of the TS to a closed call"

[2021-05-10 10:22] tamarandom opened #804 "TS risk mitigation: Investigate method of vouching for new members (similar to moloch)"

[2021-05-10 10:26] iviangita commented on #697
Hi @jessicazartler do we already have a new date for the next AMA? :)

[2021-05-10 10:32] tamarandom opened #805 "Get the swag in the hands of the people"
## 📋   Anything to add?

Since we switched from notifying new Swiss Mem activations by Telegram and Discord to Email, we've had a drop in the number of people that are actually collecting their swag. Two new members asked us about their swag even though the email went out to them.

Could be people aren't using their email or that our email gets caught in the spam.

The numbers look like 50% of new

[2021-05-10 10:35] tamarandom commented on #805
Hey Team! @iviangita agreed to take this on this sprint. 💪🏽

[2021-05-10 14:12] jessicazartler commented on #800
Re-opening for @iviangita and I to distribute in TG / Discord channels - we are discussing best process for this going forward

[2021-05-10 15:23] jessicazartler commented on #777
Shilled in Discord channels - closing - would be good @tamarandom if there is a TEC newsletter to put it in there.. but gonna close it for now - thanks everyone - great work!!

[2021-05-10 15:46] jessicazartler commented on #697
Thank you Ivy for the reminder - will talk to the team about it today and circle back - thanks! :D

[2021-05-10 16:45] GriffGreen opened #806 "Confirm a schedule for Burning"
@Jeff-Emmett is writing a blog post...

@tamarandom can coordinate the cslove airdrop with the burn

[2021-05-10 16:47] #804 closed, assigned to nobody

[2021-05-10 16:55] GriffGreen commented on #766
Need onboarding, will be a call inviting @krisjpi

[2021-05-10 16:58] GriffGreen commented on #739
Sched a work sesh with @liviade1 @krisjpi @jessicazartler

[2021-05-10 17:02] #119 closed

[2021-05-10 17:23] Jeff-Emmett opened #807 "Submit TEC forum post on IH distribution & weigh in on params!"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@tamarandom

## 🔗   Work doc - inspirational links

https://docs.google.com/document/d/1-1UuZxfBuXWYZu6WkqAqzovlbbrzsuE3WMKjv4USoLg/edit?usp=sharing

[2021-05-10 17:24] jessicazartler commented on #800
Getting sent out in TG/Discord next Monday by Ivy - already on Twitter calendar/evergreen list

[2021-05-10 17:29] GriffGreen commented on #643
Bringing in Renzo...

Might bring in @liviade1

Z is presenting ABC

[2021-05-10 17:40] GriffGreen commented on #795
Continuous funding!

[2021-05-10 17:42] GriffGreen opened #808 "Make a Param Submission!!!"
Party Times
https://medium.com/token-engineering-commons/the-token-engineering-commons-hatch-your-economy-your-choice-354926284281

[2021-05-10 17:50] jessicazartler commented on #741
Ivy will distribute in TG/Discord channels this THURSDAY

[2021-05-10 18:09] jessicazartler commented on #808
Thank you @GriffGreen for making this!! :D

[2021-05-10 19:08] jessicazartler commented on #742
Suggestion to @krisjpi to put in the next newsletter

Jeff will schill in Discord channels next Wednesday May 19

[2021-05-11 19:45] jessicazartler commented on #787
Jeff scaffolded @krisjpi to write @knobsdao to edit
Then it gets sent with email campaign Dan wrote about the burn
Target DEADLINE THURSDAY to be going out??

[2021-05-11 22:13] knobsdao commented on #787
Thursday is a great target, @jessicazartler. I'll have a better understanding of my times tomorrow, but aiming to make any neccesary arrangements to get this done!

[2021-05-12 13:03] tamarandom commented on #742
Shill shill shill!

[2021-05-12 13:04] tamarandom commented on #795
@GriffGreen Can you make next Wed, 5/19 @ 5pm for a scaffolding session on this?

[2021-05-12 13:09] tamarandom commented on #780
I trust you all implicitly! Looking forward to meeting our new team mate!

[2021-05-12 16:08] tamarandom commented on #629
@skylar745 @kristofer and I talked this morning! They'll meet tomorrow morning to look at this together! 👍

[2021-05-17 09:03] tamarandom opened #809 "Modify peer/self review form for TEC contributors"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-17 09:04] tamarandom opened #810 "Kick off the review process for CS compensated TEC contributors"
In coordination with @GriffGreen and @liviade1.

[2021-05-17 09:04] tamarandom opened #811 "Review process for TEC contributors compensated by CS"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-17 10:36] iviangita opened #812 "Short blog post for claiming CSLOVE"
## 📋   Anything to add?

Can we add a section in the website or create a page as a quick reference on the step-by-step process of getting CSLOVE Swag? So we can have a link that we can share on Twitter or on Discord when people ask or so they don't have to dig their emails just to find the process.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-17 13:29] MrsBadgerface commented on #776
@jessicazartler @liviade1 @krisjpi Just giving you a nudge re. this. No rush at my end (if you're all busy focusing on hatching things) but am here and ready to move forwards with these if my style/idea of a non-tech focused FAQs works for you?

[2021-05-17 15:11] jessicazartler commented on #776
Thank you for the nudge! Will have a look at this doc today and circle back.. 🙏

[2021-05-18 19:47] jessicazartler commented on #697
WEDNESDAY May 26 @ 11am - KrisJ Hosts
Theme: AMA The First Commons Hatch - The TEC
Let's send email announcement Monday May 24 w/ calendar invite @krisjpi
@iviangita if you can prepare the calendar/Tweets

[2021-05-18 19:48] liviade1 commented on #776
Hi @MrsBadgerface thanks so much for poking us! I really like having accessible materials. One of our thoughts on the language was that it's really helpful to reach an audience that is not tech savvy and we could even transform into a blog piece. We also have a notion page with a journey people can take to learn about the Commons Stack so the non-tech focused FAQ could be a part of it https://www.

[2021-05-19 01:31] knobsdao commented on #739
From Discord: Hey, @Kris#8703! Ivy and I were chatting about CSLOVE just now, and she had a great idea to include a claim reminder on the Trusted Seed gated channels as part of the pinned messages plan.

[2021-05-20 10:39] tamarandom commented on #812
Is there someone else that can do this!? I won't be able to get to it right away without displacing another priority!

[2021-05-20 19:13] knobsdao commented on #806
Picked next Tuesday 25th at 9 pm EST for a Burn Hack Sesh and the following Thursday at 9 am EST to finalize the Burn and populate the Registry - this is Griff and me. It follows the work being done on the Membership DApp and Thurs' meeting precedes a "Swiss Membership DApp Switch Over" session.

[2021-05-21 06:43] #740 closed

[2021-05-21 06:44] krisjpi opened #813 "Clean up icons in footer of website - find a new set that includes Discord"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-21 06:46] krisjpi commented on #738
the website has the following in the code block:

    <div id="root"></div>
    <script src="https://drive.google.com/uc?export=download&id=1ykyYHRcRA6071OOkVVALz4ymfIjeKSC2"></script>
    <script src="https://drive.google.com/uc?export=download&id=1CttCBQbRy6Pvb4cnFSnOgrJjrBcueLAF"></script>
    <script src="https://drive.google.com/uc?export=download&id=1-cU7mTjjRgxdsR-mU7n1S42ccXMsSW-J"></scrip

[2021-05-21 14:26] tamarandom opened #814 "DNS for swag.tecommons.org"
DNS for swag.tecommons.org

I had a quick look but the TEC dns is setup differently than CS and it's not immediately evident how to make this change. @krisjpi can you take a look at this please?

![photo_2021-05-21_14-48-12.jpg](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/0cc4b826-2827-4de2-afd9-8b3ce1caa58b)

[2021-05-21 15:37] jessicazartler commented on #588
@tamarandom @GriffGreen submitted milestone for April (Sorry so late!!!) - Thank you! 🙏🐣
https://beta.giveth.io/milestone/jess-milestone-for-communications-and-ecosystem-development

[2021-05-21 15:58] tamarandom commented on #450
Kate and I had a very good conversation today. Although she is not able to take this on personally, she will propose another person on the GreaterThan team.

[2021-05-21 16:05] #800 closed

[2021-05-21 16:17] #807 closed

[2021-05-21 16:18] #672 closed

[2021-05-23 17:22] MrsBadgerface commented on #776
Hey @liviade1 Thanks for getting back to me. Apologies for the late response - I haven't been feeling well so I'm taking a bit of time off to just rest. I think I've hit a bit of a wall with everything happening with lockdowns etc. and am just a bit rundown. If it's OK, I'll check in with you on how I'm feeling at the end of this week and let you know where I'm at.

[2021-05-24 08:50] #743 closed

[2021-05-24 10:16] tamarandom commented on #499
We will need another dev person to tackle this!! Going to tag it For Contributors!

[2021-05-24 10:18] tamarandom commented on #626
An address change and an address verification. Nothing major this Sprint.

[2021-05-24 10:19] tamarandom commented on #797
Could have done better with the Roles doc. Looking forward to reviewing and giving feedback on that in the next Sprint.

[2021-05-24 10:22] tamarandom commented on #809
This is being done by Hannah. Will assign it to her when she has a github account.

[2021-05-24 10:29] tamarandom commented on #630
Done a while ago. Closing this Epic!

[2021-05-24 10:29] #630 closed

[2021-05-24 10:34] tamarandom commented on #808
![Screen Shot 2021-05-24 at 12.34.15 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/41437a1e-9ae3-471a-b364-3498b640fd00)

[2021-05-24 10:34] #808 closed

[2021-05-24 15:26] liviade1 commented on #545
https://docs.google.com/document/d/1r7m0LM6gKPFQyVhZgPpeaUiqUzUNqKZQYe6VwjlPCGU/edit

[2021-05-24 15:29] liviade1 opened #815 "polycentric governance and culture presentation at Near hackathon"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] prepare slide deck with @jessicazartler
- [x] sync with Jeff and renzo
- [x] pick a date
- [x] present

## 🤼‍♂️   Reviewer

## 🔗   Work doc - inspirational links
https://docs.google.com/presentation/d/1oIbHKhEjA_88tzNi6ruu6jHWawD8u_qBh6oPoio8_tU/edit

[2021-05-24 15:30] liviade1 opened #816 "onboard Nate into the case studies"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-24 15:31] liviade1 opened #817 "Review of the mini case studies"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Review the last 5 pieces in the pipeline
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-24 15:32] liviade1 commented on #809
Should we create issues for us as well? will the reviews happen this sprint?

[2021-05-24 15:34] tamarandom commented on #812
@iviangita is working on a simple graphic for this for immediate purposes.

@Jeff-Emmett do you think that I (or @iviangita ) can add the instructions to our Notion? It feels like that would be a lot faster than adding it to our website.

What do you think, @krisjpi? How easy is it to add a new page to the site right now? Is there a tool we're using to do that?

[2021-05-24 15:39] tamarandom commented on #809
You mean reviews for core CS peer & self reviews? There is an issue for that, #389, but it has not yet made it into a Sprint.

[2021-05-24 15:47] liviade1 commented on #809
no I mean for the TEC contributors we listed last week. Should I create an issue as well for filling their review, or hosting sessions with anyone? Might be better to chat quickly about what are the next steps :)

[2021-05-24 16:13] jessicazartler commented on #766
Call scheduled for this Friday - bringing in @krisjpi to talk about the onboarding/tech involved in the gov token distribution and solidify our agreement - CS team chat needs to look at how we would distribute these tokens

[2021-05-24 16:14] GriffGreen opened #818 "Educate the community about the Hatch via param parties"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-24 16:15] GriffGreen opened #819 "Educate the community about the Hatch via param parties"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-24 16:16] tamarandom commented on #194
Leaving in the product backlog but of interest to all to get some love on this during this sprint.

[2021-05-24 16:16] GriffGreen opened #820 "On boarding Vitor to own the github board for the Commons Swarm"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-24 16:18] GriffGreen opened #821 "Support the data aggregation for the IH praise study."
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-24 16:20] jessicazartler commented on #318
Going to get Peter (Heater) into our Github to take this on - sent msg in Core Team Discord to ask for permission/add him

[2021-05-24 16:21] jessicazartler commented on #656
I want to FINISH THIS!

[2021-05-24 16:22] GriffGreen opened #822 "Spending lots of time reviewing case studies!"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-05-24 16:22] tamarandom commented on #9
Closing this. This list exists and is being updated frequently.

The idea for a leaderboard is excellent but can be a new issue that is opened and Dan is creating an issue is the Swiss Mem dApp repo to add a leaderboard (or something similar) as a feature for the TS Dashboard.

[2021-05-24 16:22] #9 closed

[2021-05-24 16:24] jessicazartler commented on #741
Done and DONE! Moved to Evergreen pipeline..
Thank you @iviangita for your support!

[2021-05-24 16:24] #741 closed

[2021-05-24 16:25] jessicazartler commented on #757
Would like to put a little more work into this leading up to hiring our distribution person to take on this organizing for developing a content sharing network

[2021-05-24 16:25] Jeff-Emmett commented on #812
Absolutely - I feel like it could even be a short blog post on its own, which could then be included on our Notion reading list?

"How to turn your TS membership into free & super cool Commons Stack gear!"

[2021-05-24 16:47] jessicazartler opened #823 "Praise System Analysis"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Coordinate community meetings & data sessions
- [x] Work on and discuss decision space & process
- [x] Submit proposals

## 🤼‍♂️   Reviewer

@GriffGreen

## 🔗   Work doc - inspirational links

[2021-05-24 16:47] tamarandom commented on #779
Closed!

[2021-05-24 16:47] #779 closed

[2021-05-24 16:48] tamarandom commented on #766
Woot!

[2021-05-24 17:00] tamarandom commented on #819
Dupe of #818

[2021-05-24 17:00] #819 closed

[2021-05-24 17:01] tamarandom commented on #198
Closed, dupe of #699

[2021-05-24 17:01] #198 closed

[2021-05-24 17:03] #762 closed

[2021-05-24 17:03] tamarandom commented on #762
Not going to happen. Audio bot it is. Closing.

[2021-05-24 17:07] tamarandom commented on #531
Goodbye! It was worth a try but self-praise isn't taking on.

[2021-05-24 17:07] #531 closed

[2021-05-24 17:15] tamarandom commented on #486
Note to self : when it's done, pass to @MerlinEgalite to update on member.commonstack

[2021-05-24 17:18] tamarandom commented on #486
Note to self : work with @Jeff-Emmett on this.

[2021-05-24 17:32] tamarandom commented on #738
@dapplion Can you help here? @GriffGreen is sending you dm.

[2021-05-24 17:33] tamarandom commented on #731
Dupe of #732?

[2021-05-24 17:34] tamarandom commented on #383
Donner than done.

[2021-05-24 17:34] #383 closed

[2021-05-25 08:57] tamarandom opened #824 "Define the process and steps, make a plan!"
Looking like this so far:

(carefully) communicate this message to the Stewards and all contributors.
Two review forms, one for contributors and the other for CS team
We would have a prioritized list of contributors.
Hannah will share this form with them, share a reasonable deadline, collect them.
Griff, Livia and Tamara will fill out each of these forms for each contributor
Each contributor, with

[2021-05-25 09:01] tamarandom commented on #809
This is the working doc we're using to define the process, goals, next steps and plan.  Please feel free to review and we can chat it in our sync today.

https://docs.google.com/document/d/1sZrzuNWTARGp9Y4OjhkpaMKo86kYRMOFOLPqc6wYUaE/edit

[2021-05-25 09:34] tamarandom commented on #418
Hi @ataberkcasur ! Do I have all the right links here? And for the Roles, Stewards and Subject Matter Experts, will those be combined into 1 case study or will the be separate?

Praise: https://docs.google.com/document/d/12R2gPN49sLMG6B_mJnvKrzmtZz_AGDQMM09Vv9X04Zw/edit#

Roles: https://docs.google.com/document/d/1TfUn9q5-7ZgXFNAd6CxE-ko8_XMRw7o-2dc-INWG2Xs/edit

Stewards:
https://docs.google.com/

[2021-05-25 10:24] tamarandom commented on #812
@iviangita, @krisjpi is going to take on writing a very short blog post for this.

@krisjpi, @iviangita made a great little graphic she's using for twitter & might be good for your article too.

[2021-05-25 19:47] krisjpi opened #825 "Guest Blog on Medium"

[2021-05-26 17:36] knobsdao commented on #653
Burns for 2021 up to May 25th were updated today: https://wiki.commonsstack.org/transparent-log-of-burn-events

[2021-05-27 10:40] dapplion commented on #793
The app is modularized so you can edit the content without breaking the logic. In this file you can tweak all param names and descriptions. Do a PR tag me I can review to ensure all is okay and then it should deploy automatically on merge.

File to edit -> https://github.com/commons-stack/augmented-tbc-design/blob/cbedb8e5fad7a2e2851ad16f38eaac8f5cdc4ee0/src/parametersDescriptions.ts#L5

[2021-05-29 20:08] #806 closed

[2021-06-01 07:42] phacker3 commented on #318
Hey all! I've updated the cadCAD linkedIn w/ community links (discord, telegram, twitter, forum) and added re-directs to CS and BlockScience LinkedIn pages.

Feel free to ping me if there's anything I missed!

[2021-06-01 10:16] MrsBadgerface commented on #776
Hey @liviade I'm back to work this week and will be spending the next couple of weeks continuing with this :)

[2021-06-01 20:54] jessicazartler commented on #318
Whoop whoop! Thank you so much @phacker3 !!!! Closing

[2021-06-01 20:54] #318 closed

[2021-06-01 22:58] knobsdao opened #826 "Investigate & Close Sybil Attack Case"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Review suspected sybils
- [x] Investigate connections
- [x] Notify rejection
- [x] Document so attacks linked to this can be identified more easily

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-01 22:58] #826 closed

[2021-06-02 14:43] tamarandom commented on #418
Tracking what is done, what needs to be done and where everything is in this tracker now: https://docs.google.com/spreadsheets/d/1KaLbNATFLcbRNFFF0H64j0tkxw6jvoUK3O8BPy7DLC8/edit#gid=0

[2021-06-02 19:00] tamarandom opened #827 "Swag for EthCC"
## 📋   Anything to add?

Some ideas:

T-shirts, hats, frisbee, other?

Pack of seeds that can be thrown anywhere and will grow in urban settings.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-03 07:17] #787 closed

[2021-06-03 07:18] krisjpi commented on #738
With the guidance of @dapplion, the page is fully functional again! And I've also got a refresher on some HTML skills and iframes :)

[2021-06-03 07:18] #738 closed

[2021-06-03 09:08] #812 closed

[2021-06-03 09:08] krisjpi commented on #812
The short blog explainer is now published - https://medium.com/commonsstack/using-cslove-to-get-your-free-commons-stack-swag-4b74eb425d90

[2021-06-03 09:18] iviangita commented on #805
Actions taken:

- Promoted on Twitter: https://twitter.com/commonsstack/status/1397534734574571523?s=20
- Blog post by @krisjpi (thank you!): https://medium.com/commonsstack/using-cslove-to-get-your-free-commons-stack-swag-4b74eb425d90  ([Issue #812](https://github.com/commons-stack/iteration0/issues/812))
- 1on1s by me and @knobsdao :)

[2021-06-03 09:18] #805 closed

[2021-06-03 12:13] iviangita opened #828 "Monitor Printful and CS Swag orders"
## 📋   Anything to add?

Check status of orders and deliveries; resolve issues if any

Monitoring sheet: https://docs.google.com/spreadsheets/d/1Sz8ordJJVnorSP_kXPDXfteyeWR5CLP3thP7c5VMb10/edit?usp=sharing

Financial report: https://docs.google.com/spreadsheets/d/1K519MIBjhpmwGVAQ4pAu31Hym0V3Jnuk8bOjepamGHM/edit?usp=sharing

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work do

[2021-06-04 11:48] #820 closed

[2021-06-04 11:49] #818 closed

[2021-06-04 11:49] #749 closed

[2021-06-04 11:49] #73 closed

[2021-06-04 15:11] liviade1 opened #829 "review TEC contributor review process"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-04 15:11] #829 closed

[2021-06-04 15:12] #815 closed

[2021-06-04 15:12] #816 closed

[2021-06-07 01:22] knobsdao opened #830 "Review Framing for Trusted Seed Membership Removal"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 02:58] jessicazartler commented on #588
@tamarandom @GriffGreen Just did my milestone for May - thank you so much!!

https://beta.giveth.io/milestone/jess-milestone-for-communications-and-ecosystem-development

[2021-06-07 13:43] knobsdao opened #831 "Handover TEC's HubSpot"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Coordinate and hold a work session.
- [x] Overview of what's been done in CS HubSpot, data we have, and next steps.
- [x] Compile TEC subscribers data that we may have and share.
- [ ] Review.

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 13:52] tamarandom commented on #809
Done. Heather and I have been working on these.
Shared with the CS core team for advice process.

[2021-06-07 13:52] #809 closed

[2021-06-07 13:54] tamarandom commented on #450
In progress!

Looped in @liviade1 and @jessicazartler so we can work on this together.

We are looking at timezones of New Zealand, CET and PST for a first discussion with the people Kate is suggesting.

[2021-06-07 13:54] tamarandom commented on #797
We have a snazzy new tracker: https://docs.google.com/spreadsheets/d/1KaLbNATFLcbRNFFF0H64j0tkxw6jvoUK3O8BPy7DLC8/edit#gid=0

[2021-06-07 13:55] tamarandom commented on #824
Done.

[2021-06-07 13:55] #824 closed

[2021-06-07 13:56] tamarandom commented on #626
@iviangita has generously offered to take this on. In process of handing it over.

[2021-06-07 13:56] tamarandom commented on #486
🤦🏻‍♀️

[2021-06-07 13:57] tamarandom commented on #317
Starting to do this for each Sprint.

[2021-06-07 13:58] tamarandom opened #832 "EthCC talk"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] apply
- [ ] build talk
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 13:59] tamarandom commented on #814
Fixed by @krisjpi !!

[2021-06-07 13:59] #814 closed

[2021-06-07 13:59] tamarandom commented on #402
@iviangita and I reviewed the text this morning...

[2021-06-07 16:46] tamarandom commented on #832
Submitted.

[2021-06-07 16:56] GriffGreen opened #833 "Interview a new Payroll Candidate"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 16:58] GriffGreen opened #834 "Interview a payroll candidate for Giveth CS and all the other Money that I manage"
## 📋   Anything to add?

@hanners717 and @iviangita will also be involved

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 17:02] liviade1 opened #835 "write a draft for 3 influential models thought piece"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 17:06] GriffGreen opened #836 "Hire/onboard a Product Manager for the Commons Swarm and be their buddy!"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 17:11] liviade1 opened #837 "finish remaining TEC contributor reviews"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 17:15] tamarandom commented on #833
Dupe.

[2021-06-07 17:15] #833 closed

[2021-06-07 17:16] Jeff-Emmett opened #838 "IASC Panel: Are Blockchain Commons Actually a Commons?"
## 📋   Anything to add?
Jeff, Zargham, Felix, Primavera, Kelsie, and Seth Frey are hosting a panel at the International Association of the Study of the Commons on June 9.

Unfortunately it's a $50 attendance fee for non IASC members, and primarily aimed at academics, but we can probably do a small push to our community to get it out there that it's happening!

## 🎉   Subtasks

- [ ] Add to CS cale

[2021-06-07 17:22] jessicazartler opened #839 "Improve Contributor Management Back End Tracking"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Ivy and Jess kick off meeting June 7
- [x] Ivy to integrate two tracking docs & improve, suggest "onboarding kit" and process
- [x] Ivy advice process with Tam & Griff
- [ ] Ivy & Jess circle back to refine
- [ ] Ivy present process to team

## 🤼‍♂️   Reviewer

@tamarandom @GriffGreen @Jeff-Emmett @knobsdao @krisjpi @liviade1 @jessicazartler

## 🔗

[2021-06-07 17:24] jessicazartler opened #840 "Onboard new contributors to Zenhub"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Ekene
- [x] Peter?
- [x] Heather ;)

## 🤼‍♂️   Reviewer

@jessicazartler @Jeff-Emmett

## 🔗   Work doc - inspirational links

[2021-06-07 17:27] jessicazartler commented on #782
Welcome Ekene!!! Will still interview two others for possible contributions
![Graphics (37)](https://user-images.githubusercontent.com/43972522/121063234-0e10c780-c794-11eb-8d3d-cbe5ad7e89c6.jpg)

[2021-06-07 17:27] #782 closed

[2021-06-07 17:29] jessicazartler commented on #823
FROM GRIFF:
UBI application
How Gini co-efficient changes with that
Total hours - pulled out 6,700 impact hours from people paid - could see how much was paid in total - can look at $ / IH

[2021-06-07 17:30] #781 closed

[2021-06-07 17:33] tamarandom opened #841 "Polycentric Gov Gitbook"
## 📋   Anything to add?

The original TEC one is here: https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/292

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1yfAbB7-lKDjXXciGuHUr1vbPsTikhdMAxNFg8g1Ihac/edit

[2021-06-07 17:39] jessicazartler opened #842 "Hypha Presentation"
## 📋   Anything to add?

We are giving a presentation of Gov/CS work to the Strategic Sensing Circle Hypha Wednesday and invite them to collab with CS/TEC

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

## 🔗   Work doc - inspirational links

[2021-06-07 17:44] jessicazartler commented on #643
Tweeted, graphic'd, recorded, YouTubed, shilled in lots of channels - phew! It's done.. also gave to Ivy to put workshops in Evergreen content flow - I'm out! haha

[2021-06-07 17:44] #643 closed

[2021-06-07 17:47] tamarandom opened #843 "F/U on Trusted Seed dashboard requirements & user stories brainstorming session"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 18:02] tamarandom opened #844 "Griff / Review of compensated TEC contributors"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 18:03] tamarandom opened #845 "Complete: Review of compensated contributors"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-07 18:06] jessicazartler commented on #838
Cool @Jeff-Emmett if you can put the times/panel names, etc. here and I will ask for @iviangita 's help to get this going

[2021-06-07 18:06] tamarandom commented on #825
Hey @krisjpi - what is the meat and potatoes of this issue? Are we looking for guests or looking to guest post? ;)

[2021-06-07 20:09] laurenluz opened #846 "Distribute Commons Simulator Deep Dive Part 2 - Final Part!"
## 📋   Anything to add?
Need to publish on medium, then draft posts & tweets and share in all channels.

## 🎉   Subtasks

- [x]  Publish on Medium
- [x] Write 2 Tweets
- [x]  Tweet
- [x]  CS newsletter
- [ ] Put in evergreen distribution pipeline here:
https://docs.google.com/spreadsheets/d/1QJnratmpodDOuTY-21Lgr6wHr8AK4BOBa-cBI37rHNo/edit?ts=601004ae#gid=1031817319

Distribute Tweet in channels:

[2021-06-07 20:43] jessicazartler opened #847 "Onboard Ekene to Newsletter/CRM/Hubspot Back end Comms"
## 📋   Anything to add?

@krisjpi @knobsdao could you guys schedule a call with Ekene (maybe beginning next week when I'm gone Mon/Tues/ or Wed) to walk him through back end Comms for newsletter/Hubspot CRM? He was asking me about that and thought it would be great if you all also get to spend time, and he gets a few meetings with a few members with different reflections - thank you!!

## 🎉   Subt

[2021-06-07 21:42] laurenluz commented on #846
Tweet thread and shilling post draft: https://docs.google.com/document/d/1n0wH88OlGbVQb-mKR95bMmJV82tPCpYiqPGpmKh6Hzk/edit

[2021-06-11 09:37] #626 closed

[2021-06-11 09:45] tamarandom opened #848 "Create new issue on Zenhub board ;)"

[2021-06-11 10:18] Ekeneodigwe opened #849 "Content Distribution / SMM Tasks"
## 📋   Anything to add?

## 🎉   Subtasks

- Get [3-5] YouTube Clips  - that will be 105 seconds for Twitter
- Explore [2-3] Social Tools, write a recommendation that will include how many accounts, pricing, and Properties
- Create [1-2] Tweet Treads from one of the most engaging articles
- 1 on 1 with Peter about the Gitcoin project announcement
- Check out [ Slideshare] and make a recommendation

[2021-06-11 17:54] #846 closed

[2021-06-13 06:08] annaban5 opened #850 "So lost.."
If you're looking at this issue hoping to contribute to the project, welcome! We'd love to have you contribute, so please let us know if you have any questions.

Comment on the issue or touch base in our [telegram](https://t.me/joinchat/HGrjjRS2PoowbH1ODuefuA).

## 💭 Here's some additional context to this issue:

## 📋   Additional notes here:

## 🎉   Steps to closing this issue:

- [ ]
- [ ]
- [ ]

[2021-06-14 08:44] tamarandom commented on #583
https://www.youtube.com/watch?v=lAmuEnePHHo

[2021-06-14 09:03] tamarandom commented on #840
Had first session with @Ekeneodigwe. We should have a followup session after we go through a full Sprint or two. It's easier to grok once you're a little more acclimated to the process.

[2021-06-14 09:05] tamarandom opened #851 "Contract for Tamara"
## 📋   Anything to add?

Create Swiss Assoc. contract for myself.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-14 11:13] iviangita commented on #399
I'm closing this issue as the Commons Simulator team doesn't have any calls in the future. Will reopen if ever their calls resume :)

[2021-06-14 11:13] #399 closed

[2021-06-14 11:53] tamarandom opened #852 "Contract for Ata (with Swiss Association)"
## 📋   Anything to add?
Hey @ataberkcasur!

I have to make a contract for myself and can give you a hand with yours if you need.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-14 16:35] cranders1 commented on #658
TEC done

[2021-06-14 16:48] tamarandom commented on #830
Personal 1-1 call to explain in person.

[2021-06-14 17:51] tamarandom commented on #784
Closed! WOOT!

[2021-06-14 17:51] #784 closed

[2021-06-14 17:57] liviade1 opened #853 "governauts event"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-15 08:30] tamarandom opened #854 "Commons Stack hiring process 🥳"
## 📋   Anything to add?

What is Commons Stack hiring process for contributors to the TEC and elsewhere?
Who - Hiring committee
How - majority yes? Unanimous or no-go?
When - once a month as need be …
Then what? - process to onboard new contributors to the TEC and elsewhere

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

CS core team! ;)

## 🔗   Work doc - inspirational links
https://docs

[2021-06-15 08:43] tamarandom opened #855 "Coordinate all of the TEC Contributor reviews!"
## 📋   Anything to add?

https://docs.google.com/document/d/1sZrzuNWTARGp9Y4OjhkpaMKo86kYRMOFOLPqc6wYUaE/edit

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@GriffGreen @liviade @tamarandom

## 🔗   Work doc - inspirational links

[2021-06-15 13:17] tamarandom opened #856 "Exploratory discussion with Max / Project Ark"
## 📋   Anything to add?

Max reached out, suggested possibility for Project Ark to create art and/or NFT.
This issue is to explore the ideas, goals, scope, timeline.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-16 02:48] iviangita commented on #400
Closing this issue since no work will be done on the Simulator in probably the next 2 months. Will reopen this issue when the Simulator work resumes. :D

[2021-06-16 02:48] #400 closed

[2021-06-16 04:28] iviangita commented on #839
Tracker in progress: https://docs.google.com/spreadsheets/d/1lv00-eIrVWlhkTKZrMoLey637AXA-T8JXZPio5XHE5o/edit?usp=sharing

[2021-06-16 14:42] jessicazartler commented on #839
Awesome @iviangita this is looking great!!! We could probably combine exploring/potential and if you could move special projects underneat the active sheet would be great.. otherwise, nice work! Let me know when you are ready for a follow up on this - we could meet with @tamarandom to discuss these processes and improvements all together - thank you SO MUCH!!!!!

[2021-06-16 15:08] jessicazartler commented on #842
We had a WONDERFUL session and will be following up with the circle to see what other collab opportunities there are, and making sure all have an invitation to join the TS. Closing this and will create new issues if anything else comes out. :D

[2021-06-16 15:08] #842 closed

[2021-06-16 15:13] jessicazartler commented on #783
Had two meetings with Ekene to go over pay, team calls, cadence, questions, work etc. Had a meeting with Ivy/Kris/Ekene re: Content Distribution flow and improvements. Ekene had meeting with Tam re: Github, and meeting with Dan/Kris to go over hubspot. He also joined for the Gitcoin kickoff and is supporting Peter with Gitcoin Grants content distribution. @tamarandom will chat with you this week t

[2021-06-16 15:15] jessicazartler commented on #766
Sent the final proposal draft to their team and working to schedule a follow up tech call to get our Kepler wallet set up and a second call with Revathi to look at doing a community AMA with Regen team in the next 4-6 weeks to talk about Community Staking DAOs and start the conversation. Will also be looking to write an announcement of the parntership for July.

[2021-06-16 15:18] jessicazartler opened #857 "Hold Kick off for Gitcoin Grants Round 10 & Onboard New Collaborators"
## 📋   Anything to add?

Hold kickoff meeting and follow ups to onboard Peter to PM, Ekene to Content Distribution and develop the timeline/strategy for content/distribution/community engagement for the CS Community Fund and Round 10.

## 🎉   Subtasks

- [x] Update Github Epic https://github.com/commons-stack/iteration0/issues/658
- [x] Schedule & host kickoff meeting
- [x] Onboarding meeting for

[2021-06-16 15:37] jessicazartler commented on #780
Scheduling interviews with two more awesome candidates - one has design experience, would be great if he is a fit! The other has more general marketing experience but mentioned meme creation haha so could be cool as well to see what they're like.. setting these two interviews for hopefully next week...

[2021-06-16 17:39] knobsdao opened #858 "Update Pending Scores"
## 📋   Anything to add?

Successful applicants that have earned praise but haven't activated, have a CSTK Score increase that goes to pending and must be updated in the xDai registry.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-18 05:20] iviangita opened #859 "Create a receipt for Curve Labs"
## 📋   Anything to add?

Create a receipt for $450 for an organization who paid to join the Swiss Association. It would be just looking up a template online for a receipt, or if you have one - and making a receipt from us for the $450 payment by the organization.

With our CS Swiss Association info & this info for the organization:
https://www.notion.so/Invoicing-Guidelines-dfc2dc61aabe46d79147e29

[2021-06-18 13:35] knobsdao commented on #753
Junior Gardener job description/post here: https://www.upwork.com/freelance-jobs/apply/Data-Analyst-Community-Support-CRM-Junior-Gardener_~01e523a86d9638a6bc/

[2021-06-18 16:19] #834 closed

[2021-06-18 16:19] #699 closed

[2021-06-18 16:20] #821 closed

[2021-06-18 17:41] #838 closed

[2021-06-19 00:59] iviangita commented on #859
DONE! :)

https://docs.google.com/spreadsheets/d/1YZVCAJkDqC6wZFjf_2YXbfRcef7-fag4rxbsXawekw8/edit?usp=sharing

[2021-06-19 00:59] #859 closed

[2021-06-19 10:35] Ekeneodigwe commented on #849
- 3 Clips for Twitter sent to @liviade1 for review
- Recommendation for Social Media Tools awaits here reviewshttps://docs.google.com/document/d/17TqI54eC6q6eQt8ydYu4yl7kF4n22TAr011KJFqOm3A/edit
- An evergreen tweet thread created and waiting for review by @jessicazartler
- @phacker3 and Me published the Gitcoin Grant Announcement on the socials - https://twitter.com/commonsstack/status/1405593064

[2021-06-21 03:17] iviangita opened #860 "Documented accounting process for Freshelle"
## 📋   Anything to add?
For donations and expenses under Commons Stack Association and Commons Stack - Iteration 0 campaigns

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-21 07:44] tamarandom commented on #827
We have TEC logo T's, hats and a mug. The catalog does not have frisbees and the seeds are awesome but I haven't started looking - can't seem to make that a priority above all other stuff on our plate!

https://shop.commonsstack.org/#/collections/tec-token-engineering-commons

I ordered a sample which should be here at the end of the week/ early next week. If it's good, then we should do a bulk or

[2021-06-21 07:45] tamarandom commented on #450
This is in progress. They should have a proposal ready in this next Sprint.

[2021-06-21 08:41] tamarandom commented on #852
Ata finished it and it just needs to be signed by @krisjpi and Bernd. Going to close this issue and have his and mine signed at the same time.

[2021-06-21 08:41] #852 closed

[2021-06-21 08:51] tamarandom commented on #851
Done. Going to drop it for @krisjpi and Bernd to sign.

[2021-06-21 08:51] #851 closed

[2021-06-21 10:10] tamarandom opened #861 "Tamara / self & peer reviews"

[2021-06-21 10:10] tamarandom opened #862 "Livia / self & peer reviews"

[2021-06-21 10:10] tamarandom opened #863 "Jess / self & peer reviews"

[2021-06-21 10:10] tamarandom opened #864 "Jeff / self & peer reviews"

[2021-06-21 10:10] tamarandom opened #865 "Griff / self & peer reviews"

[2021-06-21 10:10] tamarandom opened #866 "Dan / self & peer reviews"

[2021-06-21 10:10] tamarandom opened #867 "Kris / self & peer reviews"

[2021-06-21 10:10] tamarandom opened #868 "Ivy / self & peer reviews"

[2021-06-21 10:15] tamarandom commented on #848
Success!

[2021-06-21 10:15] #848 closed

[2021-06-21 11:05] tamarandom commented on #486
No way was I going to punt this to another Sprint! 😂

Note that for many of the Q's, I copied the bulleted-list answers.
There are two natural sections:
1. Trusted Seed Swiss Membership
2. CSTK Score

@Jeff-Emmett and @krisjpi have a look. Add to our Comms call tomorrow?

https://docs.google.com/document/d/1JjsylfNwEiSZgCmIMH7rRrHzE8EmrsvMXzcPW3pTdLc/edit#

[2021-06-21 11:39] GriffGreen opened #869 "Make PAN donatations to a fat stack of grants"

[2021-06-21 11:40] GriffGreen opened #870 "Make a Praise Adjustment Proposal"

[2021-06-21 13:52] tamarandom commented on #840
Will continue to be here to support any and everyone who needs but these initial sessions are all done.

[2021-06-21 13:52] #840 closed

[2021-06-21 13:53] tamarandom commented on #810
It's officially kicked off! @hanners717 is leading the coordination.

[2021-06-21 13:53] #810 closed

[2021-06-21 13:55] tamarandom commented on #752
I've got to take this off my plate.

Between the people that are already on top of this - @jessicazartler @Jeff-Emmett @liviade1 @GriffGreen, it's well covered.

[2021-06-21 13:55] #752 closed

[2021-06-21 13:58] tamarandom commented on #499
With gas so cheap, we can keep it on mainnet for now.

The store is open! https://shop.commonsstack.org

Will leave this open in case we have a contributor that can take on moving the store to xDAI.

Need to know:
Frontend: https://www.originprotocol.com/en/dshop
Fulfillment: printful.com

[2021-06-21 14:06] jessicazartler commented on #658
Heya @krisjpi @phacker3 can we update this blog to do a push for submit & vote by tomorrow?
https://medium.com/commonsstack/commons-stack-community-fund-round-2-3919b522409a

Can discuss in Comms meeting but also would be great to sync on Comms for Gitcoin later today - I will message in Comms channel

[2021-06-21 16:07] knobsdao commented on #843
Kristofer hosted us in this amazing board: https://miro.com/app/board/o9J_lBZsbTg=/

[2021-06-21 16:09] krisjpi opened #871 "Publish Conviction Voting Walkthrough Video"

[2021-06-21 16:12] tamarandom opened #872 "PrimeDAO - tie up a few things"
## 📋   Anything to add?
I've been checking every Sprint for new voting cycle but what I really need is a check-in with Pat or Luuk about what it means to be a CS Ambassador and what things I might have missed. (I'm sure I missed moving the off-chain social contract on-chain, for example).

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-21 16:12] Jeff-Emmett commented on #486
Looks great, I added in a few comments and updated both TS decks with the
relevant Praise Onboarding session & discord link!

Jeff

On Mon, Jun 21, 2021 at 7:06 AM tamarandom ***@***.***> wrote:

[2021-06-21 16:13] #831 closed

[2021-06-21 16:14] GriffGreen commented on #836
@tamarandom it would be great for you to have a call with him just to meet

[2021-06-21 16:16] GriffGreen opened #873 "TEC Praise Audit"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-21 16:20] tamarandom opened #874 "Team offsite"
## 📋   Anything to add?
possible in or around the CrytoCommons Gathering

## 🎉   Subtasks

- [ ] Find an owner
- [ ] Find a timeline
- [ ] Find a place
- [ ] Make a plan, execute

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-21 16:24] Jeff-Emmett opened #875 "Feedback on Anna Maria's CS FAQs"
## 📋   Anything to add?
I'll be giving some early feedback on Anna Maria's FAQs, hopefully they can serve as a bit more 'high level' FAQs for communities who aren't as familiar with our technical language.

## 🎉   Subtasks

- [ ] Review FAQs
- [ ] Discuss with Anna Marie
- [ ] @krisjpi integrate with our existing FAQs

## 🤼‍♂️   Reviewer

@jessicazartler @krisjpi @Ekeneodigwe @knobsdao

## 🔗   Wor

[2021-06-21 16:29] liviade1 opened #876 "start Trusted Seed stakeholder mapping"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-21 16:33] Jeff-Emmett opened #877 "GitcoinDAO Anti-Fraud WG wrangling"
## 📋   Anything to add?
Jess and Jeff are helping to organize and corral the GitcoinDAO Anti-Fraud working group!

## 🎉   Subtasks

- [x] Set up workgroup structure and processes & steward training sessions
- [x] Assign delegates for sub-workstreams
- [ ] Progressively hand off coordination for the workgroup

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links

[2021-06-21 16:34] liviade1 opened #878 "have a session with greaterthan to co-create our team culture process"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-21 16:35] tamarandom commented on #486
@tamarandom to drop into the Swiss Mem repo.

[2021-06-21 16:36] jessicazartler commented on #875
@liviade1 and I have also been giving feedback on this - I feel like there are several Github issues and multiple messages on this - can we decide on "owner" or touchpoint and what the output for this is? (I suggest CS Discord Communications channel).

We had discussed that this is less an FAQ and more a potential blog for less technical communities/new members to our community - I think that make

[2021-06-21 16:36] #850 closed

[2021-06-21 16:41] tamarandom opened #879 "Look at a way to thwart impersonations"
## 📋   Anything to add?

Carried over from #786

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-21 16:43] tamarandom commented on #879
Post a twitter to prove they own the twitter?

[2021-06-21 16:44] tamarandom commented on #786
Update: closing, opened new issue for the thwarting.

[2021-06-21 16:44] #786 closed

[2021-06-21 16:50] tamarandom commented on #847
The initial session happened. @krisjpi @knobsdao will setup a more regular sync-up.

[2021-06-21 16:50] #847 closed

[2021-06-21 16:50] tamarandom commented on #847
The initial session happened. @krisjpi @knobsdao will setup a more regular sync-up.

[2021-06-21 17:00] Jeff-Emmett commented on #875
Sounds great - agree on the need for a common touchpoint & owner, happy to
feedback in the doc & comms channel on Discord. I'm happy to just give some
quick feedback in the doc & hand this off for a community blog post, or
whatever we think is best!

Jeff

On Mon, Jun 21, 2021 at 12:36 PM Jessica Zartler ***@***.***>
wrote:

[2021-06-21 17:13] tamarandom commented on #742
Closing ....

[2021-06-21 17:13] #742 closed

[2021-06-21 17:14] tamarandom commented on #593
Done!

[2021-06-21 17:14] #593 closed

[2021-06-21 17:15] GriffGreen opened #880 "Finish Power of Defaults Forum Post"
https://docs.google.com/document/d/1nDvaIcGvl7GFFnQLSxAdwVUvHilx4JWTdiXjJVCu2jY/edit#heading=h.5d69kpaeixgu

[2021-06-21 17:17] tamarandom commented on #729
Closing ...

[2021-06-21 17:17] #729 closed

[2021-06-21 17:29] tamarandom opened #881 "Tamara-Ekene zenhub session"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-21 18:24] jessicazartler opened #882 "Review Case Study Map"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Edited Case Study #
- [ ] Meeting with Livia to discuss moving forward and process improvements (July 30)
- [ ] Review Map
- [ ] Suggest scaffolding template

## 🤼‍♂️   Reviewer
@liviade1 @tamarandom @GriffGreen @Jeff-Emmett

## 🔗   Work doc - inspirational links
https://docs.google.com/spreadsheets/d/1KaLbNATFLcbRNFFF0H64j0tkxw6jvoUK3O8BPy7DLC8/edit

[2021-06-21 20:53] tamarandom commented on #486
Opened https://app.zenhub.com/workspaces/swiss-association-membership-dapp-5fdbdf9b377f91000f03122f/issues/commons-stack/swissmem-dapp/319

Closing this one.

[2021-06-21 20:53] #486 closed

[2021-06-22 19:50] tamarandom commented on #714
@jessicazartler Just had a quick conversation with fahern (on Discord) who is able to help you with the video editing. Do reach out to him when you can. 🥳

cc @lucashygate

[2021-06-22 21:44] jessicazartler commented on #840
Thank you Tam <3

[2021-06-24 13:34] tamarandom commented on #855
This is well underway. @hanners717 is on top of it! @hanners717 do you want to post your first githhub update here!?

[2021-06-24 13:36] hanners717 commented on #855
My update is that I've been in contact with all TEC contributors to complete their self-reviews. All replies will be gathered by June 27th.

[2021-06-24 13:39] hanners717 opened #883 "Hiring a Junior Gardener"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Screening candidates on UpWork
- [ ] Interviewing candidates
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-24 13:46] hanners717 opened #884 "Hiring Paris Event Planner"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-24 15:57] jessicazartler commented on #857
@phacker3 @Ekeneodigwe on board and are doing a FANTASTIC job! Thank you guys and @krisjpi for supporting this onboarding anf the GGR10 push - team work makes the dream work!!! Appreciate you <3

[2021-06-24 15:57] #857 closed

[2021-06-24 15:59] jessicazartler commented on #823
Next step is to submit proposals - chatted with livia and posted on forum about extensions. Will reach out to you @liviade1 @tamarandom in Core Team chat to see if you all want to work on one together.. last step - we're almost there!!

[2021-06-25 17:14] jessicazartler commented on #766
[Regen Network __ Commons Stack Partnership (1).pdf](https://github.com/commons-stack/iteration0/files/6717808/Regen.Network.__.Commons.Stack.Partnership.1.pdf)

[2021-06-25 17:25] jessicazartler commented on #766
Had a call with @krisjpi @knobsdao and Regen team - we are setting up a tech call to go over the token transfer/how governance decision making will work on Regen/Governance decisions over the staking interest from a tech perspective

We will do a joint blog/press release announcement explaining benefits/plans of the partnership to both communities - @krisjpi will lead and create an issue scaffoldi

[2021-06-28 08:37] hanners717 opened #885 "Hire Giveth Backend Developer"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-06-28 08:39] #884 closed

[2021-06-29 03:23] knobsdao commented on #371
Created a [model draft](https://docs.google.com/document/d/1RReaP-nEYRWVnH1NLb6C_4Itb5WG-6bx7FMZa3BhlWg/edit) for the comms of the share in Discord/Telegram and included it in the description above.

[2021-06-29 11:14] MrsBadgerface commented on #776
As agreed with @liviade1, removing myself from this particular issue.

[2021-06-29 11:18] MrsBadgerface opened #886 "CS for non-tech audiences (FAQs/Blog)"

[2021-06-29 11:19] MrsBadgerface commented on #886
- [ ] Call with @krisjpi and @liviade1 to clarify the blog approach
- [ ] Turn FAQs into a blog (or a couple of blogs?)
- [ ] Publish

[2021-06-30 20:39] knobsdao commented on #713
Did 1:1s for all non-opened emails up to today. Since we automated the drop, we can simply review who still has his complete 1 CSLOVE on Rinkeby by the end of each month - so I'm changing the cadence of the task.

[2021-07-01 07:27] tamarandom opened #887 "shop.commonsstack.org dshop orders are manual, change to automatic"
## 📋   Anything to add?
After a product is ordered, the order is captured in dshop backend but not sent to Printful until an admin allows it (by clicking send to printful).

There is a way to change this but ... how?
Check with Origin dshop support (on their Discord server).

@kristopherlund looping you in in case you can take this one on. It's for the main paid shop on Mainnet not the free swag s

[2021-07-01 13:44] jessicazartler commented on #849
UPDATE/NEXT STEPS:
-Continue on YouTube repurposing
-Focus next sprint on getting Hootsuite up w/ @krisjpi
-Tweet thread on Zen Art Understanding piece
-Slideshare (optional)
-Improving the support/questions/FAQ process (create doc & discuss in Comms meeting)
-Refreshing audience doc & strategy on platforms/audience

[2021-07-02 07:58] #871 closed

[2021-07-03 08:03] noncash15 commented on #887
#887

[2021-07-03 10:37] Ekeneodigwe opened #888 "Repurpose 2 YouTube Videos"
## 📋   Anything to add?

## 🎉   Subtasks

- [Curate a video Content on Giveth]
- [Curate another video that explains the purpose of Commons and what sweat equity is]
- [ ]

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

**October**

- Split Griff's speech at Wyoming into short videos for Twitter (definition, obstacles and Solutions)
- Turn the main points into a Slide present

[2021-07-03 10:41] Ekeneodigwe opened #889 "Set up Hootsuite"
## 📋   Anything to add?

## 🎉   Subtasks

- [Use the work email to set up Hootsuite, use Key phrases for Listening / Monitoring ]
- [Content scheduling and CRM ]
- [ ]

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-07-03 10:45] Ekeneodigwe opened #890 "Repurpose Zen Art Understanding article"
## 📋   Anything to add?

## 🎉   Subtasks

- [ Curate 3/3 page of tweet thread from the piece ]
- [ Add a CTA and hashtag for reach ]
- [ Add the Medium link on the last page of the thread]

## 🤼‍♂️   Reviewer

@Jess

## 🔗   Work doc - inspirational links

[2021-07-03 10:58] Ekeneodigwe opened #891 "Use Slideshare for LinkedIn posts"
## 📋   Anything to add?

## 🎉   Subtasks

- [Repurpose the Tweet threads into Slide Share for posting on LinkedIn]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links

[2021-07-03 11:02] Ekeneodigwe opened #892 "Improve the support/ Questions/ FAQ Process"
## 📋   This document will be created and discuss in the Comms meeting

## 🎉   Subtasks

- [Evaluate the current document and work on improving them]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@Jeff

## 🔗   Work doc - inspirational links

[2021-07-03 11:06] Ekeneodigwe opened #893 "Refresh Audience doc & Strategy on platforms"
## 📋   Anything to add?

## 🎉   Subtasks

- [Evaluate the existing one and improve on different levels for different channel audiences]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@tamarandom

## 🔗   Work doc - inspirational links

[2021-07-03 11:10] Ekeneodigwe opened #894 "Start work on Content sharing Network/ Partnership content development"
## 📋   Anything to add?

## 🎉   Subtasks

- [ Strategic distribution on all platforms ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links

[2021-07-03 11:24] Ekeneodigwe opened #895 "Ongoing / Regular Tasks"
## 📋   On all the Platforms (Facebook, Twitter and LinkedIn)

## 🎉   Subtasks

- [Daily Tweet, Fleet and status postings]
- [Community Management]
**- [Audience Engagement - Awareness drive on Facebook & LinkedIn, while Staying on Sustainability drive on Twitter]** - October

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links

[2021-07-03 15:56] jessicazartler commented on #783
Ekene went to Happy Money Party with @iviangita but we still need to get the "working agreement" in place - @iviangita can you please kindly follow up with Ekene and send him your new onboarding kit and get the working agreement and paper work in place for him? Would super appreciate it! I am happy to review, but if I can ask for your help to work with him on that would be awesome @hanners717 tagg

[2021-07-03 16:06] jessicazartler commented on #780
Did two more interviews with Justice Eilers / Farhad Pestonji
[e6239ab9-e36e-485b-9b7e-9e1313336d7f.pdf](https://github.com/commons-stack/iteration0/files/6758677/e6239ab9-e36e-485b-9b7e-9e1313336d7f.pdf)
[e6239ab9-e36e-485b-9b7e-9e1313336d7f (1).pdf](https://github.com/commons-stack/iteration0/files/6758679/e6239ab9-e36e-485b-9b7e-9e1313336d7f.1.pdf)

We will be bringing on Justice to start as pa

[2021-07-03 16:06] #780 closed

[2021-07-03 16:09] jessicazartler commented on #655
I am setting up one last call with Rieki to get this thing submitted to the DHO!!

[2021-07-03 16:11] jessicazartler commented on #841
Got some great feedback to split this into two articles.. sitting with publishing as is or breaking into two articles... ayyyy the writing process sometimes...

[2021-07-03 16:28] jessicazartler commented on #652
Boson got super busy with a launch and haven't heard back... Talking with TE Academy who is close with them to reconnect to see if there is still opportunity

[2021-07-03 17:28] jessicazartler commented on #588
@tamarandom @GriffGreen @hanners717  just submitted my milestone for June - thank you! :D Hope you're having a nice weekend!

https://trace.giveth.io/trace/jess-milestone-for-communications-and-ecosystem-development

[2021-07-04 10:22] Ekeneodigwe opened #896 "Repurpose 3 Documents from Knowledge Commons Channel every month"
## 📋   Anything to add?
Every month, Ekene will repurpose 3 documents and will share them on our social media channels. The list of documents below will be updated at the start of each month.

## 🎉   Subtasks

- [This will be a tweet thread]
- [Then a slide share on LinkedIn]
- [Posted as series on Facebook ]

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links
**July**

- [

[2021-07-05 09:42] tamarandom opened #897 "Commons Stack organizational mapping"
## 📋   Anything to add?

Based off the work Z shared about gitcoin.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-05 09:45] tamarandom opened #898 "Support the contributor management processes"
There are two initiatives happening at the same time with a slightly diff scope.
@hanners717 is looking at TEC
@iviangita is looking at all of Commons Stack

[2021-07-05 09:47] tamarandom commented on #450
This is under discussion again.

@liviade1 is working with GreaterThan on the scope but we will need another team sync on this to determine what to do with that proposal.

[2021-07-05 13:17] Ekeneodigwe commented on #896
Hello @jessica
Kindly review
https://docs.google.com/document/d/1jQ4dC0dNT_FNqnZYDemd8Syt-1GgKlCp3BeZVjmxlE0/edit (Tweet Thread & Facebook Series)
https://www.slideshare.net/EkeneOdigwe/fun-facts-about-architecting-the-cyberphysical-commons (Slideshare)

[2021-07-05 13:47] Ekeneodigwe commented on #889
Hootsuite account for Commons Stack is ready, three keyphrases - Commonsstack, Blockchain and Open Source were used for Industry monitoring and Audience listening  https://hootsuite.com/dashboard#/tabs?id=67218944

[2021-07-05 13:54] Ekeneodigwe commented on #895
first set of Retweets, replies and postings for the day is done

[2021-07-05 15:58] tamarandom opened #899 "Contractor agreements new/update"
## 📋   Anything to add?

The goal is to have a contractor agreement that is approved by the CSA board that can be used for all new contracting contributors.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-05 16:06] liviade1 opened #900 "Get the template to push the weekly sync case studies out"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@liviade1 @tamarandom

## 🔗   Work doc - inspirational links

[2021-07-05 16:10] tamarandom opened #901 "Work agreements for contributors new/update"
## 📋   Anything to add?

For those you're responsible for ;)

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-05 16:10] krisjpi opened #902 "Gitcoin Disputes Issues - Discussion"
## 📋   Anything to add?

Involved: @GriffGreen @Jeff-Emmett @jessicazartler @krisjpi

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-05 16:11] tamarandom opened #903 "Work with Jeff on research coordination"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-05 16:12] krisjpi opened #904 "Setup initial onboarding meeting with Justice and Jess"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Initial scoping meeting  (Kris/Jess)
- [ ] Set meeting time with Justice and Jess
- [ ] Infographics and light design (start with CSTK journey and ...?)
- [ ] Additional Projects to support - Newsletter, CRM, Ambassador program, etc
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-05 16:13] #836 closed

[2021-07-05 16:16] krisjpi opened #905 "Work with Justice on Infographic requests"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Coordinate the initial scope with Jess
- [ ] Share info and resources to build into infographics
- [ ] Steps to become a member and see your CSTK (based on Vyvy-vi's gtihub list)
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-05 16:17] #869 closed

[2021-07-05 16:17] #728 closed

[2021-07-05 16:21] tamarandom commented on #832
Not accepted. I still love the talk idea but will close this until I have fire under butt to do it.

[2021-07-05 16:21] #832 closed

[2021-07-05 16:21] #827 closed

[2021-07-05 16:21] tamarandom commented on #827
It's on its way!

(this was a much bigger PITA that it seems!)

[2021-07-05 16:25] liviade1 opened #906 "Draft newsletter post for IH intervention"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-05 16:57] GriffGreen commented on #887
We can absolutely pay someone to just close this.

If need be, I can pay crypto straight and be reimbursed by Giveth.

[2021-07-05 17:00] tamarandom commented on #450
@liviade1 is leading this. Issue #878

[2021-07-05 17:00] #450 closed

[2021-07-05 17:02] jessicazartler opened #907 "Organizational Development Work: Review Process"
## 📋   Anything to add?

Review process proposal

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-05 17:04] jessicazartler opened #908 "Organizational Development Discussions: Identifying Key Topics & Next Steps"
## 📋   Anything to add?

Draft a process to have discussions around compensation/org boundaries/governance/roles & work loads & resources needed

## 🎉   Subtasks

- [x] Jess draft ideas
- [x] Advice process meeting with Tam/Livia/Dan (a-sync for those who can't attend) - July 6

## 🤼‍♂️   Reviewer

@tamarandom @GriffGreen @Jeff-Emmett @liviade1 @krisjpi @knobsdao

## 🔗   Work doc - inspirational l

[2021-07-05 17:12] jessicazartler commented on #783
Ekene drafted working agreement - reviewing with Ivy

[2021-07-05 17:47] tamarandom commented on #874
(might be in Austria if the whole team / many of is going there)

[2021-07-05 18:36] jessicazartler commented on #902
@krisjpi @GriffGreen Dani & Lauren in the Commons Simulator channel said they are keen to participate and handle the discussion - Kris I know you have a lot on your plate - perhaps connect with them and they can take lead and we can support - I think it makes more sense to have those on the Simulator team handle it, rather than CS team members with limited bandwidth

[2021-07-05 18:56] jessicazartler commented on #697
@iviangita @krisjpi Next AMA scheduled for WEDNESDAY, July 28 will be focused on Regen Network & CS as the first community staking DAO

Here is the doc we are working from - will talk more in Comms tomorrow about it and drop more comments here as needed - thanks!

https://docs.google.com/document/d/13OWwovgSI8KI4onapRwd16QFBq_YcOcHhBGmMAoYKhs/edit

[2021-07-05 19:03] liviade1 commented on #900
@ataberkcasur I think you can use the same template from last time, if we need to change anything we can ask someone to help diagraming and it should be simple

[2021-07-05 20:07] jessicazartler opened #909 "Review Ekene's Working Agreement"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Jess review
- [x] Ivy edit
- [x] Finalize & file

## 🤼‍♂️   Reviewer

@tamarandom @GriffGreen @hanners717

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1gdWgWBDpydgtYwA0GShDfUQZQIxEmUKuVMvBRG2QDDQ/edit?ts=60e32843#

[2021-07-05 20:27] jessicazartler commented on #909
Heya @iviangita I put my edit suggestions and comments in the doc. Flagging one section about paying contributors after they leave - if you can tell me where that came from, I want to make sure that isn't going in contributor agreements elsewhere.

I would prefer we use the language and processes I am suggesting, and would like to make sure that is seen/heard/discussed with @tamarandom @hanners717

[2021-07-05 20:37] jessicazartler opened #910 "Review Praise vote Newsletter"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Review Livia's draft

## 🤼‍♂️   Reviewer

@Jeff-Emmett @GriffGreen @tamarandom

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1uguAv821abnqWVWQWMBI4zol6MDjEYpyrLoR7aTbK1U/edit#

[2021-07-05 20:59] jessicazartler commented on #910
Just gave a bunch of suggested edits/feedback let me know if you or @Kris want one last look or any support before sending :pray:

Closing issue

[2021-07-05 20:59] #910 closed

[2021-07-05 21:04] jessicazartler opened #911 "Review Ekene's Tweet Thread on Architecting the Cyber-Physical Commons"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Review thread

## 🤼‍♂️   Reviewer

@Ekeneodigwe @krisjpi @iviangita

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1jQ4dC0dNT_FNqnZYDemd8Syt-1GgKlCp3BeZVjmxlE0/edit

[2021-07-05 21:09] jessicazartler commented on #896
Made an issue for Jeff to review https://github.com/commons-stack/iteration0/issues/911 and sent you a DM - looking great! Just one thing - I wouldn't say "fun facts" matches the content so I would delete it, otherwise looks great -will leave it to Jeff for feedback as he wrote the piece - thanks for the fast and awesome work!!

[2021-07-05 21:19] jessicazartler commented on #841
Me trying to write/edit (yes all those tabs are research)
![poly gov](https://user-images.githubusercontent.com/43972522/124518673-09502b00-ddb5-11eb-8cff-5a1cbc41f408.png)

Need time to go in my cave and finish

[2021-07-05 21:35] jessicazartler commented on #823
Closing this issue - thanks for everyone's hard work on this!

[2021-07-05 21:35] #823 closed

[2021-07-05 21:36] jessicazartler commented on #766
@tamarandom making this an epic as there are multiple tasks inside - next one is Kris' partnership announcement draft and the next AMA - plus some meetings

[2021-07-05 21:42] jessicazartler commented on #907
Here is our current review sheet that has been used in the past https://docs.google.com/document/d/1UxYQJNirKL-S7aUoXRKpciO2IpsJLmfsaGNxWdcL9Q0/edit

@tamarandom I thought about it and although you and I could keep taking on HR tasks as they come up, I think it is more efficient and better to put these on hold and take the time to hire an HR/Contributor Manager that focuses specifically on the Com

[2021-07-06 04:44] witwiki commented on #798
Happy to look into this. Just to clarify, when you mean "onchain Trusted Seed data" I assume you mean CSTK token holders or is it something else?

[2021-07-06 10:03] Ekeneodigwe commented on #888
@GriffGreen could you review this

Commons Stacks is a community that is focused on making the world a better place through the use of blockchain technology. In this video Product Manager & Cheerleader @griffgreen shares the idea behind our flagship product, the Giveth Donation Application (DApp) which is an integral part of the Commons Stack project.
Giveth is bringing new governance models into

[2021-07-06 11:19] tamarandom commented on #909
Hey @jessicazartler I just requested access to that doc.

[2021-07-06 14:43] iviangita commented on #909
@jessicazartler The "Terms" section in the Work Agreement Template was empty when I shared it with Ekene and added it only after he completed the other parts (he hasn't seen those terms yet). But I left a comment there to clarify with you first if the terms also apply to him or not.

I didn't have any other Terms as basis except the terms in my own work agreement and I assumed the same terms apply

[2021-07-06 17:12] knobsdao commented on #713
Since I recently did 1:1s based on our email outreach and we have been in touch with most folks, I will do an on-chain CSLOVE balances review in August as prep for a new outreach.

[2021-07-07 08:07] Ekeneodigwe commented on #896
These two documents awaits review -
- Architecting the Cyber-Physical Commons: An Evolution From DAOs to Commons Ecosystems by Jeff Emmett
- Building a grammar of Blockchain governance by Darcy Allen, Chris Berg, Sinclair Davidson, Trent MacDonald and Jason Potts are from the RMIT Blockchain Innovation Hub

[2021-07-07 08:14] Ekeneodigwe commented on #895
Celebrating CS 3k Followers today, CS Twitter is at this morning 3007
Moving the Meme party and postings to Linkedin and Facebook posts

[2021-07-07 09:01] Ekeneodigwe commented on #890
The part 1 of the document is ready for review https://docs.google.com/document/d/1x0KWEwD16_QM46SmzrIsQPCwepyN1JiCoHalHRXcS6I/edit?usp=sharing

[2021-07-07 12:58] jessicazartler commented on #896
I have reviewed Cyber-Physical just need to suggest CTA - didn't see the 2nd one - will review today :D

[2021-07-07 15:24] iviangita commented on #697
Added to the calendar: https://calendar.google.com/event?action=TEMPLATE&tmeid=NWFzNm9nNWY3cTg4aXVkZzJ2ajBhcW9kdjcgY192amRja2ZqNGJoYXJ1b3ZoZDRybW8zZHR2NEBn&tmsrc=c_vjdckfj4bharuovhd4rmo3dtv4%40group.calendar.google.com

[2021-07-07 15:27] jessicazartler commented on #697
Sorry @iviangita we will be changing the time so @GriffGreen can attend - Griff and @krisjpi can you confirm Thursday, July 29 at 11am EST or? So Ivy can update that? Also, would be good to put a line or two description if you have a sec Kris.. thanks guys!

[2021-07-07 15:33] iviangita commented on #909
Hi @jessicazartler I've updated the work agreement with your comments/changes - let me know if it's good to go so I can share with Ekene and add to our tracker :)

https://docs.google.com/document/d/1gdWgWBDpydgtYwA0GShDfUQZQIxEmUKuVMvBRG2QDDQ/edit?usp=sharing

[2021-07-07 15:52] jessicazartler commented on #909
@iviangita thank you so much! I added one section about Deliverables - passing to @tamarandom for a final review in the case there is anything else - otherwise, from my side looks great! Thank you again for driving and supporting!!!! <3

[2021-07-07 19:51] jessicazartler commented on #906
Nice job @liviade1 thank you so much for taking that on!

[2021-07-07 20:27] jessicazartler commented on #896
@Ekeneodigwe Looks awesome! I reviewed and added edit suggestions and a few questions - Jeff expressed he doesn't have bandwidth this week - perhaps @krisjpi you want to have a quick glance? And we can discuss our review process for these tomorrow on our sync with Ivy - thank you and great work!!

[2021-07-07 20:37] jessicazartler commented on #890
Hey Ekene, I requested edit access to the doc and would prefer to edit when the entire thread is complete - looking good so far.. thanks!

[2021-07-07 20:56] #911 closed

[2021-07-07 20:59] jessicazartler commented on #714
FINALLY booking a call with Fahern for hopefully this Friday :D Thank you again @tamarandom !!

[2021-07-08 11:30] Ekeneodigwe commented on #895
Tweet thread, Tweet fleet and postings on LinkedIn and Facebook about OMNIPool Engineering and Simulations gathering of #DeFi researchers done

[2021-07-08 11:42] GriffGreen commented on #888
Giveth is bringing new governance models into the nonprofit space while fostering a larger network of organizations to help us Build the Future of Giving we envision. .

rewritten:

Commons Stack is a community that is focused on creating a new way of rewarding contributions to society through the use of token economies. In this video Product Manager & Cheerleader @GriffGreen shares the idea behin

[2021-07-08 11:42] GriffGreen commented on #888
This Video has nothing to do with Giveth tho

[2021-07-11 08:29] Ekeneodigwe commented on #888
There are three copy writings made for the two links. The first that talked about giveth is this
https://positiveblockchain.io/database/giveth/

While the last link focused on TEC and Sweaty Equity.

[2021-07-12 18:50] #886 closed

[2021-07-12 18:51] MrsBadgerface commented on #886
Closing as I've just duplicated an already open issue!

[2021-07-12 18:53] MrsBadgerface commented on #875
Hey folks, I just went ahead and turned these into a [blog post](https://docs.google.com/document/d/1gpaOZVPWytc-rRHk9gwkjDLR18BIUoB9V9iCA9k0efY/edit#). Be great to hear your thoughts, have you make suggestions, and if anyone wants to jump in and improve it with me, I'm up for co-authors. @Jeff-Emmett @jessicazartler @krisjpi @liviade1

[2021-07-13 06:51] tamarandom opened #912 "Compensation model"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-13 07:29] GriffGreen commented on #912
I would suggest a 10% raise for everyone to start.

[2021-07-13 07:31] GriffGreen commented on #888
Sorry I am missing this one this week... but it looks like a video got out :-)

[2021-07-14 08:32] krisjpi commented on #902
Both flags were resolved and closed with no action taken. For more detail, see the Round 10 Dispute summary sheet here: https://www.notion.so/e79f1dd9e5074a1d986ee3f91b12943e?v=022c87a9489449e6afb4600879595c7b

[2021-07-14 08:32] #902 closed

[2021-07-14 12:22] Ekeneodigwe commented on #895
Tweet thread, Facebook series and LinkedIn push on architecting the cyber-physical commons posted yesterday.

[2021-07-14 12:25] Ekeneodigwe commented on #895
Fleets on initiating the radical change Commons and status poats on Facebook and LinkedIn done

[2021-07-14 14:26] jessicazartler commented on #902
Thank you @krisjpi !!!

[2021-07-14 14:48] jessicazartler opened #913 "Review/Edit June Newsletter"
## 📋   Anything to add?

Review/give feedback to Kris on the monthly newsletter

## 🎉   Subtasks

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-07-14 14:50] tamarandom commented on #797
review this: https://docs.google.com/document/d/1JcKwaHfbFFtriBiFM1J--sCT2ErGYNXZUqWEsGVCjaI/edit

[2021-07-14 15:12] jessicazartler commented on #913
Sent in Discord:

Heya, thanks for the heads up just saw - overall these keep looking better and better!

Just a few thoughts/comments (also don't want to be too picky!):

-The Gitcoin image (robot with heart) at the top looks like it's for governance, I would move it ABOVE the paragraph about Gitcoin thanks

-There are a few places I think we can tighten up the writing - i.e. deleting things like

[2021-07-14 15:12] #913 closed

[2021-07-14 20:42] jessicazartler commented on #909
@tamarandom do you want to review or no? Then @iviangita we can finalize, send and file unless there is anything else? Thank you both!!

[2021-07-14 20:49] jessicazartler opened #914 "Write Job Description for a Fundraiser Role"
## 📋   Anything to add?

Research other job descriptions for fundraisers and take the best ofs along with input from the Commons Stack team for what tasks/skills are needed for this role and write a description to be reviewed by CS team.

## 🎉   Subtasks

- [ ] Research best fundraiser role job descriptions
- [ ] Collect input from CS team for skills/requirements for the role
- [ ] Draft
- [ ] Col

[2021-07-14 23:09] witwiki commented on #798
https://duneanalytics.com/clayming-space/Commons-Stack

[2021-07-15 15:19] tamarandom opened #915 "Audit of scholarships - reach out to those that have not activated"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-15 21:07] #904 closed

[2021-07-15 21:08] krisjpi commented on #904
Had the call, we are working on drafting an agreement to move forward with Justice as a contributor.

[2021-07-15 21:33] krisjpi commented on #793
PR has been submitted to the repository, just needs a review and merge from @dapplion - or I could attempt to merge myself without an audit 🦧😉

[2021-07-16 20:00] dapplion commented on #793
If it's just text and CI is green :white_check_mark: feel free to merge on your own!

[2021-07-19 01:41] iviangita commented on #439
Handed off to Freshelle :)

[2021-07-19 02:14] freshelle opened #916 "Updating budget sheets"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-07-20 17:20] Ekeneodigwe commented on #895
Executed Today's tasks ( Tweet thread for Twitter, Second Facebook series and the first LinkedIn Slide.
Made a breakthrough posting slides for LinkedIn, all five slides came out better than Slideshare.

[2021-07-20 17:26] Ekeneodigwe commented on #891
Found a better way to post slides on LinkedIn. Took a lot of time to edit and fit them all in but I am happy because it's all worth it. ....
Check out this link
 https://www.linkedin.com/posts/the-commons-stack_building-a-grammar-of-blockchain-governance-activity-6823289695863099392-pEpg

[2021-07-20 18:09] jessicazartler commented on #891
This looks awesome @Ekeneodigwe what tool did you end up using?

[2021-07-20 18:19] Ekeneodigwe commented on #891
Thanks, Jess, I created them on PowerPoint then exported them as PDF before posted them as documents on Linkin

[2021-07-20 19:27] jessicazartler opened #917 "Regen Network Partnerships Proposal"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Draft
- [x] Regen Team Review & @Jeff-Emmett edit
- [x] Finalize

## 🤼‍♂️   Reviewer

@knobsdao @Jeff-Emmett @GriffGreen @tamarandom

## 🔗   Work doc - inspirational links

[2021-07-20 19:28] jessicazartler commented on #917
[Regen.Network.__.Commons.Stack.Partnership.1.pdf](https://github.com/commons-stack/iteration0/files/6850796/Regen.Network.__.Commons.Stack.Partnership.1.pdf)

[2021-07-20 19:28] #917 closed

[2021-07-20 19:32] jessicazartler commented on #766
Thank you so much @krisjpi for the draft! I will move to review before end of week to pass to Regen for final review

[2021-07-22 06:31] Ekeneodigwe commented on #888
Hi, @GriffGreen could you help me review this...

02:30 – 02:59 = Sweat equity is a non-monetary benefit that a company's stakeholders give in labour and time, rather than a monetary contribution that benefit the company. Sweat equity is rewarded in the form of sweat equity shares, wish to learn how we equate that in the Commons Stack? Watch this
https://www.youtube.com/watch?v=sgoTeOYnv0g&feature

[2021-07-22 06:34] Ekeneodigwe commented on #895
Disappearing contents for all the socials were executed https://media.discordapp.net/attachments/789624016829677629/828679665429250068/giphy_10.mp4

And engagements across platforms were also done

[2021-07-24 08:22] Ekeneodigwe commented on #896
These two documents have been repurposed and Posted-

Architecting the Cyber-Physical Commons: An Evolution From DAOs to Commons Ecosystems by Jeff Emmett
-
Twitter https://twitter.com/commonsstack/status/1414866591859322882?s=19

LinkedIn
https://www.linkedin.com/posts/the-commons-stack_architecting-the-cyber-physical-commons-activity-6820639385948590081-ZoDW

Facebook
https://www.facebook.com/10

[2021-07-24 08:29] Ekeneodigwe commented on #890
So it's completed, could you @jessicazartler check it out. I can't wait to hear your thoughts. Have a blissful weekend!!!!

[2021-07-25 13:15] Ekeneodigwe opened #918 "Repurpose Tam's talk at the DAOist event"
## 📋   Anything to add?

## 🎉   Subtasks

- [An Excerpt of the talk is to be written and a clip attached]
- On the 23rd of July, Our Program Manager @tamarandom told the Daoist gathering of how the work of our first partner commons' stewardship responsibility is inspired by Scrum, majorly because it is within our internal processes which are Transparency, inspection and adaptation.
Check it out -

[2021-07-25 20:38] Ekeneodigwe commented on #896
The third (3) document "It’s Time For DAO-to-DAO Coordination" has been drafted, waiting reviews from @jessicazartler & @Jeff-Emmett -- https://docs.google.com/document/d/1jQ4dC0dNT_FNqnZYDemd8Syt-1GgKlCp3BeZVjmxlE0/edit

[2021-07-25 20:40] #889 closed

[2021-07-26 11:11] tamarandom commented on #909
Reviewed and added 2 small comments!

[2021-07-26 11:59] iviangita commented on #860
Closing this as there's no need for it anymore for now... :)

[2021-07-26 11:59] #860 closed

[2021-07-26 21:51] jessicazartler opened #919 "Write grant proposal draft for One Project"
## 📋   Anything to add?

Grant proposal DEADLINE for first draft AUGUST 9
Potential for $250k/year in a multi year funding grant / partnership with One Project
https://www.linkedin.com/company/oneprojectorg/

## 🎉   Subtasks

- [x] Write proposal draft
- [x] Follow up email to One Project team to schedule call
- [ ] Edit round

## 🤼‍♂️   Reviewer

@tamarandom @liviade1 @GriffGreen @Jeff-Emmett @kn

[2021-07-26 22:21] jessicazartler commented on #894
@Ekeneodigwe - Just saw @quefear posted it on our CS telegram would you mind reaching out and asking how to submit news to this publication?

https://medium.com/paradigm-fund/daos-openlaw-releases-the-tribute-dao-makerdao-completes-its-decentralization-uniswap-grants-39fa11fbab74

[2021-07-27 05:47] jessicazartler commented on #766
Finished the draft! Thank you Kris for your writing/edits - passing to Jeff for edits then will pass to Regen during our meeting with them tomorrow :D where we will finalize token transfer, governance responsibilities and AMA details

[2021-07-27 11:54] Ekeneodigwe commented on #894
Hello Jess, I just finished talking with her, She is the author and editor of this digest and says we could write our news directly to her.

I followed up by asking for an email address and once that comes I will pass it forward.

[2021-07-27 14:43] #909 closed

[2021-07-27 14:43] iviangita commented on #909
Closing this! Shared the final work agreement with Ekene and filed in our tracker :)

[2021-07-27 15:06] iviangita commented on #385
Closing for this month! Next Trace Party is set on July 30th 11am EST/5pm CET

https://calendar.google.com/event?action=TEMPLATE&tmeid=NmZqcG84cnRxZGczYjI5MWM3MjR0a25hcGggY192amRja2ZqNGJoYXJ1b3ZoZDRybW8zZHR2NEBn&tmsrc=c_vjdckfj4bharuovhd4rmo3dtv4%40group.calendar.google.com

[2021-07-27 18:38] krisjpi opened #920 "Hack together a way to check pending CSTK Score"
## 📋   Anything to add?
This came up through conversation with Peter Jones on Twitter. He was wondering if there is any way to check pending CSTK balance prior to joining the Swiss Association and paying dues. This would be a great way to show people the value they've already created and create a stronger incentive for contributors that are already participating but not yet activated to see their

[2021-07-28 15:06] kosmostasis commented on #879
We added the following question to the application Typeform:

To confirm your identity, it is required to verify over social media. Please share the following message on your Twitter, LinkedIn, or similar.

“I've just applied to become a member of the Trusted Seed of Commons Stack! 🌱”

Paste the link here. ⬇️

[2021-07-28 15:06] #879 closed

[2021-07-28 15:08] kosmostasis commented on #753
We hired two awesome profiles and will be guiding them through the ropes in the next few weeks!

[2021-07-28 15:08] #753 closed

[2021-07-28 16:47] jessicazartler commented on #909
Thank you so much @iviangita !!!! Do you also have a GDrive where you are filing? Thanks again for all your support! This will be a very valuable template

[2021-07-29 00:47] jessicazartler opened #921 "Edit TEC Case Study 2 on Monitoring"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Review/edit

## 🤼‍♂️   Reviewer

@tamarandom @GriffGreen @tamarandom @Jeff-Emmett @krisjpi

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1JcKwaHfbFFtriBiFM1J--sCT2ErGYNXZUqWEsGVCjaI/edit

[2021-07-29 00:58] #688 closed

[2021-07-30 16:17] jessicazartler commented on #921
Pretty much finished @liviade1 I will just have one more brief look today and make last comments in Core team chat to let you know anything else - amazing job pulling it all together!

[2021-07-30 16:17] #921 closed, assigned to jessicazartler

[2021-07-30 16:18] #906 closed

[2021-07-30 16:18] #873 closed

[2021-07-30 16:18] #870 closed

[2021-07-30 16:18] #880 closed

[2021-07-30 16:20] GriffGreen commented on #585
Need to do June and July...

[2021-07-30 16:21] jessicazartler commented on #877
@Jeff-Emmett can we call this done?

Created this map from Z's template and sorting paying contributors with the Gitcoin Grant

https://docs.google.com/document/d/1OD1KhBP2csEaPhZr2uZWuMkvrONbSts5EfHnSDAjHs8/edit#

[2021-07-30 16:25] GriffGreen commented on #888
https://youtu.be/PFy458wCQ0g?t=66

This video is the one to cut from for sure

[2021-07-30 16:26] jessicazartler commented on #839
@tamarandom @iviangita how are we doing on this? We still need some improvements and maybe we make an ongoing issue or rather epic with more specific tasks underneath - this is my bad, probably this should have been back end processes, still need some work on "front end" and onboarding - I'll change the title of this task and maybe we can close it? Or there is still work that needs to be done?

Or

[2021-07-30 16:27] jessicazartler commented on #783
Agreement is done and filed - thanks for all your support @iviangita !!!!! Calling it DONE!!! :D

[2021-07-30 16:27] #783 closed

[2021-07-30 16:28] jessicazartler commented on #778
Just closed the one last issue... calling it DONE!!!!!!!! Thank you for all who supported ! @iviangita @tamarandom @GriffGreen @Jeff-Emmett @krisjpi

[2021-07-30 16:28] #778 closed

[2021-07-30 16:28] jessicazartler commented on #652
Boson will support governance research / governauts... maybe eventually we could re-engage about CS - closing for now

[2021-07-30 16:28] #652 closed

[2021-07-30 17:43] kosmostasis commented on #830
Necessary steps were taken to remove six members and communicate to them the reasons. All before the Hatch.

[2021-07-30 17:43] #830 closed

[2021-08-01 22:45] #877 closed

[2021-08-02 08:18] #891 closed

[2021-08-02 09:02] Ekeneodigwe commented on #888
Our vision and mission are built around creating and sustaining a world where public goods are valued fairly for the benefits they deliver. The deep question however is, what could be classified as a public good?

Welcome to Appreciating Public Goods 101 by @thegrifft!

#PGs

Video clip  - " 02:20 "

[2021-08-02 10:36] Ekeneodigwe commented on #849
-1 Youtube video repurposed
-Last sprint Hootsuite was set up w/ @krisjpi
-Tweet thread on Zen Art Understanding piece has been drafted and currently being reviewed by @jessicazartler
-found a better way to share slides on LinkedIn
- Improving the support/questions/FAQ process (create doc & discuss in Comms meeting) is in the pipeline
-Started refreshing audience doc & strategy on platforms/audien

[2021-08-02 10:38] Ekeneodigwe commented on #849
-1 Youtube video repurposed
-Last sprint Hootsuite was set up w/ @krisjpi
-Tweet thread on Zen Art Understanding piece has been drafted and currently being reviewed by @jessicazartler
-found a better way to share slides on LinkedIn
- Improving the support/questions/FAQ process (create doc & discuss in Comms meeting) is in the pipeline
-Started refreshing audience doc & strategy on platforms/audien

[2021-08-02 10:52] Ekeneodigwe opened #922 "Work on the blurb from past Newsletter"
## 📋   Anything to add?

## 🎉   Subtasks

- [ Draft a frame and content]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-08-02 15:18] GriffGreen opened #923 "Get Kelsie more involved in the Case Studies"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 15:23] GriffGreen opened #924 "Reach out to my network to get people in the TEC"
## 📋   Anything to add?

Will use the Curate Sheet

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 16:09] liviade1 opened #925 "Nate contributor review"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 16:10] liviade1 opened #926 "Juank contributor review"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 16:14] liviade1 opened #927 "present a proposal for the Case Studies moving forward"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 16:27] liviade1 opened #928 "Mission and org dev session"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 16:49] GriffGreen commented on #878
maybe we do in september... maybe not at all?

[2021-08-02 16:50] GriffGreen commented on #825
Get Anna Marie's post up :-D a nice first run!

[2021-08-02 16:52] GriffGreen commented on #825
Mehigh might want to be the next one!

[2021-08-02 17:03] GriffGreen commented on #905
Has an agreement going :-D

[2021-08-02 17:04] GriffGreen commented on #788
looking to get a meme archive to sort in github!!

MEMEPO

[2021-08-02 17:06] GriffGreen commented on #732
4th times the charm...

In progress

[2021-08-02 17:07] GriffGreen commented on #731
Justice and Kris have been discussing this... will prob go into the CSTK piece of be its own piece

[2021-08-02 17:12] GriffGreen commented on #927
Griff and Katy can't make it tuesday wednesday... we might need a doodle

[2021-08-02 17:15] GriffGreen commented on #893
work with @krisjpi @knobsdao @jessicazartler

[2021-08-02 17:15] Jeff-Emmett opened #929 "Run BSci Open Research Office Hour"

[2021-08-02 17:15] #849 closed

[2021-08-02 17:16] #929 closed, assigned to nobody

[2021-08-02 17:18] GriffGreen opened #930 "Working on a blurb for past newsletters"
## 📋   Anything to add?

If people just join we can have a catch up newsletter blog post

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 17:18] Jeff-Emmett opened #931 "Run BSci Open Research Office Hour"
## 📋   Anything to add?
Open Research office hour on relevant primitives, models, and tools for wide use in the web3 ecosystem.

## 🎉   Subtasks

- [ ] Run session
- [ ] Follow up on deliverables & action items to carry the initiative forward

## 🤼‍♂️   Reviewer

@JessicaZartler

## 🔗   Work doc - inspirational links

[2021-08-02 17:21] GriffGreen commented on #882
Case Study on weekly calls is edited!

[2021-08-02 17:21] Jeff-Emmett opened #932 "Canada Podcast Interview"
## 📋   Anything to add?
Was invited to speak on Canada's Podcast about the Commons Stack & our work.

## 🎉   Subtasks

- [ ] Do interview
- [ ] Promote content, when available

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links

[2021-08-02 17:23] GriffGreen commented on #908
Needs to be renamed and scoped for this sprint

[2021-08-02 17:35] GriffGreen commented on #932
Will be this friday!! :-D

[2021-08-02 17:35] GriffGreen commented on #931
:fire:

[2021-08-02 17:35] GriffGreen commented on #931
Proposal inverter coming in hot

[2021-08-02 17:37] jessicazartler opened #933 "Create Work Agreement for Peter"
## 📋   Anything to add?

Before next project with Peter, create working scope/agreement, and give review & feedback on contributions so far
Ivy will create an issue for Freshelle to work with him on the agreement

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@iviangita @krisjpi @Jeff-Emmett @tamarandom @freshelle @hanners717

## 🔗   Work doc - inspirational links

[2021-08-02 17:38] Jeff-Emmett commented on #931
CRITICAL: Ensure the measure of Conviction in dollars instead of token seconds.

Key for interoperability of different CV DAOs.

[2021-08-02 17:38] GriffGreen opened #934 "Send jeff the comments on using the xdai units instead of conviction"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 17:39] GriffGreen commented on #759
Needs to be rescheduled cause thursday doesnt work

[2021-08-02 17:40] GriffGreen opened #935 "Publish support on the polycentric governance piece"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 17:41] GriffGreen opened #936 "Hang with Paul Stamets"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-02 17:48] jessicazartler commented on #882
Had a great chat with @liviade1 and will be supporting the process going forward in organizing our resources/advisors to improve the case studies. I will personally be supporting Livia and the process with scaffolding/editing/advice process.

[2021-08-02 18:13] jessicazartler commented on #931
@GriffGreen also updating: So Z/Shawn are looking over the Curve Labs Spec to see if it meets the needs of what Jeff/Z were envisioning for the primitive and if not, Z is training Shawn to write Smart Contract specs and they will work together on iterating on these if you wanna have a look:

Z wrote a tech spec https://docs.google.com/document/d/1N6nkuxlC7SqTiOFg4lcZL0AugErSePUIhyG9YoKZqKY/edit
An

[2021-08-02 20:11] GriffGreen commented on #931
https://github.com/1Hive/conviction-voting-app/issues/52

^^ Some conversation about conviction in units of the proposal request :-D

[2021-08-02 20:12] GriffGreen commented on #931
https://commons.invisionapp.com/console/Conviction-Voting-Prototype-ck0khwxhk02hd01d23mgl75rg/ck0khwyqe0myb01c7f6rnsv06/play
^^ Invision app with dai conviction

[2021-08-02 22:23] jessicazartler commented on #588
@freshelle @GriffGreen @tamarandom submitted my milestone for July -- thank you! :D Have an awesome week!!
https://trace.giveth.io/trace/jess-milestone-for-communications-and-ecosystem-development

July2 bonus https://trace.giveth.io/trace/jess-cs-team-reward-july

[2021-08-03 04:36] iviangita opened #937 "Work Agreement - Peter"
## 📋   Anything to add?
Prepare Peter's work agreement when he starts his next project - @jessicazartler will let Ivy/Freshelle know

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@jessicazartler @iviangita

## 🔗   Work doc - inspirational links

[2021-08-03 05:18] Ekeneodigwe commented on #895
- Status and fleets were updated across channels

- The Sprint 20 Review Video was shared with the community and I am hoping to repurpose some part of it later.

-

[2021-08-03 15:50] iviangita opened #938 "Onboard Junior Gardeners"
## 📋   Anything to add?
Have an onboarding call with Yineisy and Maria and prepare the needed documents (see below)

## 🎉   Subtasks

- [x] Onboarding kit
- [x] Work agreement
- [x] Zenhub tutorial
- [x] Giveth tutorial

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   Work doc - inspirational links

[2021-08-04 10:45] kosmostasis opened #939 "Update Trusted Seed Membership List"
## 📋   Anything to add?
Updating the list with the latest active members, member count and total CSTK in supply.

This list: https://member.commonsstack.foundation/members

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-04 19:41] Ekeneodigwe commented on #894
Here is the email address of the author/publisher for Paradigm on Medium https://medium.com/@paradigmfund - quefearr@gmail.com

[2021-08-04 19:51] Ekeneodigwe commented on #888
Griff's talk on Collective Psychosis Around Public Goods at the EthCC4 will be turned into 3 mini-series.
Each handling a section of that presentation.

1- What's a public good
2- The obstacles to Public good
3- The solution to the issues raised

The idea is to get the Commons to understand what's required of them that way the Collective call of the presentation can be sustained.

For 1- What is a

[2021-08-04 20:02] Ekeneodigwe commented on #895
Yesterday the third (3) of August the first part of Griff's talk on Collective Psychosis on public good was posted on all socials :
Twitter - https://twitter.com/commonsstack/status/1422501208141467684?s=19

Facebook - https://www.facebook.com/109741027232685/posts/384175276455924/

LinkedIn - https://www.linkedin.com/posts/the-commons-stack_pgs-sustainability-blockchain-activity-68283532232171847

[2021-08-04 20:09] Ekeneodigwe commented on #895
Today Griff's appearance on the state of the world was posted on Twitter - https://twitter.com/commonsstack/status/1423001958932156422?s=19

[2021-08-04 20:27] Ekeneodigwe opened #940 "Repurpose the Token Engineering Commons Hatch pieces"
## 📋   Anything to add?

## 🎉   Subtasks

- [ Build an explainer tweet 🐦 thread]
- [ Construct a Facebook series]
- [ Build a PowerPoint for LinkedIn ]

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links

[2021-08-04 20:28] Ekeneodigwe commented on #940
https://docs.google.com/document/d/11XxhlKlrBR5q1_uwJQP-e3m8XSI0NtHTujdvrgJykWg/edit?usp=drivesdk

[2021-08-04 22:44] jessicazartler opened #941 "Support TEC Hatch Comms from CS"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Suggested strategy https://docs.google.com/document/d/1vQb7DCFqWMmJxK7uRfYEOzyTugbqwTjoJDtLrQqmuoY/edit
- [x] Edit Eduardo's TL;DR post https://forum.tecommons.org/t/how-do-i-participate-in-the-hatch-tl-dr/523
- [x] Edited 2 CS email about TEC hatch
- [x] Edited Ekene's distribution plan

## 🤼‍♂️   Reviewer

@krisjpi @GriffGreen @liviade1 @Jeff-Emmet

[2021-08-05 23:54] #589 closed

[2021-08-06 16:12] GriffGreen opened #942 "Need help correcting German text"
![Screen Shot 2021-08-06 at 6.12.17 PM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/71d205a7-b5f4-4623-aeea-f436eff0d821)

Someone sent me this message

[2021-08-06 17:34] GriffGreen opened #943 "Create a system for adding DAOs to the Trusted Seed's "Qualifying DAO's" List"
https://docs.google.com/document/d/1xtE6jIqO9AgpD6mfp6j3PeP4Suz_DkC-TfZckr9beDY/edit

^^^ Starting point

[2021-08-06 17:35] GriffGreen commented on #943
@krisjpi maybe you can support me in this?

[2021-08-09 09:45] Ekeneodigwe commented on #895
Last week from Thursday 5th of August to Sunday
**Twitter -**
- TEC Hatch tags were Retweeted and Liked https://twitter.com/tecmns/status/1423302524921057282?s=20
- The state of the World's excerpts from Griff's talk was also Retweeted and Liked
- https://twitter.com/ixoworld/status/1423572593165185024?s=20
- Hannah's post on Giveth Product Designer was retweeted and Liked
   https://twitter.com/H

[2021-08-09 10:35] tamarandom commented on #345
Linking @iviangita's Onboarding doc: https://docs.google.com/document/d/1pS2hOc_Z2qqfeB1mLBzVVUCfMcyrO6P9EE3jD_KDne0/edit

[2021-08-09 21:02] Ekeneodigwe commented on #895
Today was focused on TEC's Hatch COMM PUSH
All TEC's Hatch Tweets we're liked and Retweeted

-https://twitter.com/tecmns/status/1424788320932941832?s=19

**Facebook**

The TEC's hatch post was rewritten for the CS Facebook page and shared

-https://www.facebook.com/109741027232685/posts/388085179398267/

**LinkedIn**

The TEC's hatch post was posted, and some News sites and Media brands within Cry

[2021-08-11 09:24] kosmostasis opened #944 "Onboard Junior Gardeners into TS & Team Processes"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Praise Quantification
- [x] Minting CSTK
- [x] CSTK Score Increase Notification
- [x] Updating the Burn Log
- [x] Trusted Seed Office Hours Call
- [x] Contributors Sync Call
- [x] Weekly Comms Call
- [x] Praising
- [x] Sharing the Review Call
- [x] Trusted Seed Application
- [x] Trusted Seed New Applicant Assessment
- [x] Updating the xDai Registry
-

[2021-08-11 10:18] kosmostasis commented on #893
@jessicazartler @Ekeneodigwe @krisjpi The analysis I did on our legacy audience using Octalysis is here on slides 9-15: https://docs.google.com/presentation/d/1RiqPLsleKfobglON4sqqJMLjmZHrF1LD9PBSoRC_hbY/edit#slide=id.gb739c7e729_0_0

[2021-08-11 20:14] jessicazartler commented on #919
First draft finished!! https://docs.google.com/document/d/1cx4imlsU2nqG3RDPc7u3hAZhlY1asrhSyEeemJRaPR0/edit#

Thank you SO MUCH @liviade1 @Jeff-Emmett for your support!!!! I wrote a follow up email to schedule a call for next steps

[2021-08-13 08:45] #747 closed

[2021-08-13 08:45] #573 closed

[2021-08-13 17:12] #936 closed, assigned to Jeff-Emmett

[2021-08-14 00:29] #790 closed

[2021-08-16 14:03] #356 closed

[2021-08-16 14:03] liviade1 commented on #356
Closing this issue and taking out the repeating tag since Ata is offboarding the Case Studies

[2021-08-16 14:04] liviade1 commented on #923
She's onboarded! now we need to prepare a work agreement

[2021-08-16 14:59] #926 closed, assigned to liviade1

[2021-08-16 14:59] #927 closed, assigned to liviade1

[2021-08-16 15:00] #928 closed, assigned to liviade1

[2021-08-16 15:00] #853 closed

[2021-08-16 15:57] Ekeneodigwe commented on #895
Last week was all about TEC's Hatch therefore all Tweets tagging CS was retweeted, most of the TEC tweets were also Retweeted

- https://twitter.com/knobsDAO/status/1425395052721938433?s=19

https://twitter.com/natesuits/status/1425444365304954883?s=19

https://twitter.com/thegrifft/status/1425591618351124481?s=19

https://twitter.com/CryptoLawRev/status/1426452972247060484?s=19

https://twitter.c

[2021-08-16 16:03] jessicazartler commented on #895
Awesome work @Ekeneodigwe! Loving all the stuff you're doing on socials!! And thank you again for doing the heavy lifting on the tweet thread.

Just one note: If we can  keep working to sprinkle in other content between CS/TEC content, just to keep changing it up. The hatch stuff was great to keep amplifying - just a general note to keep sprinkling in stuff from Knowledge Commons and reminding oth

[2021-08-16 16:08] #924 closed, assigned to GriffGreen

[2021-08-16 16:09] #923 closed, assigned to liviade1

[2021-08-16 16:11] liviade1 opened #945 "Prepare a work agreement for Kelsie"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@tamarandom

## 🔗   Work doc - inspirational links

[2021-08-16 16:12] #878 closed

[2021-08-16 16:13] liviade1 opened #946 "finalize reward systems wg proposal"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-16 16:14] GriffGreen commented on #943
Made some progress: https://docs.google.com/document/d/1xtE6jIqO9AgpD6mfp6j3PeP4Suz_DkC-TfZckr9beDY/edit

[2021-08-16 16:14] #941 closed, assigned to jessicazartler

[2021-08-16 16:14] liviade1 opened #947 "prepare reward system panel config for governauts"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-16 16:15] GriffGreen opened #948 "Get the 75% Governance right vote out to the HatchDAO"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-16 16:16] Ekeneodigwe commented on #888
This video was posted - https://twitter.com/commonsstack/status/1422501208141467684?s=19

[2021-08-16 16:16] jessicazartler opened #949 "What's in a Hatch TL;DR Tweet Thread"
## 📋   Anything to add?

Tweet thread on What's in a Hatch + promote TEC Hatch

## 🎉   Subtasks

- [x] Ekene / Jess Write tweet thread
- [x] Kris edit
- [x] Jess post

## 🤼‍♂️   Reviewer

@krisjpi @Jeff-Emmett @GriffGreen @tamarandom

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/11XxhlKlrBR5q1_uwJQP-e3m8XSI0NtHTujdvrgJykWg/edit

[2021-08-16 16:18] jessicazartler commented on #949
Thank you @Ekeneodigwe for catalyzing - finished! https://twitter.com/commonsstack/status/1425918593716391937

[2021-08-16 16:18] #949 closed, assigned to jessicazartler, Ekeneodigwe

[2021-08-16 16:22] GriffGreen opened #950 "Starting Governance in the Hatch DAO"
## 📋   Anything to add?

4 votes to get going on my side

## 🎉   Subtasks

- [ ] 75% governance rights to deducted people
- [ ] Lost Keys... minting and burning
- [ ] Initial Buy for TEC tokens to be used for something? SourceCred?
- [ ] Covenant
- [ ] What to do with the funds from Gitcoin

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-16 16:24] jessicazartler opened #951 "IXO Airdrop"
## 📋   Anything to add?

IXO is offering an airdrop of 500 IXO tokens to the Trusted Seed, when they sign up for their Earth State membership (first 12 months free membership - then $500/year) and show proof of TS membership. They must also have a Keplr wallet/address to receive tokens.

We need to get it out around 8/24 or 25 -- DEADLINE TO CLAIM IS AUGUST 31 (or before the DEX launches Sept. 5 -

[2021-08-16 16:25] krisjpi commented on #732
There is now a draft that has taken shape - needs a bit more cleanup to publish, but progress!
https://docs.google.com/document/d/1xgA0HEyPxY_mezuivwlFC3gsGcf63U9d5Utsv1QmVVU/edit?usp=sharing

[2021-08-16 16:27] Jeff-Emmett opened #952 "Organizational Development Proposal"
## 📋   Anything to add?
Working on a proposal for CS Org Dev moving forward.

## 🎉   Subtasks

- [x] Draft proposal
- [x] Discuss with team in Vienna
- [ ] Decide how to move forward as an org

## 🤼‍♂️   Reviewer

@GriffGreen @jessicazartler

## 🔗   Work doc - inspirational links

[2021-08-16 16:28] krisjpi commented on #731
Started the piece - not quite at a shareable draft yet.

[2021-08-16 16:33] krisjpi opened #953 "Explore Chainsafe Files Functionality"
## 📋   Anything to add?
Chainsafe recently released https://files.chainsafe.io/ that is basically permissioned google drive using IPFS with authentication through ETH Address. Want to explore for contributor file sharing and possibly team shared docs.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-16 16:34] GriffGreen opened #954 "Review Habitat Governance system"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-16 16:37] GriffGreen opened #955 "Christina Funderaiser lead exploration"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links

[2021-08-16 16:39] GriffGreen commented on #697
REGEN AMA!! :-D

[2021-08-16 16:41] GriffGreen commented on #799
rdfbbx is interested in working on this bot and some others :-D and hacking on translations