[2021-08-16 16:43] GriffGreen commented on #905
in progress... talking about some of the conceptual things... wants to bring in more gamification...

Become a CS Super Hero! Public Goods... watch out!

[2021-08-16 16:43] GriffGreen commented on #788
Meme your hearts out team!

[2021-08-16 16:48] kosmostasis opened #956 "Trusted Seed x TEC Hatch Support"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Hatcher Outreach & Tracking Support
- [x] CS Community Support
- [x] Speedy Up TS Processes
- [x] Post-Hatch Audit Support

## 🤼‍♂️   Reviewer

@GriffGreen

## 🔗   Work doc - inspirational links

[2021-08-16 16:49] GriffGreen commented on #647
sent a ton of hatch emails... maybe we leave this for the next month...

Could also get a Hatch Follow up email... could add the AMA, and other content... Anna-Marie's guest blog..

[2021-08-16 16:51] GriffGreen commented on #647
Anna- Marie to write a content piece for her part of the email

[2021-08-16 16:53] GriffGreen commented on #953
@zeptimus should check this out too

[2021-08-16 16:57] kosmostasis opened #957 "Revisiting Orbit"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Give access to team members
- [x] Setup an exploratory work sesh with the Juniors
- [x] Expand to the rest of the team
- [ ] Explore doing the same for TEC

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://app.orbit.love/cs

[2021-08-16 16:58] GriffGreen commented on #947
Griff to Rep Praise
YGG and Octopus to jump in too!
Coordinape + Sourcecred
Metadreamer from metacred
Aloyiscious could rep sourcecred

[2021-08-16 17:00] GriffGreen commented on #945
work with @jessicazartler @iviangita and @freshelle on this

[2021-08-16 17:04] GriffGreen commented on #932
game of phone tag in progress... prob september

[2021-08-16 17:06] GriffGreen commented on #194
CCG might addd some more action

[2021-08-16 17:06] #194 closed

[2021-08-16 17:07] GriffGreen opened #958 "Bring the CCG crew into the TEC case studies fold"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-16 17:19] GriffGreen commented on #890
@jessicazartler to review

[2021-08-16 17:26] GriffGreen opened #959 "Gitcoin Grants Warm-up sync!"
## 📋   Anything to add?

See #658 for more deets

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-16 17:51] jessicazartler commented on #945
Wrote Kelsie to ask about how many hours she can commit per month to come up with a monthly retainer for a 3-month duration. Will discuss with @liviade1 and present for approval to team for budget

[2021-08-17 18:49] Ekeneodigwe commented on #940
An explainer tweet thread was developed and posted by Jess - https://twitter.com/commonsstack/status/1425918593716391937?s=19

Shaped a Facebook series out of the thread- https://www.facebook.com/109741027232685/posts/390472215826230/

Designed a PowerPoint slide for LinkedIn  - https://www.linkedin.com/posts/the-commons-stack_what-is-in-a-hatch-activity-6831932576429555712-UOtX

[2021-08-17 19:03] #940 closed, assigned to Ekeneodigwe

[2021-08-17 22:49] Ekeneodigwe commented on #890
Hello @jessicazartler here is the link https://docs.google.com/document/d/1x0KWEwD16_QM46SmzrIsQPCwepyN1JiCoHalHRXcS6I/edit?usp=drivesdk
Can wait to read your thoughts on this. The concept is to help our audience the concept of what we do here in Commons Stack

[2021-08-18 13:03] Zeptimus commented on #953
Thanks for looping me in ill dive deeper into it and check how it will benefit us on TEC  :D

[2021-08-18 19:48] jessicazartler commented on #890
Just finished editing/reviewing @krisjpi if you wanna have one final glance should be good to go - thanks guys! 🙏

[2021-08-18 19:50] jessicazartler commented on #919
Heard back from Zack - he said the grant review will be in the fall - we are setting up a call for mid-September to go through edits and will be submitting with him before the fall deadline, TBA

[2021-08-18 19:51] jessicazartler opened #960 "Editing Zen and the Art Tweet Thread"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Edit Ekene's draft

## 🤼‍♂️   Reviewer

@Ekeneodigwe @krisjpi

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1x0KWEwD16_QM46SmzrIsQPCwepyN1JiCoHalHRXcS6I/edit#

[2021-08-18 19:51] jessicazartler commented on #960
Done

[2021-08-18 19:51] #960 closed, assigned to jessicazartler

[2021-08-18 19:55] jessicazartler commented on #951
Based on partner feedback, IXO have removed the requirement for partner network invitees to use their credit card for identity verification to receive the Earth State Launch Offer IXO token drop.

Example offer https://earthstate.ixo.world/welcome-regenerate/

Need:
Eligibility criteria which are easy to validate (up to you who you would like to make eligible)
Edits on the offer landing page (usin

[2021-08-19 16:19] Ekeneodigwe commented on #896
Could you review this for me https://docs.google.com/document/d/1Tlh8S1S2g1_HjG1oqpTkwi1BLszdwjUGAwe1cAOUpCk/edit Cc @jessicazartler @Jeff-Emmett

[2021-08-19 18:21] jessicazartler commented on #951
Announcement draft done and under review
https://docs.google.com/document/d/1ve8pD_zZZhEx3diGBkOiJllbhDKOI8zGPu0mTfTK4yk/edit#

Landing page content drafted
https://docs.google.com/document/d/1KxXn5FMKnQOKJHj-LCShANz_H4QSTFJHJpa6tLrbVZA/edit

Landing page is up already and under review by Kris/me/IXO team
Https://earthstate.ixo.world/welcome-trusted-seed/

[2021-08-23 07:29] Ekeneodigwe commented on #922
Attn: @krisjpi
The draft is prepared and can be accessed here
 https://docs.google.com/document/d/1G2tL_yj5Sx221OtdNr5uUvvlvDlYAqr6VtqTOUN4MHw/edit?usp=drivesdk

[2021-08-23 08:26] Ekeneodigwe commented on #888
- 2 ( The Obstacles to Public Goods)
The copy reads
"The government is a major provider of public goods but at the same time, the non-existence of incentive alignment & top-down approach is all part of what constitute obstacles to public goods.
Join @thegrifft on a new episode of appreciating Public Goods 101"

The video will go with this post

It will start from where griff said the Number provid

[2021-08-23 10:08] tamarandom commented on #918
Hey @Ekeneodigwe,

Thank you for taking the time to do this. 🙏🏼   I would propose alternative wording:

In July, our Program Manager @tamarandom spoke at the DAOist conference about how Stewards at the TEC (our first partner Commons) integrate the three pillars of empiricism - transparency, inspection and adaptation - into their cultural practices. Check it out -

[2021-08-23 10:39] Ekeneodigwe commented on #918
Thanks, I will move this to the Twitter planning sheet

[2021-08-23 15:56] #956 closed, assigned to kosmostasis

[2021-08-23 19:47] krisjpi commented on #922
This looks great Ekene, thank you!

[2021-08-24 20:20] GregTheGreek commented on #953
If you have any questions please reach out :)

[2021-08-25 13:15] tamarandom opened #961 "Devops support for our merch and swag shops"
If you're looking at this issue hoping to contribute to the project, welcome! We'd love to have you contribute, so please let us know if you have any questions.

Comment on the issue or touch base in our [telegram](https://t.me/joinchat/HGrjjRS2PoowbH1ODuefuA).

## 💭 Here's some additional context to this issue:

We have experienced some technical issues on our swag and merch shops and are still l

[2021-08-25 14:50] iviangita opened #962 "Onboard Kelsie"
## 📋   Anything to add?

Have an onboarding call with Kelsie and prepare the following:

- [x] [Onboarding kit](https://docs.google.com/document/d/1MLivLHilhP_JPGWv02neico97QzBqBP1nR4DeQL1xrs/edit?usp=sharing)
- [x] Work agreement
- [ ] Zenhub tutorial
- [x] Giveth tutorial

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@liviade1

## 🔗   Work doc - inspirational links

[2021-08-26 11:52] iviangita commented on #962
We had a quick call today but she was in a rush. We can schedule another call for Giveth tutorial when she has more time. I'd invite her to the Giveth trace party in September too. @liviade1

[2021-08-26 13:03] Ekeneodigwe commented on #895
Today the tweet thread on Zen Art Understanding of Commons Stack was posted - https://twitter.com/commonsstack/status/1430464740086714369?s=19

[2021-08-26 13:15] Ekeneodigwe commented on #895
The Slides was made and posted on LinkedIn today
-  https://www.linkedin.com/posts/the-commons-stack_zen-and-the-art-of-understanding-commons-activity-6836639458654199809-68vn

[2021-08-26 13:16] Ekeneodigwe commented on #895
The cover art was used on LinkedIn Status

[2021-08-26 13:22] Ekeneodigwe commented on #918
This has been repurposed on posted on LinkedIn - https://www.linkedin.com/posts/the-commons-stack_commonsstack-tokenengineering-dao-activity-6835887556287045632-b8ro
As of today with 15 views, 4 reactions, 68 Impressions, 2 shares, 4 clicks and 14.71%  engagement

While on Twitter
- https://twitter.com/commonsstack/status/1430120450235977733?s=19

It has 176 views, 5 Retweets, 13 likes, 1481 impre

[2021-08-26 13:28] #918 closed, assigned to Ekeneodigwe

[2021-08-26 13:29] Ekeneodigwe commented on #890
The Zen Art Understanding of Commons Stack was posted - https://twitter.com/commonsstack/status/1430464740086714369?s=19
The Slides was made and posted on LinkedIn today

https://www.linkedin.com/posts/the-commons-stack_zen-and-the-art-of-understanding-commons-activity-6836639458654199809-68vn

The cover art was used on LinkedIn Status

[2021-08-26 15:29] iviangita opened #963 "Integrate bot in Commons Stack Discord to announce regular calls"
## 📋   Anything to add?

Hopefully we can also send bot reminders in the Discord general channel for the following calls:

[Trusted Seed Office Hours](https://calendar.google.com/event?action=TEMPLATE&tmeid=MXRkMjhqbGZxdjlqc2p1bmNpYXA5MjJwMDlfMjAyMTA5MjFUMTYwMDAwWiBjX3ZqZGNrZmo0YmhhcnVvdmhkNHJtbzNkdHY0QGc&tmsrc=c_vjdckfj4bharuovhd4rmo3dtv4%40group.calendar.google.com&scp=ALL)
[Praise Onboarding](h

[2021-08-27 08:43] tamarandom commented on #856
done by Griff. 🙏🏼

[2021-08-27 08:43] tamarandom commented on #881
Happening today, 3PM.

[2021-08-27 08:51] danelsuga commented on #942
I can do this (both languages). Could you send me the link(s) please?

[2021-08-27 08:52] tamarandom commented on #874
Austria is it for August for only part of the team. Closing this issue.

[2021-08-27 08:55] danelsuga commented on #942
@GriffGreen

[2021-08-27 10:24] tamarandom opened #964 "Change feature video on our Youtube page"
## 📋   Anything to add?

https://www.youtube.com/channel/UCoyHywZn8YMalyx4ZbvQoyw
![Screen Shot 2021-08-27 at 12.24.32 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/bba154d9-8e2a-495c-ae00-23c0a35519ff)

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-08-27 13:33] tamarandom commented on #797
@danelsuga this is a test.

[2021-08-27 13:34] danelsuga commented on #797
Hi!

[2021-08-27 13:52] mafer-labs opened #965 "Swag Spreadsheet Presentation"
## 📋   Anything to add?
Present to Ivy and anyone who can be interested in track the ping to members to claim their swag.
## 🎉   Subtasks

- [ ] Reach out to @iviangita for feedback
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   Work doc - inspirational links

[2021-08-27 13:54] YineisyM opened #966 "Update a the Property on HubSpot for New Blog Suscribers"
## 📋   This property stores on HubSpot the data about new blog subscribers.

## 🎉   Subtasks

- [x] Reach @krisjpi to check out if there's anything I need to know first.
- [x] Create HubSpot property.
- [x] Communicate it to the team.

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   Work doc - inspirational links

[2021-08-27 19:08] mafer-labs opened #967 "TS Scholarship Spreadsheet"
## 📋   Anything to add?
The goal for this spreadsheet is to get the total scholarships awarded by month, trace activity, and track membership activations. This spreadsheet will be updated by the Junior Gardeners 👩🏼‍🌾🌱
## 🎉   Subtasks

- [x] Update Data from Giveth
- [ ] Report monthly results
- [ ] Track any issues that might come up with Scholarship traces

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   W

[2021-08-27 19:15] #966 closed, assigned to YineisyM

[2021-08-27 19:27] mafer-labs opened #968 "CSLove Swag Claims Spreadsheet"
## 📋   Anything to add?
The purpose is to have an overview of members who haven't claim their Swag items, item trends, and reach out reminders.
## 🎉   Subtasks

- [ ] Update CSLove airdrop data
- [ ] Update claimed items
- [ ] Keep reminder fields updated with the latest reach out to members

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   Work doc - inspirational links

[2021-08-29 19:24] Ekeneodigwe commented on #888
This video has been posted - https://twitter.com/commonsstack/status/1431211722048774145?s=19

[2021-08-29 19:27] Ekeneodigwe commented on #895
Last week - Tam's presentation video at the Daoist event was posted on Twitter - https://twitter.com/commonsstack/status/1430120450235977733?s=19
 &  Linkedin - https://www.linkedin.com/posts/the-commons-stack_commons-stack-review-sprint-21-collective-activity-6833398981746282496-5_Mg

[2021-08-29 19:33] Ekeneodigwe commented on #895
The Second part of Griff's presentation at the EthCC4 termed "The Obstacles to Public Goods" was posted on both Twitter and LinkedIn - https://twitter.com/commonsstack/status/1431211722048774145?s=19

- https://www.linkedin.com/posts/the-commons-stack_commonsstack-pgs-ethcc4-activity-6836985337500184576--YE3

[2021-08-31 20:44] mafer-labs opened #969 "Hubspot Upgrade Research"
## 📋   Anything to add?
We will be having a call with Hubspot customer service to discuss a possiblepackage adapted to our Comms/TS team needs.
## 🎉   Subtasks

- [x] Call with Hubspot CS
- [x] Discuss results with Comms team
- [ ] Demo meeting pending with HubSpot to take a final decision on this.

## 🤼‍♂️   Reviewer

@krisjpi @iviangita @knobsdao

## 🔗   Work doc - inspirational links

[2021-09-02 12:10] jessicazartler commented on #951
It's out!
https://twitter.com/commonsstack/status/1432457685518192646

Closing this issue - thank you to @krisjpi for all your work on this!!!!

[2021-09-02 12:10] #951 closed, assigned to jessicazartler

[2021-09-02 12:17] jessicazartler commented on #841
This split into two articles:
An Introduction to Polycentric Governance Frameworks for Web3
Exploring Governance Tools & Layers in the Token Engineering Commons

@GriffGreen and I will work on it a bit together and discuss structure and where to publish - some parts will be published in the TEC Gitbook, the other research I am looking at publishing in a navigable HackMD/Gitbook because there is so

[2021-09-02 12:31] jessicazartler commented on #588
@freshelle @GriffGreen @tamarandom submitted for August - thanks! :D
https://trace.giveth.io/trace/jess-milestone-for-communications-and-ecosystem-development

[2021-09-04 18:02] mafer-labs opened #970 "TS successful applicants revision of activations"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Gather data from the application sheet and hubspot
- [x] Cross match data
- [x] Review applicants/members email behavior

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   Work doc - inspirational links

[2021-09-05 08:10] GriffGreen commented on #588
Filled!

[2021-09-05 08:11] GriffGreen commented on #888
That was great!!

[2021-09-05 08:13] GriffGreen commented on #942
Sorry just saw this now... i have the pdf's

https://ipfs.web3.party/ipfs/QmYDmtmDYUPR6wjukzaNytibeNnYs41s2co4tNzkUYdd5n

https://ipfs.web3.party/ipfs/QmcGNi9dcVgLJGtxJzjU2CyrrmVKkLnNPEK8JJC2a98zC5

[2021-09-05 09:32] jessicazartler commented on #588
Gracias @GriffGreen !!!

[2021-09-06 10:01] danelsuga commented on #942
Thanks @GriffGreen !

Ouch! PDFs! Hmmm…

Ok, will convert first, I guess?

Easier would be to know who the pdf owner is so I can skip those ugly steps.

Thoughts?

[2021-09-06 11:18] Ekeneodigwe opened #971 "Repurpose Anna-Marie's Blog post"
## 📋   Anything to add?

## 🎉   Subtasks

- [Create a 2 Minutes Video on the insight of the post ]
- [ Curate the Blog into three (3) parts - The Intro, The Tools and a call to join Commons stack]
- [ Republishing the piece on other Blockchain Blog sites  ]

## 🤼‍♂️   Reviewer

@MrsBadgerface, @krisjpi

## 🔗   Work doc - inspirational links
https://medium.com/commonsstack/commons-the-heart-of-the-

[2021-09-06 11:20] #930 closed, assigned to Ekeneodigwe

[2021-09-06 13:33] kosmostasis opened #972 "Generate Non-Hatcher TECH Holders List for TEC Hatcher Relations"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Quit TECH on-chain / DAO audit
- [x] Crossreference data
- [x] Generate list.

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://docs.google.com/spreadsheets/d/1KTeRlsPTqo5zmnDorBWPsQvUwlYMvKOgdZifZJfUPd0/edit#gid=153626216 (restricted)

[2021-09-06 18:14] YineisyM commented on #969
Hey team!

Based on last week email about our impressions with HubSpot and upgrading our current plan. Are we going to have the demo meeting with them? If so can you suggest a day and a time? or if you disagree let me know your thoughts about it :).

@knobsdao @krisjpi @iviangita

[2021-09-06 18:48] YineisyM opened #973 "HubSpot Properties Audit"
## 📋   Anything to add?

By taking the time to look through the ways we are and aren't using HubSpot, we're able to identify areas where we could be better or take more advantage on the software features eg reports, dashboards, or easily export what is needed.

## 🎉   Subtasks

- [x] Create views and edit columns.
- [x] Clear/Define unwanted or unused contact properties
- [x] Clean up contact data

[2021-09-07 08:35] #972 closed, assigned to kosmostasis

[2021-09-07 08:40] Ekeneodigwe opened #974 "Gitcoin Promotion Templates and Timelines"
## 📋   Anything to add?

## 🎉   Subtasks

- [Tweet Thread on Donate ]
- [Telegram / Discord Post ]
- [ Timelines for Twitter & LinkedIn]

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/16kysuMw_rNwQ34HxOM5FNsDE6EM8Z7MHTY5TU7lEtUI/edit

[2021-09-07 10:51] Ekeneodigwe commented on #971
@krisjpi please check out this Intro to the blog post. This will be posted with the blog post-medium link  https://drive.google.com/file/d/1d2VLcU88Bkld5dUjupw6-p78PcZ1xeQI/view?usp=drivesdk

[2021-09-07 12:14] iviangita commented on #495
Closing this issue for now. Ekene is now handling the content planning for Twitter, and we recently decided to stop tagging people on Twitter for their engagement.

[2021-09-07 12:14] #495 closed

[2021-09-07 12:28] #938 closed, assigned to iviangita

[2021-09-07 12:28] iviangita commented on #938
CLOSING! Zenhub and Giveth onboarding done :)

[2021-09-07 12:37] jessicazartler opened #975 "Ekene Performance Review"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Ivy Review
- [x] Jess Review
- [x] Kris Review

## 🤼‍♂️   Reviewer

@GriffGreen @tamarandom @iviangita

## 🔗   Work doc - inspirational links

[2021-09-07 12:48] iviangita opened #976 "Promote Regen Network AMA"
## 📋   Anything to add?

Announce and promote Regen Network AMA (Sept 15th, 11am EST/5pm (CET)

Calendar invite: https://calendar.google.com/event?action=TEMPLATE&tmeid=Mzljb2ZvMGw3cWNzNHJibm5zaWNmbHA3b2IgY192amRja2ZqNGJoYXJ1b3ZoZDRybW8zZHR2NEBn&tmsrc=c_vjdckfj4bharuovhd4rmo3dtv4%40group.calendar.google.com

## 🎉   Subtasks

- [x] Add to the calendar and send the calendar link to Jess (IVY)
- [x]

[2021-09-08 12:52] Ekeneodigwe commented on #976
1 week AMA announcement draft...

What do you know about Regen Network?

Are you curious about the Commons Stack new partnership?

Join our “Ask Me Anything” call next Wednesday!
Sept 15th, 11 am EST/5 pm (CET)

❓ Reply to this tweet w/ your questions

📆 Add to your calendar https://calendar.google.com/event?action=TEMPLATE&tmeid=Mzljb2ZvMGw3cWNzNHJibm5zaWNmbHA3b2IgY192amRja2ZqNGJoYXJ1b3ZoZDRybW8z

[2021-09-08 12:53] tamarandom opened #977 "Only 11 articles on our medium page, is there some way to see more?"
## 📋   Anything to add?

I came to the Commons Stack medium page to look for articles to be included in a wishlist for translation and there is no way to scroll below these 11 articles. How does someone find the rest of them please?

@krisjpi @jessicazartler @Ekeneodigwe

![Screen Shot 2021-09-08 at 2.47.46 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/b9131039-a248-4d37-97

[2021-09-08 12:53] tamarandom opened #978 "Do you think we should feature a diff article now? This one is from march."
## 📋   Anything to add?

![Screen Shot 2021-09-08 at 2.52.34 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/f3796adf-bccc-43e6-9873-49539fc0f4c0)

@krisjpi @jessicazartler @Ekeneodigwe

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-08 13:39] Ekeneodigwe commented on #977
@tamarandom could you check this link https://medium.com/commonsstack/latest

[2021-09-08 14:20] tamarandom commented on #977
That works, thank you! And now I even see the "latest stories" link on the footer of the page! Do you think it would be possible to have something in the navigation menu that would link to all stories (or even just Latest stories)?

<img width="916" alt="Screen Shot 2021-09-08 at 4 19 07 PM" src="https://user-images.githubusercontent.com/703624/132526768-5d2fecf1-3b97-4cb8-bb6d-dc8d7e6fbd4c.png">

[2021-09-08 15:32] jessicazartler commented on #978
@tamarandom fixed! I made the top features latest, and also extending the # of stories so all from history should be there now https://medium.com/commonsstack

Thanks for pointing that out!

[2021-09-08 15:32] #978 closed, assigned to jessicazartler

[2021-09-08 15:33] jessicazartler commented on #977
@tamarandom fixed the Medium publication - I made the top features latest, and also extending the # of stories so all from history should be there now https://medium.com/commonsstack

Thanks for pointing that out!

@krisjpi handles the website so any requests for navigation menus is him :D Thanks guys!

[2021-09-08 15:47] jessicazartler commented on #976
Looks great! Maybe also link the partnership announcement once it's published - should have it up by end of day today so maybe we wait for that? .. also maybe tease that the Trusted Seed will be governing a pool of funding or something about regenerative/ecological impact -- here is the announcement draft in case there is anything interesting in there for you @Ekeneodigwe for the content https://d

[2021-09-08 15:53] Ekeneodigwe commented on #976
Amazing, once the announcement is made, I will quote the partnership announcement and tweet the AMA call.

[2021-09-08 18:15] Ekeneodigwe commented on #976
- Let me know what you think: The Trusted Seed members will act as stewards of the c-REGEN tokens by voting to allocate, fund mission-aligned proposals & participate in the governance of the Regen Network. It's an opportunity for other Commons and their associated tools within the Regen Network ecosystem. 

[2021-09-09 13:53] kosmostasis commented on #944
Porting the "Octalysis Board into issue #763.

[2021-09-09 13:53] #944 closed, assigned to kosmostasis

[2021-09-10 08:23] kristoferlund opened #979 "Ideate"
Bring as many ideas as possible onto the table.
Involve the CS core team ion the process.

[2021-09-10 08:42] kristoferlund opened #980 "Idea sorting sessions"
Do 1 on 1 meetings with everyone that took part in the ideas workshop. Group ideas into clusters of similar functionality and make sure to detail as needed not to forget what the idea was about.

### 1 on 1 sorting sessions:
 - [x] @knobsdao
 - [x] @tamarandom
 - [x] @krisjpi
 - [x] @GriffGreen
 - [x] @liviade1
 - [x] @Jeff-Emmett
 - [x] @jessicazartler

[2021-09-10 09:25] jessicazartler commented on #976
@Ekeneodigwe Can you do it as a thread with two tweets for this first one --- leave your first part as is with the graphic for the AMA (do we have one yet?) -- and the 2nd tweet you wrote there in that paragraph about stewarding tokens with the link for the partnership blog

[2021-09-10 09:27] jessicazartler commented on #976
Then also please schedule a day before and a one hour before the event with the graphic & link to announcement blog

[2021-09-10 09:34] Ekeneodigwe commented on #976
Yes, I can and the Graphic is also ready to go.

[2021-09-10 09:44] jessicazartler commented on #976
One more thing - can you create a Telegram message as well to push the AMA and send it on our Discord general channel today? And send a reminder one day before, and one hour before as well @Ekeneodigwe ? Thank you!

[2021-09-10 10:20] kristoferlund opened #981 "Ideas workshop"
Workshop was held at June 18 with the CS core team.

All captured ideas on this Miro board:

https://miro.com/app/board/o9J_lBZsbTg=/

[2021-09-10 10:21] #981 closed, assigned to nobody

[2021-09-10 10:23] kristoferlund opened #982 "Vision and goals"

[2021-09-10 10:24] kristoferlund opened #983 "Next phase planning"

[2021-09-10 10:37] kristoferlund opened #984 "Document: TS Dashboard project"
## 📋   Anything to add?

Why are we building a dashboard, and for whom? Why is it important and why should anyone care? The project description describe purpose, goals and vision - what are we trying to accomplish and when will it be done.

## 🎉   Subtasks

- [X] Write the document based on the input from the ideation work and goals workshop

## 🤼‍♂️   Reviewers

All of CS core team.

## 🔗   Work

[2021-09-10 10:40] kristoferlund opened #985 "Workshop: Goals"
## 📋   Anything to add?

Let's do a workshop where we decide on the goals for the trusted seed dashboard based on the ideas we uncovered.

Participants: CS core team

## 🎉   Subtasks

- [ ] Send invitations
- [ ] Plan ws
- [ ]

## 🔗   Work doc - inspirational links

[2021-09-10 10:58] kristoferlund opened #986 "Workshop: Choose components to include in v1.0"
## 📋   Anything to add?

Based on our ideas and goals set, we choose a number of components to focus on to prototype and develop in v1.0

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-10 10:59] kristoferlund opened #987 "Document: v1.0 component requirements"
## 📋   Anything to add?

Document detailing requirements for components included in v1.0.

## 🤼‍♂️   Reviewer

@knobsdao
@tamarandom
@YineisyM
@mafer-cordovas

## 🔗   Work doc - inspirational links

Functional specs: https://docs.google.com/document/d/1M6ojof65O2qOSmPIG9kDhKGlmZcY0renrVH1W6z30eY/edit#

[2021-09-10 11:02] Ekeneodigwe commented on #976
The post has been made on Twitter -  https://twitter.com/commonsstack/status/1436281135697383432?s=19

[2021-09-10 11:03] kristoferlund opened #988 "Workshop: Sprint 1 planning"
## 📋   Anything to add?

Draft and assign issues for the first prototyping sprint, beginning Oct 4.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-10 12:20] Ekeneodigwe commented on #895
Regen- Commons Stack partnership announcement tweet went out today - https://twitter.com/commonsstack/status/1436281135697383432?s=19

The September AMA was also posted today - https://twitter.com/commonsstack/status/1436281135697383432?s=19

[2021-09-10 17:46] YineisyM opened #989 "TS Activation Reminders"
## 📋   Anything to add?

Monthly reach out to applicants that were but haven't activated their memberships yet.

## 🎉   Subtasks

- [ ] Send a mass email for those who opened the acceptance email and still did not activate.
 - [ ] 1:1 for those who never opened the acceptance email.
 - [ ] 1:1 for those who have email issues (eg hard bounced).
 - [ ] **Follow up:** 1:1 for those who after 1 week o

[2021-09-10 17:46] YineisyM opened #990 "TS Activation Reminders"
## 📋   Anything to add?

Monthly reach out to applicants that were but haven't activated their memberships yet.

## 🎉   Subtasks

- [ ] Send a mass email for those who opened the acceptance email and still did not activate.
 - [ ] 1:1 for those who never opened the acceptance email.
 - [ ] 1:1 for those who have email issues (eg hard bounced).
 - [ ] **Follow up:** 1:1 for those who after 1 week o

[2021-09-10 17:48] #990 closed, assigned to mafer-labs, YineisyM

[2021-09-10 17:55] mafer-labs opened #991 "Organize Trusted Seed Gardener 🌱 Notion Dashboard 🌱"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Discuss w/ team improvements/suggestions
- [x] Team Dashboard Flow
- [x] Create a spreadsheet vault
- [x] Create Process library
- [x] Create Knowledge base

## 🤼‍♂️   Reviewer

@knobsdao

## 🔗   Work doc - inspirational links

[2021-09-11 08:30] Ekeneodigwe commented on #895
The Gitcoin grant round 11 matching fund/ call to donate tweet was made today - https://twitter.com/commonsstack/status/1436446783010480128?s=19

[2021-09-11 08:33] Ekeneodigwe commented on #974
Tweet 🐦  thread 🧵 on call to donate was made today - https://twitter.com/commonsstack/status/1436446783010480128?s=19

[2021-09-11 08:43] Ekeneodigwe commented on #922
This blurb was contained in the August 2021 Newsletter update

[2021-09-13 15:07] Ekeneodigwe commented on #971
This was made public today
Twitter- https://twitter.com/commonsstack/status/1437432294994817025?s=19
LinkedIn- https://www.linkedin.com/feed/update/urn:li:activity:6843202217114128384

[2021-09-13 15:48] jessicazartler opened #992 "Newsletter(s) Editing"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Edit August newsletter
- [x] Edit Regen AMA newsletter

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-09-13 15:49] jessicazartler commented on #992
Sent feedback and edits to Kris - done :D

[2021-09-13 15:49] #992 closed, assigned to jessicazartler

[2021-09-13 16:05] #946 closed, assigned to liviade1

[2021-09-13 16:05] #947 closed, assigned to liviade1

[2021-09-13 16:06] #945 closed, assigned to liviade1

[2021-09-13 16:06] #950 closed, assigned to liviade1

[2021-09-13 16:07] jessicazartler commented on #841
I will be working with Burrrata to structure a HackMD navigable book to document all my research:
https://hackmd.io/c/tutorials/%2Fs%2Fhow-to-create-book
https://hackmd.io/@hackmd-book-test/r1pFdZ_lK/https%3A%2F%2Fhackmd.io%2Fa0VuBJahRxmom-ZImjcW2g

For TEC tools, I will be working on getting the info into the TEC Gitbook - got the sign in details from @liviade1 and am scheduling a hack sesh for a

[2021-09-13 16:11] jessicazartler opened #993 "Research, analysis & documentation - Governance Tools in the TEC"
## 📋   Anything to add?

Turning this into a Gitbook for faster publishing until the article is more fleshed out:
https://docs.google.com/document/d/1yfAbB7-lKDjXXciGuHUr1vbPsTikhdMAxNFg8g1Ihac/edit#

## 🎉   Subtasks

- [x] Get Gitbook sign in details from Livia
- [x] Schedule / hack session with Livia for structure / advice process
- [x] Input tabs and document all of the tooling
- [ ] Feedback f

[2021-09-13 16:15] tamarandom commented on #254
I've been playing with this but honestly think we are better off without it right now. Closing. Will reopen if needed in the future!

[2021-09-13 16:15] #254 closed

[2021-09-13 16:17] tamarandom commented on #317
Have been playing with this but think we're actually better off without it. Closing now.

[2021-09-13 16:17] #317 closed

[2021-09-13 16:17] tamarandom commented on #520
Need need need a devops for the shops! Hey @knobsdao can you link me with the group that was interested in using the same sw as we are!? (I forget who!)

[2021-09-13 16:20] tamarandom opened #994 "Support Case Studies"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1DGI8WX8EGmvRqrxDAuAs5aqFyNl6tbfp7_OYrcmCzkE/edit

[2021-09-13 16:27] #934 closed, assigned to GriffGreen

[2021-09-13 16:27] #382 closed

[2021-09-13 16:27] liviade1 opened #995 "support case studies development"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 16:27] #825 closed

[2021-09-13 16:28] tamarandom commented on #914
The updated doc here: https://docs.google.com/document/d/1BjAotazmAyue8j8c5WSBW8VAxmjjRO5AimhntQX-dfw/edit

Next step is feedback before it goes out.

[2021-09-13 16:28] #151 closed

[2021-09-13 16:28] tamarandom commented on #797
Closing this. End of an era. Will open new one for the new direction of the Case Study.

[2021-09-13 16:29] GriffGreen opened #996 "Push the reallocation of Gitcoin Funds from Simulator"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 16:30] liviade1 opened #997 "work together with Kristofer in making praise a product"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 16:30] GriffGreen opened #998 "Create slides for Talk in Wyoming"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 16:31] mafer-labs commented on #970
Spreadsheet's data is done, and revised with Dan. We have established an strategy to initiate phase 2, which will be the reach out to the successful applicants to activate their memberships.
A new issue (#989), has been opened to work on the reach out.

[2021-09-13 16:31] tamarandom commented on #768
Closing these case study issues. New ones will be opened for Kelsie/Katy initiative.

[2021-09-13 16:31] #768 closed

[2021-09-13 16:32] liviade1 opened #999 "give feedback to cultural onboarding from Heather"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 16:33] tamarandom commented on #948
Update: technical solution from Commons Swarm

[2021-09-13 16:34] liviade1 opened #1000 "give feedback to CS org proposal"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 16:34] jessicazartler commented on #914
I requested that we please use this template for the job description @hanners717 :
https://docs.google.com/document/d/1Rtf1lJxq3TjgiKOsuiuIhq6TwAfGsv3M3qal-cH2BP8/edit

And also do a bit of research around language/responsibilities for fundraiser roles - looking at both VCs and non-profits to include in the job description.

The main tasks/responsibilities that should also be included in the descr

[2021-09-13 16:35] tamarandom commented on #955
Linked to #914

[2021-09-13 16:37] Jeff-Emmett commented on #958
I had some great conversations over the course of the CCG with various researchers (Felix, Vangelis, Scott Morris, etc) who are very eager to contribute to the Commons Stack Research Circle, including potential future case studies.  Given that we just signed a work agreement with Kelsie for current case studies, the next steps on these further research collaborations will follow the budgeting & ta

[2021-09-13 16:37] #958 closed, assigned to Jeff-Emmett

[2021-09-13 16:38] tamarandom commented on #954
Link: https://0xhabitat.org/

[2021-09-13 16:40] Jeff-Emmett opened #1001 "Create budget & roadmap for CS Research Circle"
## 📋   Anything to add?
At the top of my list is to create a budget & roadmap for the CS Research Circle!

## 🎉   Subtasks

- [ ]  Create budget
- [ ]  Create roadmap & tasks
- [ ]  Run it by the team for advice process!

## 🤼‍♂️   Reviewer

@mzargham @tamarandom

## 🔗   Work doc - inspirational links
No working doc yet.

[2021-09-13 16:41] jessicazartler commented on #908
This has morphed into Jeff's circle proposal - cross linking to the new issue https://github.com/commons-stack/iteration0/issues/952

And will also file there for record keeping for these notes - thanks everyone!

[2021-09-13 16:41] #908 closed

[2021-09-13 16:43] jessicazartler commented on #952
Filing my old issue with notes on organization development topics for record keeping https://github.com/commons-stack/iteration0/issues/908

And here is Jeff's circles proposal:
https://docs.google.com/document/d/11zjes45lzcQ9qHQMS9PuO16dAqlyxeb9JRO9FZsHt7g/edit

[2021-09-13 16:45] jessicazartler commented on #714
I sent the raw video, open animation, time codes and all of the graphics to Fahern - he said he will be working on it this week - I will check in again on Friday @tamarandom thanks again! If this goes well, I will pick up the series again with more interviews :D

[2021-09-13 16:45] tamarandom opened #1002 "Agreement between General Magic and Commons Stack for params, dashbord work"
## 📋   Anything to add?
Details tbd

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 16:47] jessicazartler commented on #841
ahhh! didn't see this -- dup https://github.com/commons-stack/iteration0/issues/993

[2021-09-13 16:48] #841 closed

[2021-09-13 16:49] jessicazartler commented on #993
Dup'd https://github.com/commons-stack/iteration0/issues/841
Needed a fresh one :D

[2021-09-13 16:52] jessicazartler commented on #766
@krisjpi would you like the honor of closing this baby? :D

[2021-09-13 16:54] jessicazartler commented on #933
Shared this doc with @phacker3 https://docs.google.com/document/d/1tpHCPqaXLZ53DOIW2_80T4-EFLVDqq_MSl4uQPk8Www/edit?usp=sharing

We'll complete it before the end of the month - meeting in person tomorrow so may hack on it then :D

[2021-09-13 16:54] jessicazartler commented on #919
Sent a follow up email to set up a call for the end of next week to edit/move forward

[2021-09-13 16:55] tamarandom commented on #817
Closing these older case study issues.

[2021-09-13 16:55] #817 closed

[2021-09-13 16:57] jessicazartler commented on #839
@tamarandom @iviangita should we close this since we now are pretty good with the work agreements part? Is the team keeping up with the tracking doc? Are there any further improvements needed to this process? I feel there is definitely still a need for a contributor manager/community manager who can be the touchpoint for people reaching out to contribute and identifying tasks/actions those people

[2021-09-13 16:59] jessicazartler commented on #349
@knobsdao should we build some kind of alliance? Or just rather focus on getting some partnership logos on our website for now and bring this up sometime later? :D

[2021-09-13 17:01] jessicazartler commented on #346
We now have agreement / press release templates!!! Yay!!

ixo Announcement / Press Release Template
https://docs.google.com/document/d/1ve8pD_zZZhEx3diGBkOiJllbhDKOI8zGPu0mTfTK4yk/edit#

Regen example
https://medium.com/commonsstack/commons-stack-and-regen-network-partner-on-commons-governance-research-development-41769566c147

Have the partnership agreements in past closed issues and they are fil

[2021-09-13 17:01] #346 closed

[2021-09-13 17:03] tamarandom opened #1003 "Have an amazing birthday!!!"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 17:07] tamarandom commented on #931
Can we add this to Commons Stack cal as well?

[2021-09-13 17:08] jessicazartler opened #1004 "Co-Host/Support Regen AMA & Follow Up"
## 📋   Anything to add?

Just published our partnership announcement w/ the AMA CTA
https://medium.com/@commons-stack/commons-stack-and-regen-network-partner-on-commons-governance-research-development-41769566c147

AMA
Wednesday!
Sept 15th, 11 am EST/5 pm (CET)

## 🎉   Subtasks

- [x] Support the promotion
https://github.com/commons-stack/iteration0/issues/976
- [x] Co-Host / Facilitate w/ Kris &

[2021-09-13 17:10] tamarandom commented on #882
Closing these old case study issues. New issues can be open once we have the new direction mapped out.

[2021-09-13 17:10] #882 closed

[2021-09-13 17:16] jessicazartler opened #1005 "Organize UBI Panel - CS Research / Partnership w/ TE Academy / Governauts Initiative"
## 📋   Anything to add?

Working with Livia/Julio from Circles UBI & the Basic Income Earth Network to organize a panel w/ Livia's Rewards initiative and interorganizational research on DAO rewards systems

## 🎉   Subtasks

- [x] Reach out to Julio
- [x] Send email w/ plan to Julio to recruit panelists / invite Paula Berman with Proof of Humanity

---
Next, next sprint:
- [x] Schedule & Promote
-

[2021-09-13 17:26] tamarandom commented on #993
Related post of the forum: https://forum.tecommons.org/t/decision-making-guide/609

[2021-09-13 17:28] jessicazartler commented on #20
https://docs.google.com/document/d/1aHVI_tyhVBETttblDOjvIIR-XW4LPDwcstvXDe2l_y4/edit

[2021-09-13 17:34] tamarandom commented on #839
Let's leave this open until we have tracking of both paid and unpaid contributors.

[2021-09-13 17:35] tamarandom opened #1006 "meet EVERYONE in Berlin"
## 📋   Anything to add?
Schmoozing.... etc.

## 🎉   Subtasks

- [x] Angela
- [x] Peter
- [x] Mortiz (Holochain)
- [x] Adam McKinty (Local Currencies)
- [x] Guil (designer from DISCO / DAOist founder)
- [x] Pekko (Game Designer/Behavioral Economics
- [x] Pat & Cem (Curve Labs)
- [x] Johnathan (cadCAD Edu)
- [x] Trent
- [x] Renzo
- [x] Julio (Circles UBI)
- [x] Beth Gnosis
- [x] Kei Gnosis/Regen

##

[2021-09-13 17:51] mafer-labs commented on #1003
🖖

[2021-09-13 17:53] jessicazartler opened #1007 "CS Research - Review Livia's decision making guide on TEC forum"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@liviade1

## 🔗   Work doc - inspirational links
https://forum.tecommons.org/t/decision-making-guide/609

[2021-09-13 17:56] tamarandom opened #1008 "VitaDAO collaboration to look for swag shop solutions"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 17:58] #970 closed, assigned to mafer-labs

[2021-09-13 18:09] tamarandom opened #1009 "TS activations (what is the end date, how does that impact outreach for activations)"
## 📋   Anything to add?
Requires board decision.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-13 18:09] tamarandom commented on #1009
From @krisjpi : At the board level we generally had a soft agreement that memberships were annual with an annual expiry/renewal of April 30th of the year, but that this was open to discussion as well

[2021-09-13 18:50] #962 closed, assigned to iviangita

[2021-09-13 20:07] tamarandom commented on #769
Closing out the former Case Study issues. New ones will be added as necessary.

[2021-09-13 20:07] #769 closed

[2021-09-13 20:07] tamarandom commented on #772
****

[2021-09-13 20:07] #772 closed

[2021-09-13 20:07] #770 closed

[2021-09-13 20:07] tamarandom commented on #770
Closing out the former Case Study issues. New ones will be added as necessary.

[2021-09-13 20:08] tamarandom commented on #900
****

[2021-09-13 20:08] #900 closed

[2021-09-13 20:08] tamarandom commented on #771
****

[2021-09-13 20:08] #771 closed

[2021-09-13 20:08] tamarandom commented on #668
****

[2021-09-13 20:08] #668 closed

[2021-09-13 20:08] tamarandom commented on #425
****

[2021-09-13 20:08] #425 closed

[2021-09-13 20:08] tamarandom commented on #582
Closing out the former Case Study issues. New ones will be added as necessary.

[2021-09-13 20:08] #582 closed

[2021-09-13 20:08] #579 closed

[2021-09-13 20:08] tamarandom commented on #579
Closing out the former Case Study issues. New ones will be added as necessary.

[2021-09-13 20:08] tamarandom commented on #418
Closing out the former Case Study issues. New ones will be added as necessary.

[2021-09-13 20:08] #418 closed

[2021-09-14 07:54] tamarandom commented on #964
Rather than leave no feature video, should we add one of the more recent ones? @krisjpi,  @iviangita, @Ekeneodigwe  - what do you think?

![Screen Shot 2021-09-14 at 9.50.45 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/5c15b9fb-eb3c-4d11-b719-acc1318b42f6)

Also this "Commons Stack Questions & Answers" is very outdated! All these are over a year old and mostly with another

[2021-09-14 07:56] tamarandom commented on #977
@krisjpi - what do you think? Could we make navigation to the latest stories more prominent in the above fold navigation?

[2021-09-14 07:56] tamarandom commented on #988
Exciting!

[2021-09-14 08:00] tamarandom commented on #1007
@jessicazartler, while @liviade1 and I were chatting this through I sketched a simple decision tree. I was thinking the visual format would be easier for people to "get quickly" versus the written explanation. If this is useful, would anyone else like to map this out on a Miro board or something like?

![Screen Shot 2021-09-14 at 9.58.00 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409

[2021-09-14 08:18] tamarandom commented on #20
Tagging @danelsuga in case she can be of help as editor on any of this.

[2021-09-14 08:42] tamarandom commented on #942
@krisjpi @Jeff-Emmett - can we get @danelsuga the original documents (if they exist in a form other than pdf) from the Association so that she can edit directly to make corrections.

[2021-09-14 10:47] Jeff-Emmett commented on #942
I don't have these docs on hand unfortunately - @krisjpi do you recall where they might be?

[2021-09-14 18:04] jessicazartler commented on #993
@liviade1 @GriffGreen @tamarandom -- Here is a first iteration Gitbook https://app.gitbook.com/@token-engineering-commons/s/tec-handbook/governance/polycentric-governance-in-the-tec

Chatted with Livia today to get some feedback - lmk if you have any other thoughts for other sections you want to add.. the next step is writing a short Medium article to point to the Gitbook section -- I will do anot

[2021-09-14 19:07] krisjpi commented on #766
This massive task is complete! We are just preparing for the Regen focused AMA on Wednesday. Very excited to see this all fall into place!

[2021-09-14 19:07] #766 closed

[2021-09-14 20:02] krisjpi commented on #971
Blog has been published, tweeted, included in our newsletter, and given a contextual video intro to share from @MrsBadgerface. I think we can move the content links into evergreen content @Ekeneodigwe and/or @iviangita, and then the issue can be closed.

Great work everyone!

[2021-09-15 18:11] GriffGreen commented on #942
I think its better to convert the PDF's @danelsuga sorry about that :-(

[2021-09-16 17:07] iviangita opened #1010 "Promote individual grants on Twitter (GR11)"
## 📋   Anything to add?
Promote grants in this [thread](https://twitter.com/commonsstack/status/1436446783010480128?s=20) individually on Twitter over the course of GR11 (and link them back to the original thread)

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-09-17 11:00] jessicazartler commented on #1005
Sent an email to Julio to frame the set up and start to organize

[2021-09-17 11:01] jessicazartler commented on #1004
@krisjpi @Ekeneodigwe can you please kindly Tweet / share in Discord the recording from the Regen AMA when you get a chance? Had a few people asking 🙏 Thank you so much!

[2021-09-17 11:01] jessicazartler commented on #933
Done! Passed to @freshelle https://docs.google.com/document/d/1N7Z78CWNthSVOtO0qWNIIx5GX83xFLcnt-8ZUp9l-ZA/edit#

[2021-09-17 11:01] #933 closed, assigned to jessicazartler

[2021-09-17 12:52] Jeff-Emmett commented on #20
Hey @danelsuga, feel free to read through this (very old) draft to get a feel for some of the deeper facets of the ABC - there will be a piece in the works in the coming weeks somewhat along these lines, but also with some recent updates and newer diagrams that surfaced during the Crypto Commons Gathering over the last month.

Feel free to ping me when you get a chance to read through this and we

[2021-09-20 06:04] freshelle commented on #937
Peter's work agreement has been completely filled out. I updated the "CS Hiring / Contributors Tracker" for filing.

[2021-09-20 06:04] #937 closed, assigned to freshelle

[2021-09-20 07:55] danelsuga commented on #20
Awesome @Jeff-Emmett! Thanks! Will get to it asap.

[2021-09-20 09:52] #1006 closed, assigned to jessicazartler, Jeff-Emmett

[2021-09-20 10:49] jessicazartler opened #1011 "Distribute Regen AMA Recording"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] @krisjpi upload to YouTube (start new playlist for partners/partnerships)
- [ ] Ekene Time code topics of discussion on YouTube
- [x] Tweet recording
- [x] Post Tweet in Discord

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-09-20 10:49] jessicazartler commented on #1004
Closing - made separate issue for recording distribution here https://github.com/commons-stack/iteration0/issues/1011 for @krisjpi @Ekeneodigwe

Thanks!

[2021-09-20 10:49] #1004 closed, assigned to krisjpi, jessicazartler

[2021-09-20 14:14] YineisyM commented on #969
I'll close this issue since we are going to first audit our data and make some trials before deciding to upgrade. I wrote back to Carlos from HubSpot that we will contact them in the future if we decide go further on this.

[2021-09-20 14:14] #969 closed, assigned to mafer-labs, YineisyM

[2021-09-20 17:57] liviade1 commented on #878
I forgot to ever update this issue - but I had a call with Stefan, explained to him where we were and that we probably wouldn't move forward with the proposal they had but it would be great to share best practices with Greaterthan sometime and develop a more horizontal relationship in this sense. I expressed gratitude from the whole team for the attention they gave us and we had a nice closure.

[2021-09-20 19:51] liviade1 commented on #925
The review was great! we got to draft his work agreement that I'll share with everyone soon

[2021-09-20 19:51] #925 closed, assigned to liviade1

[2021-09-20 19:51] liviade1 opened #1012 "Make a work agreement for Nate"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-09-21 08:49] #980 closed, assigned to kristoferlund

[2021-09-21 09:12] tamarandom opened #1013 "The TS membership expiry - how will this be handled?"
## 📋   Anything to add?

From the T&C:
https://ipfs.web3.party/ipfs/QmYDmtmDYUPR6wjukzaNytibeNnYs41s2co4tNzkUYdd5n

This is the paragraph that explains it:
Membership shall expire as a result of withdrawal, death, or exclusion. Members may leave the Association by submitting written notice to the president at any time. Members may also be excluded from the Association with immediate effect if they

[2021-09-21 09:53] iviangita commented on #976
This is DONE! The AMA is uploaded on Youtube and shared on Twitter too. Thanks to @Ekeneodigwe @krisjpi @jessicazartler for their support :)
https://twitter.com/commonsstack/status/1440249115791691781?s=20

[2021-09-21 09:53] #976 closed, assigned to iviangita, Ekeneodigwe

[2021-09-21 10:44] jessicazartler opened #1014 "Give Lightning Talk at Doge Disco World Peace Day Event & Distribute Recording"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Jess write Tweet promoting
- [x] Jess & Griff give talks
- [ ] Jess track down recording and pass to @Ekeneodigwe
- [ ] Ekene write/Tweet & post in Discord

## 🤼‍♂️   Reviewer

@krisjpi

## 🔗   Work doc - inspirational links

[2021-09-22 08:42] jessicazartler commented on #976
Thank you @iviangita @Ekeneodigwe @krisjpi you guys are awesome! I really appreciate you <3

[2021-09-22 08:50] Ekeneodigwe opened #1015 "Trusted Seed POAP"
## 📋   Anything to add?

## 🎉   Subtasks

- [ Elaborate discussion on TS POAP]
- [ Mint]
- [ ]

## 🤼‍♂️   Reviewer

@knobsdao @jessicazartler @GriffGreen @tamarandom @Jeff-Emmett
@mafer-cordovas @YineisyM

## 🔗   Work doc - inspirational links

[2021-09-22 09:10] jessicazartler opened #1016 "Miami Crypto Experience - CS NFT Auction"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Write one pager / description of CS & event
- [x] Solicit art for NFT mint
- [x] Prepare submission & send to Miami mint team
- [x] Attend event
- [x] Auction & follow ups

## 🤼‍♂️   Reviewer

@GriffGreen @tamarandom

## 🔗   Work doc - inspirational links

[2021-09-22 09:12] jessicazartler commented on #1015
Thank you @Ekeneodigwe for making this issue :D @knobsdao I will add it to the mid-sprint to chat about it - happy to support with design - perhaps I could work with @markoprljic to make something - should be quick - and maybe I could show/cross-train Ekene/Junior gardeners how to use POAP so they can also learn in case we want to make more in the future? :D

Have a look in the POAP gallery for in

[2021-09-22 14:09] iviangita commented on #1010
Done for this round! Will probably do it again in the next round :)

[2021-09-22 14:09] #1010 closed, assigned to iviangita

[2021-09-22 14:42] iviangita commented on #963
I've already reached out to @Vyvy-vi to help with this. I prepared the information that he needs in this document: https://docs.google.com/document/d/1fgdQpoPrWbe35WvCLpnO1asVpXhPMfHwI7MGAkviiGw/edit?usp=sharing - @krisjpi hope you can review and let us know if you have suggested changes? :)

[2021-09-22 17:46] GriffGreen commented on #1013
All of this needs to be discussed... probably in november as we will know more about the direction of the trusted seed by then

That said, these are my thoughts

Do memberships all end on April 1, 2022
- yes, unless they pay dues before that.

What happens to members who join in Dec 2021, will they only have 3 months of membership?

Yes. I think we just keep it simple.

[2021-09-22 18:05] GriffGreen commented on #1016
WOOOHOOO!!! :-D Who will be our partner in this? Doingud? Project Ark?

[2021-09-22 18:22] GriffGreen commented on #964
Great call! I don't know if anyone is actively maintaining this... @Ekeneodigwe @krisjpi @iviangita it would be good to have someone owning it and making sure it is up to date... and then I would delegate decision making power to that person for which video should be featured

[2021-09-23 10:08] #971 closed, assigned to Ekeneodigwe

[2021-09-23 11:33] Ekeneodigwe commented on #895
Focus for the past 12 days has been on "Comms Push for Gitcoin Round 11" but also sprinkled some RTs
09th September, 2021 – 23rd September, 2021

- 	REGEN Partnership announcement was RTed https://twitter.com/RegenFdn/status/1436010769309634563?s=20

- A Regen-Commons Stack Partnership AMA was posted https://twitter.com/commonsstack/status/1436281135697383432?s=20

- Round 11 of #GitcoinGrants ann

[2021-09-23 14:00] mafer-labs commented on #943
@GriffGreen and I discussed the process and details for the Qualifying DAOs application. We agreed on the following to-do list:

- [x] Edit system doc
- [x] Get feedback from Griff, Jeff, Coach B, Z, Kris (association board)
- [x] Make the typeform
- [ ] Talk to Dan, Livia, Kristofer about making the snapshot
- [ ] Have Griff Fill out the typeform for the TEC and CLRfund
- [ ] Go through the proce

[2021-09-23 17:30] Jeff-Emmett commented on #1013
I would like to see further discussion on this topic led by @knobsdao & the Trusted Seed Circle in particular (when he is back from vacation, of course!), as well as the preparation of more data to make these decisions with appropriate context.

This topic also belongs in a larger frame of other CS revenue stream options - there is little likelihood that member dues alone will cover our required o

[2021-09-24 09:00] jessicazartler commented on #955
I would like to be informed and in the loop on this as I am currently fulfilling some fundraising functions and have suggested the following criteria and experience for the role in this Github issue https://github.com/commons-stack/iteration0/issues/914:

FROM JOB DESCRIPTION ISSUE #914
I requested that we please use this template for the job description @hanners717 :
https://docs.google.com/docum

[2021-09-24 09:00] jessicazartler commented on #914
Just checking in @hanners717 any update or do you need any support on this? Thank you!

[2021-09-26 19:00] Ekeneodigwe commented on #1011
Regen - Commons Stack AMA recording was posted on
Twitter - https://twitter.com/commonsstack/status/1440249115791691781
LinkedIn - https://www.linkedin.com/posts/the-commons-stack_commonsstack-regen-community-activity-6846034041804750849-UPyU
& Discord

[2021-09-26 19:18] Ekeneodigwe commented on #974
Twitter
- 	Round 11 of #GitcoinGrants announcement was officially posted with links to different projects and a call on the community to donate to any of the deserving #CommonsStack ecosystem grants! https://twitter.com/commonsstack/status/1436446783010480128

- 	Ivy posted the Common Stack community funding and Panvala League open announcement - https://twitter.com/commonsstack/status/14381306473

[2021-09-26 19:24] Ekeneodigwe commented on #974
We had an amazing outing this round, Thanks Guys for all your support

[2021-09-26 19:24] #974 closed, assigned to Ekeneodigwe

[2021-09-27 09:53] iviangita commented on #345
Adding vacation policy and buddy system

[2021-09-27 10:02] #922 closed, assigned to Ekeneodigwe

[2021-09-27 11:05] Ekeneodigwe opened #1017 "Repurpose and Distribute Regen Network – Commons Stack AMA Video"
## 📋   Anything to add?

## 🎉   Subtasks

- [ Select Key quotes and make a clip out of them]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@jessicazartler @krisjpi

## 🔗   Work doc - inspirational links
https://www.youtube.com/watch?v=W8d3E3N4BQ4&feature=youtu.be

[2021-09-27 11:14] jessicazartler commented on #919
Meeting scheduled for Oct. 1 this Friday

[2021-09-27 11:15] jessicazartler commented on #714
Fahern (Lucas) says he is almost finished, waiting on final editing

[2021-09-27 15:20] kosmostasis commented on #1003
❤️ @tamarandom

[2021-09-27 15:20] #1003 closed, assigned to kosmostasis

[2021-09-28 09:05] #371 closed

[2021-09-28 12:31] Ekeneodigwe commented on #1017
A 02:20' video was made from the clip, this is the clip to be posted 👇👇 https://drive.google.com/file/d/1jOtCw_6wk7g767Ny1klMRLPb3Z3e9Dlz/view?usp=drivesdk

The copy for the video will read-
"Onboarding @regen_network as a community is an opportunity to enable inclusive commons-based governance while also setting diverse regenerative tools within the Ecosystem.
What do you want us to focus on in t

[2021-09-28 14:02] iviangita opened #1018 "Roles and Tasks for Acidlazzer, David, Zeptimus"
## 📋   Anything to add?

Help draft the roles and tasks for the following contractors and sync with them:
- [x] Acidlazzer
- [x] David
- [x] Zeptimus

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@GriffGreen for Zep
Chuy for Acidlazzer and David

## 🔗   Work doc - inspirational links

[2021-09-28 15:41] jessicazartler commented on #1017
Maybe...

Our recent partnership with @RegenFndn will be the first instance of a Community Staking DAO on the @Regennetwork. What other models are their for more inclusive governance in blockchain protocols and #DAOs?"

[2021-09-28 15:43] jessicazartler commented on #1017
Tweet 2:

📑 Read more about Community Staking DAOs (https://medium.com/regen-network/community-stake-governance-model-b949bcb1eca3)
🎥 Watch the full AMA (link)
🤝 Read more about the CS <> Regen partnership

[2021-09-28 16:50] Ekeneodigwe commented on #1017
Post made on Twitter - https://twitter.com/commonsstack/status/1442887629071081474?s=20
LinkedIn as well- https://www.linkedin.com/feed/update/urn:li:activity:6848656032332300288

[2021-09-28 17:03] Ekeneodigwe commented on #896
“It’s time for DAO-to-DAO connection was repurposed as a tweet thread https://twitter.com/commonsstack/status/1442540462007635975?s=20

And into a slide for linkedIn https://www.linkedin.com/feed/update/urn:li:activity:6848323186845593601

These links were also shared on Discord and Telegram Channels

[2021-09-29 04:08] Jeff-Emmett commented on #1013
Here are some of the answers to the questions above, from initial forays into the data:

![image](https://user-images.githubusercontent.com/46964190/135201528-eb5bc960-09fa-489b-aedb-f68e9624ede8.png)

@knobsdao, I added some links to the Notion doc under CS Operations with the spreadsheet I was playing around in, if it is of any use to you!  I will probably do some other CSTK analysis in there as

[2021-09-29 16:00] #965 closed, assigned to mafer-labs

[2021-09-29 17:08] jessicazartler commented on #1016
[Uploading Miami Crypto Exp Impact Track Deck.pdf…]

[2021-09-29 20:50] GriffGreen commented on #955
I don't think the same person who is good at talking to angel investors is the same person who is good at maintaining gitcoin grants... and it might turns someone off from taking the job.

Gitcoin grants IMO would be a bit of a distraction and is best as part of the Comms crew.

[2021-09-29 20:59] GriffGreen commented on #1013
looks like we raised ~180k thru this funding stream in the last 8 months...  that's pretty good... It has been paying the core team's salary, month after month.

The airdrops more than cover the 450 DAI and it gives people a yearly reminder that they can support us. I think that is the biggest benefit :-D

[2021-09-30 14:24] #973 closed, assigned to YineisyM

[2021-09-30 16:42] iviangita opened #1019 "Infra/Ops Documentation"
## 📋   Anything to add?

Getting started on this. Will be updated as things change.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-01 12:11] tamarandom commented on #345
Hey @iviangita ! Given how very out of date this handbook is and the ongoing discussion in the core team... I think we may as well icebox this for the time being. Let's leave it open and come back in a few Sprints from now.

[2021-10-04 10:10] Ekeneodigwe opened #1020 "Repurpose Jeff's pieces on Ostrom’s 6 Challenges"
## 📋   Anything to add?

## 🎉   Subtasks

- [Curate video outtakes/slides ]
- [ Make single Tweets of Excerpts then share with the Medium article link]
- [ Get Jeff to record a 2-minute video introducing the article and its essence to the audience]
[ Create a Powerpoint slide for LinkedIn from the Single Tweet]

## 🤼‍♂️   Reviewer

@Jeff-Emmett

## 🔗   Work doc - inspirational links
- https://www.

[2021-10-04 10:25] Ekeneodigwe commented on #1017
Started working on the Giphy, hope to post it today

[2021-10-04 10:52] Ekeneodigwe opened #1021 "Update the Evergreen / Library"
## 📋   Anything to add?

## 🎉   Subtasks

- [ Track down all the content that has evergreen quality]
- [ Update the repurposed evergreen content sheet]
- [ ]

## 🤼‍♂️   Reviewer

@iviangita

## 🔗   Work doc - inspirational links

[2021-10-04 10:55] tamarandom commented on #899
The latest version has been shared with the CSA board on the CS Legal TG channel. If this version is approved, then we can move forward with using these agreements.

[2021-10-04 10:55] tamarandom commented on #306
Luuk and I will have a sync this week. Looking to make it regular on a bi-weekly or monthly basis.

[2021-10-04 10:56] Ekeneodigwe commented on #1015
Reached AcidLazzer today on Discord, hoping he'd be on board with this project

[2021-10-04 10:57] tamarandom opened #1022 "TS Dashboard, support through the concept and design phase"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-04 16:55] #1000 closed, assigned to liviade1

[2021-10-05 13:11] iviangita commented on #828
Generated the financial report until Sept 30: https://docs.google.com/spreadsheets/d/1K519MIBjhpmwGVAQ4pAu31Hym0V3Jnuk8bOjepamGHM/edit?usp=sharing

[2021-10-06 00:03] YineisyM opened #1023 "Creating a report in Google Data Studio for the Trusted Seed Dashboard in Notion"
## 📋   Anything to add?
Important Trusted Seed members’ KPI to track and view on a simple Google Data Studio dashboard.

## 🎉   Subtasks

- [x] Some research time.
- [x] Data validation for setting up the information that will be pulled into the report.
- [x] Creating an automated reporting dashboard with important data to track.
- [x] Embedding the report in Notion

## 🤼‍♂️   Reviewer

@knobsdao

[2021-10-06 08:02] #1017 closed, assigned to Ekeneodigwe

[2021-10-06 08:36] Ekeneodigwe commented on #895
24th September - 6th October

- Retweeted Giveth’s post on Griff’s talk about how novel economic models hold solutions for supporting the creation of Public Services and other non-excludable goods at the Wyoming Blockchain Stampede https://twitter.com/Givethio/status/1441400717911072770?s=20

- The latest Sprint review post was made https://twitter.com/commonsstack/status/1442471106623930375?s=20

[2021-10-06 09:08] Ekeneodigwe commented on #1021
Updated

- What is Commons Stack last tweet link - https://twitter.com/commonsstack/status/1444305669780164609?s=20
- Architecting the Cyber-Physical Commons (Number of times, date of last tweet and last tweet link) https://twitter.com/commonsstack/status/1414866591859322882?s=19
- Zen and the Art of Understanding Commons Stack (Number of times, date of last tweet and last tweet link) -  https://t

[2021-10-06 12:45] kosmostasis commented on #677
Passed onto @mafer-cordovas who is rocking it and adding more functionalities.

[2021-10-06 12:57] kosmostasis commented on #796
Made a list of TS successful applicants and activated members with the skillsets of Design, Content Production & UX/UI: https://docs.google.com/spreadsheets/d/1YqvqwEehYKq9X_oAO_LvWYBamUm1o_AgiqYebbhxdt4/edit?usp=sharing

[2021-10-06 12:57] #796 closed

[2021-10-06 17:54] #991 closed, assigned to mafer-labs

[2021-10-07 05:19] tamarandom commented on #898
In the process of confirming the tasks and outcomes for all contractors. This is an important piece of contractor management since it makes sure everyone is aligned with what work is expected. Waiting for the CSA Board to confirm the latest draft of the contractor agreement is OK to move forward with.

[2021-10-07 06:57] tamarandom opened #1024 "Core team handover steps/process"
## 📋   Anything to add?
With two of our core team members exiting, it is a good time to get a good exit process in place. Some of the immediate steps that come to mind:

- Setting time aside to transfer over open issues on the Sprint board
- Capturing thoughts and perception in an exit interview
- A goodbye party of some sort

## 🎉   Subtasks

- [x] [Dan's document](https://docs.google.com/documen

[2021-10-07 18:34] Jeff-Emmett commented on #1020
Curate video outtakes/slides: https://www.youtube.com/watch?v=zMOhmH-L_N4
- Jeff will review video
- Timestamps for cutting

Make ~10-12 Tweet thread of Excerpts then share with the Medium article link
- Thread: Topic intro, one tweet for each challenge (graphic + explanation), link to article, link to video (or outtake video)

Get Jeff to record a 2-minute video introducing the article and its es

[2021-10-08 11:14] tamarandom commented on #964
@Ekeneodigwe @iviangita, just coming back round to this as I notice that we still have the same very old video as our feature video. Not sure who will take this though .....

[2021-10-08 11:49] tamarandom commented on #306
Had a good sync and will have a regular bi-weekly with Luuk going forward.
They are now setup on Boardroom: https://app.boardroom.info/primedao/proposals
The **Proposal Inverter Spec and Model - TEC Labs Collaboration** should soon be up for vote on PrimeDAO, which includes Commons Stack as advisors. 👍🏽
https://docs.google.com/document/d/135ZH2AByCU7cmXbG501Cu4Xl8LgMcJiHpb_-XzhNlzY/edit

[2021-10-08 11:59] tamarandom commented on #994
A big setback with Katy stepping away for an unknown period of time but Nate is taking on lead writer role and there are two possibilities for another writer. Will speak with a recommendation of YGG mid next week and Taxil (who is in SF on vacation atm) when he is back in NY mid next week.

Timezones being what they are, I am stepping out of the syncs so that Livia, Nate and Kelsie can meet at a r

[2021-10-08 12:46] iviangita commented on #964
Hi @tamarandom we've already changed the featured video in the Settings but it doesn't reflect on the channel - we're still trying to fix it :/ cc: @krisjpi

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/9f24075a-2884-4abc-8fc1-905885609a73)

[2021-10-08 14:27] iviangita commented on #964
FIXED IT! 🥳

https://www.youtube.com/c/CommonsStack/featured

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/62ebb843-a0a7-4942-85f9-b186648b6bea)

[2021-10-08 14:27] #964 closed, assigned to krisjpi, iviangita

[2021-10-08 16:20] #644 closed

[2021-10-08 16:23] kosmostasis commented on #322
Pausing this baby for now, could reopen after issue #1009 is cleared.

[2021-10-08 16:24] kosmostasis commented on #957
Several convos between the comms and TS teams happened. So far the tool seems like a nice-to-have, but it certainly could be used to identify and push forward desired behaviors if we want.

[2021-10-08 16:24] #957 closed, assigned to kosmostasis

[2021-10-11 08:11] tamarandom opened #1025 "Kris // Handover document"
## 📋   Anything to add?

Create a handover document for the pieces of work that you have been covering.
This document should cover a few things like:
- specific tasks and who will take them over
- specific tasks that do not have anyone to take them over
- knowledge transfer in the form of description of processes that are not self-evident
- schedule of knowledge transfer sessions with peeps on the

[2021-10-11 08:12] tamarandom opened #1026 "Dan // Handover document"
## 📋   Anything to add?

Create a handover document for the pieces of work that you have been covering.
This document should cover a few things like:
- specific tasks and who will take them over
- specific tasks that do not have anyone to take them over
- knowledge transfer in the form of description of processes that are not self-evident
- schedule of knowledge transfer sessions with peeps on the

[2021-10-11 08:16] tamarandom opened #1027 "Update Iteration0 on Giveth (requested by Lauren)"
## 📋   Anything to add?
On the #comms channel on CS Discord:

karmaticacid: Hey comms peeps, we've been doing some review on the projects on Giveth and I noticed that the Iteration 0 project could really use an update! Anyone know who owns this?

It's now possible to add photos, embed videos and use rich text formatting... and you can make the description way longer with link to twitter, your site

[2021-10-11 08:19] tamarandom commented on #942
Open for any contributors that want to take on proofreading the English or German versions. 🙏🏽

[2021-10-11 08:28] tamarandom commented on #739
Wondering whether we can bump this up in priority and pull it into an upcoming Sprint? With @krisjpi leaving... maybe we can talk on our Sprint planning today about who else can take it on?

[2021-10-11 08:37] tamarandom commented on #963
Oh this would be great. It's not urgent so let's see when @Vyvy-vi can pull it into a future Sprint.

[2021-10-11 08:44] tamarandom commented on #839
@iviangita added unpaid to the active tab. Closing!

[2021-10-11 08:44] #839 closed

[2021-10-11 08:49] iviangita commented on #642
Hi @jessicazartler @Jeff-Emmett I'm wondering if we can close this issue now? Then we can reopen it when the sessions resume :)

[2021-10-11 14:16] tamarandom commented on #899
Still pending feedback.

[2021-10-11 14:18] tamarandom commented on #898
Closing as a lot has changes since July and the important piece is being tracked #899

[2021-10-11 14:18] #898 closed

[2021-10-11 14:25] tamarandom commented on #959
Closing.

[2021-10-11 14:25] #959 closed, assigned to nobody

[2021-10-11 14:26] tamarandom commented on #961
Sorry to report that our shops backend has been down for about a week and no one is able to order their swag or pay-for products. Call for help! Or we will have no choice but to shut the shops down.

[2021-10-11 14:31] kristoferlund opened #1028 "Detailing of v1.0 wireframes"
## 📋   Anything to add?
Take the wireframes from "low resolution" to "medium resolution" so that @markoprljic can begin looking at graphical identity, etc.

## 🤼‍♂️   Reviewer

@markoprljic
@knobsdao
@tamarandom
@mafer-cordovas
@YineisyM

## 🔗   Work doc - inspirational links
https://miro.com/app/board/o9J_lBZsbTg=/

[2021-10-11 14:32] kristoferlund opened #1029 "TS Dashboard "Paper Prototype""

[2021-10-11 14:35] kristoferlund commented on #988
Closing. We'll start sprint planning for project when there is more of a development team. The prototyping phase moves on without sprint planning.

[2021-10-11 14:35] #988 closed, assigned to nobody

[2021-10-11 14:35] #985 closed, assigned to kristoferlund

[2021-10-11 14:37] kristoferlund opened #1030 "Moodboards and visual identity"
## 📋   Anything to add?

Based on wireframes and spec document, produce a visual identity for the TS Dashboard.

## 🎉   Subtasks

- [ ] The Trusted Seed Logo (!!!)
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

Wireframes: https://miro.com/app/board/o9J_lBZsbTg=/

Functional specs: https://docs.google.com/document/d/1M6ojof65O2qOSmPIG9kDhKGlmZcY0renrVH1W6z30eY/edit#

[2021-10-11 14:42] #986 closed, assigned to kristoferlund

[2021-10-11 16:02] tamarandom commented on #1030
Nice!

[2021-10-11 16:04] mafer-labs opened #1031 "Review/Improve Notion for CS"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Check current pages
- [ ] Feedback from teams
- [ ] Improvements around circles

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-11 16:05] sarahmanski commented on #896
Would you please link to my website instead: www.SarahManski.com ? Thanks!

Sarah Grace Manski, PhD

On Mon, Oct 11, 2021, 9:46 AM Ekeneodigwe ***@***.***> wrote:

[2021-10-11 16:08] tamarandom commented on #1024
Here's what KrisIs did once. https://docs.google.com/document/u/1/d/11x2X5CvbR3YQuKlp9fjyGipEL5lemfMVoA252-VIB-c/edit?usp=drive_web&ouid=100603646152821457059

[2021-10-11 16:13] mafer-labs opened #1032 "TS process documentation"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-11 16:23] GriffGreen commented on #892
count me in!

[2021-10-11 16:25] GriffGreen opened #1033 "Celebrate Dan and Kris' time with CS :-D"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Schedule it
- [ ] Do it!

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-11 16:29] Ekeneodigwe commented on #896
Alright, Sarah. I will do that

[2021-10-11 16:33] tamarandom opened #1034 "Sprint retrospective: Re-sync purpose and goals"
## 📋   Anything to add?
Starting point:
- Review the previous goals
- Sensemake and brainstorm

Objective:
- Team alignment on goals

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-11 16:39] #1002 closed, assigned to GriffGreen

[2021-10-11 16:39] #955 closed, assigned to GriffGreen

[2021-10-11 16:39] #996 closed, assigned to GriffGreen

[2021-10-11 16:39] #998 closed, assigned to GriffGreen

[2021-10-11 16:40] #1014 closed, assigned to GriffGreen, jessicazartler, Ekeneodigwe

[2021-10-11 16:42] #948 closed, assigned to GriffGreen

[2021-10-11 16:44] tamarandom commented on #125
Update: This might be a solution for the grant from OneProject if that happens.
@knobsdao sharing this one: https://www.sdgimpactfund.org/

[2021-10-11 16:46] GriffGreen opened #1035 "Finalize ABC Audit with Commons Swarm"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-11 16:49] liviade1 commented on #999
https://docs.google.com/document/d/1F1M9HGiSd55IZRdMcj_rREzfjglIn2WiLyBPKplo84Y/edit#
@tamarandom

[2021-10-11 16:49] GriffGreen opened #1036 "Keep Pushing the Param Parties"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Do QA on the Commons Config Dashboard to a good place
- [x] Get the Thumbs up on releasing the CCD out to the Community
- [x] Schedule a bunch of Params parties
- [ ] Do the ones in this sprint

## 🤼‍♂️   Reviewer

@marthendalnunes

## 🔗   Work doc - inspirational links

[2021-10-11 16:51] tamarandom commented on #608
On pause until the shops are working again.

[2021-10-11 16:56] GriffGreen opened #1037 "Take over Trusted Seed assessments with Dan, Maria and Yineisy"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Schedule a handover call
- [ ] do it!

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-11 16:57] tamarandom opened #1038 "Communication: Pull the breaks on all CSLOVE airdrop comms"
## 📋   Anything to add?
As long as the shop is down, we should stop sharing the airdrop / swag comms (email welcome message).

& take it off the website (check with @kristoferlund on this)

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@iviangita

## 🔗   Work doc - inspirational links

[2021-10-11 17:18] tamarandom commented on #799
This can be handled by @mafer-cordovas and @YineisyM on a one by one basis. Making this a bot introduces possibility of leaking PII.

[2021-10-11 17:20] tamarandom commented on #124
This issue is over 13 months old. We can reopen another issue when the time to redesign website is closer. Closing.

[2021-10-11 17:20] #124 closed

[2021-10-11 17:23] tamarandom commented on #788
@krisjpi is passing the torch to @Ekeneodigwe. Though we will need to change the timing for this to work....

[2021-10-11 17:29] tamarandom commented on #793
@Vyvy-vi  Can you give us a hand with this perhaps? @krisjpi  can share here anything you need to know.

[2021-10-11 17:33] tamarandom opened #1039 "Kris handover : Legal go to person"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-11 17:35] tamarandom commented on #568
Update: done

[2021-10-11 17:35] #568 closed

[2021-10-11 17:36] tamarandom commented on #616
Update: done & closing

[2021-10-11 17:37] #320 closed

[2021-10-11 17:37] tamarandom commented on #456
Update: Closing this issue from Jan.

[2021-10-11 17:40] tamarandom commented on #81
Update: Closing this issue from Aug 2020

[2021-10-11 17:40] #81 closed

[2021-10-11 17:41] #309 closed

[2021-10-11 17:44] tamarandom commented on #722
Can this be solved with a media calendar?

[2021-10-11 17:45] tamarandom commented on #123
Update: Kris shared that Bernd has an idea to use a shared bookkeeper.

[2021-10-11 17:50] krisjpi commented on #293
All tasks have been completed, but the Epic was never closed. Further Discord changes can be added as new issues, and grouped under a new Epic if needed.

[2021-10-11 17:51] tamarandom commented on #763
What can be shared from this board to pass on in terms of a knowledge transfer? There was so much good in here.

[2021-10-11 17:52] krisjpi commented on #469
An older issue to review website and suggest needed edits. Some of these have been implemented already, but details on the review by team members is in this Doc - https://docs.google.com/document/d/1xLlfVVhbBOFZBbqZnf04aOqKosWS3RB-rRs5fDrqwaM/edit?usp=sharing

[2021-10-11 17:52] tamarandom commented on #763
https://miro.com/app/board/o9J_kpGPr1U=/

Here is the good. Closing this isssue.

[2021-10-11 17:52] #763 closed

[2021-10-11 17:52] tamarandom commented on #866
Closing

[2021-10-11 17:53] tamarandom commented on #542
Update: closing

[2021-10-11 17:53] tamarandom commented on #541
Update: closing

[2021-10-11 17:53] #541 closed

[2021-10-11 17:54] tamarandom commented on #350
Update: possible to do with Hubspot?

[2021-10-11 17:54] krisjpi commented on #378
I believe we have now successfully transitioned all previously used Mailchimp function over to our Hubspot account.

[2021-10-11 17:55] tamarandom commented on #522
Update: Ideally in Hubspot (thinks @knobsdao) ;)

[2021-10-11 17:57] tamarandom commented on #530
Update: @knobsdao will be passing to @mafer-cordovas and @YineisyM

[2021-10-11 17:59] tamarandom commented on #939
Dan will pass to Maria & Yineisy

[2021-10-11 18:01] tamarandom commented on #269
Update: closing

[2021-10-11 21:03] tamarandom commented on #999
this is beautiful &  it almost reads like a manifesto as a "published declaration of the intentions, motives, or views".

[2021-10-12 09:59] Ekeneodigwe commented on #896
Hello Sarah, I realised that the Publication on your website is still linked to Shareable.net
Hence this copy  "This account “A post-capitalist guide to the future: crypto-commoners only want the earth” by https://www.sarahmanski.com captures all that transpired at the Crypto Commons Gathering, told in the most vivid conversational way.
Check it out
https://www.shareable.net/crypto-commons-gatheri

[2021-10-12 12:40] tamarandom commented on #713
Closing. Anyone that hasn't claimed their swag can do it anytime. Well, if the swag shop comes back from the brink of death. Currently, the swag shop is not functional.

This is the tracker xls: https://docs.google.com/spreadsheets/d/1av37Ov0Ukzys7ZspXLmh5bOiK8qAR-Ed5j540mFpqNY/edit#gid=1721687770

[2021-10-12 12:45] tamarandom commented on #378
sooooo super done!

[2021-10-12 12:47] tamarandom commented on #360
Closing this Epic. The work that @kristoferlund is doing with Praise as an open source system addresses it.

[2021-10-12 12:48] tamarandom commented on #314
Cleaning up the backlog with @knobsdao. Closing.

[2021-10-12 17:31] tamarandom commented on #714
Tagging @lucashygate (aka Fahern).

[2021-10-12 17:41] kosmostasis opened #1040 "Troubleshoot Donna's TS Activation"
## 📋   Anything to add?
Donna's CSTK (1125) is not showing in BlockScout and the CSDAO. She activated her TS as seen in the Etherscan link but the CSTK wasn't minted to her address as seen in Blockscout.

## 🎉   Subtasks

- [ ] Sync either with Griff or Amin directly or over the Development channel in Discord/Telegram to see what's wrong.
- [ ] Check everything's alright in Blockscout and the CSDA

[2021-10-12 19:24] jessicazartler commented on #714
Thanks @tamarandom! Lucas said he is working on trying to create the lower third titles as the last part

[2021-10-12 19:35] jessicazartler commented on #288
@Zion-code Hey there :D Just wanted to offer some experience from working on partnerships for CS ...  I would say it is somewhat challenging to do a generalized template for partnerships as each is VERY different... I do have two agreements that you can have that I did with Regen Network/Seeds and I also have one I did for ixo though it was in a landing page / announcement format.. happy to send t

[2021-10-12 19:39] jessicazartler commented on #896
Was there anything new to review here @Ekeneodigwe ?

[2021-10-12 19:41] jessicazartler commented on #206
@Jeff-Emmett Shawn and Sem worked on this - I am going to close for now :D

[2021-10-12 19:41] #206 closed

[2021-10-12 20:28] jessicazartler commented on #964
That's a good one --- this one might be even better for HOME as its more about CS https://www.youtube.com/watch?v=oF3nsRVSyJc&t=114s @iviangita probably the best general AMA we've had

[2021-10-13 08:40] tamarandom commented on #964
Nice!! Thank you @iviangita, @krisjpi !!!

[2021-10-13 09:01] tamarandom commented on #1028
These are looking fantastic, @kristoferlund !

[2021-10-13 09:08] tamarandom commented on #987
Nice. I dropped a few comments in the doc.

[2021-10-13 17:12] iviangita commented on #1024
I made a basic template for the handover report/summary, including the suggested handover process:
https://docs.google.com/document/d/1F-kPUmmsGgvK7FCvtZIZvxCFyPMBAZofkFRiSX64PgQ/edit?usp=sharing

Once the document is filled by Kris/Dan, I will file it in our [Contributors Tracking Sheet](https://docs.google.com/spreadsheets/d/1lv00-eIrVWlhkTKZrMoLey637AXA-T8JXZPio5XHE5o/edit?usp=sharing) for refe

[2021-10-14 07:55] iviangita commented on #964
Replaced the video with the Feb AMA suggested by @jessicazartler

[2021-10-14 14:37] iviangita commented on #1018
DONE!
[Acidlazzer ](https://docs.google.com/document/d/1N-nOl-y7lLoyaUzihURmMDezD5shBB1Dh18SeLSMus0/edit?usp=sharing)
[David](https://docs.google.com/document/d/1c6JokSGmDzt9mf61GmmrTRHq65ZoBMnDs56Fz197raE/edit?usp=sharing)
[Zeptimus](https://docs.google.com/document/d/1VfQzW_7dkj1NPQG8cWzoM9CAk5lnEeemXWd4-cvINTo/edit?usp=sharing)

[2021-10-14 14:37] #1018 closed, assigned to iviangita

[2021-10-15 18:46] Jeff-Emmett commented on #642
Thanks for surfacing this @iviangita!  Closing this issue as I don't think these will be resuming.

[2021-10-18 16:44] #935 closed, assigned to Jeff-Emmett

[2021-10-19 18:28] jessicazartler commented on #1016
https://docs.google.com/document/d/1eXIA121npjBENgzpYZ7BBdS8ShsfwKvbnCbqqEWOks8/edit

[2021-10-19 18:31] jessicazartler commented on #1016
@GriffGreen Miami has its own Metaverse https://3dnftworld.com/ - enter any email and es360 as the ticket code -
their NFT team will be minting for us - here is a preview of one art piece - the final will be animated and working with the artist to choose a 2nd piece as looks like we will have two spots:

![image](https://user-images.githubusercontent.com/43972522/137969719-0faa399e-f388-4c39-bbee-

[2021-10-19 19:11] Ekeneodigwe commented on #896
This October, A post-capitalist guide to the future: crypto-commoners only want the earth” by @sarah Manski
(https://www.shareable.net/crypto-commons-gathering-2021/)  was Published on Twitter https://twitter.com/commonsstack/status/1450003682473484300?s=20
LinkedIn - https://www.linkedin.com/feed/update/urn:li:activity:6855770908259311616

[2021-10-20 15:19] mafer-labs commented on #1040
Talked to @aminlatifi and he saw the CSTK server needed a restart. Donna's CSTK is now showing and our member's list has no pending CSTK to mint.

[2021-10-20 15:19] #1040 closed, assigned to mafer-labs

[2021-10-21 15:22] Ekeneodigwe opened #1041 "Repurpose Jeff's presentation on Permaculture Economics"
## 📋   Anything to add?

## 🎉   Subtasks

- @Jessica is to track down the Video, upload the video to YouTube and draft a Tweet
- @Ekeneodigwe will edit/polish and publish
- @Ekeneodigwe can create a new Github issue for a future tweet thread

## 🤼‍♂️   Reviewer

@jessicazartler @iviangita @tamarandom

## 🔗   Work doc - inspirational links

[2021-10-22 09:13] Ekeneodigwe commented on #892
Had a sesh with Griff on Oct 15  and it was so insightful. We agreed to keep revisiting the process at least bi-weekly

[2021-10-22 09:38] Ekeneodigwe commented on #895
**Posts made during this Sprint**
LinkedIn

- Understanding the Magic Behind the Commons Simulator post https://www.linkedin.com/feed/update/urn:li:activity:6853632265096839168

- How Blockchain is helping create a new and sustainable commons-based economy https://www.linkedin.com/feed/update/urn:li:activity:6854013587682275328

- Trusted Seed membership call https://www.linkedin.com/feed/update/u

[2021-10-25 09:37] tamarandom commented on #1022
Closing. Beautiful work by @kristoferlund this far. Looking fwd to seeing the designs @markoprljic and team come up with.

[2021-10-25 09:37] #1022 closed, assigned to tamarandom

[2021-10-25 15:05] #1023 closed, assigned to YineisyM

[2021-10-25 15:23] YineisyM opened #1042 "Updating the Trusted Seed Dashboard report in Google Data Studio"
## 📋   Anything to add?

Keeping update the report in Google Data Studio for the Trusted Seed Dashboard in Notion

## 🎉   Subtasks

- [ ] Updating related Reports (Sheets)
- [ ] Take actions related to the results

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://datastudio.google.com/reporting/3b416db0-999c-4fca-98e7-d9f78c99c5e2

[2021-10-25 15:28] tamarandom opened #1043 "Retro action: bring the ABC article as a priority to this sprint - we can have Carol's help to look at it"
## 📋   Anything to add?

It is official, ABC article is a priority for this Sprint.

Two possible ways to move it forward:

- Editor support for @Jeff-Emmett's drafts (#20)
- New draft from scratch

Opening this issue to discuss during our planning today!

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-25 15:35] tamarandom opened #1044 "Backlog refinement"
## 📋   Anything to add?
Making an issue for refinement this Sprint. We, any anyone that hops on our sprint board to see what we are up to or find an issue to take on, can really benefit from a little clean-up.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-25 15:36] tamarandom commented on #899
Pushed out 2 weeks based on Bernd's next availability. We will get there! Just not at light speed. ;)

[2021-10-25 15:40] tamarandom commented on #133
@liviade1 I propose that we closet this and revisit when we are closer to ready to take this on.

[2021-10-25 16:05] tamarandom opened #1045 "Can our team meeting hours be more Ivy-friendly?"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-25 16:13] jessicazartler commented on #1005
Setting date with panelists

[2021-10-25 16:14] jessicazartler commented on #975
@krisjpi Hope you are having fun in Lisbon! Lmk when is a good time to go over this together to wrap up this last task - thanks!

[2021-10-25 16:18] tamarandom opened #1046 "Write brief for the Swag shop V2"
## 📋   Anything to add?
@kristoferlund found an alternative solution to the dshop using WP and woocommerce plugin (for the custom token part). He verified it works, next step is a WP frontend dev to select a good shop template and customize it for the three shops.

@markoprljic needs a brief to share with this dev/designers.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work d

[2021-10-25 16:18] #999 closed, assigned to liviade1

[2021-10-25 16:18] jessicazartler opened #1047 "Scaffolding session for ABC article"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Griff to create channel with a few folks
- [x] Griff/Jess/Carol scaffolding session

## 🤼‍♂️   Reviewer

@GriffGreen @tamarandom

## 🔗   Work doc - inspirational links
https://github.com/commons-stack/iteration0/issues/20

[2021-10-25 16:19] GriffGreen opened #1048 "Design a $1.5 Milllion Dollar Economy ;-)"
Param Parties will be Announced Tomorrow :-D

[2021-10-25 16:20] #1038 closed, assigned to YineisyM

[2021-10-25 16:20] YineisyM commented on #1038
I contacted Kristofer and Ivy for this issue. I created a message to replace the one on the website but at the end the store got fixed so it wasn't necessary to used it or to change the emails messages. Closed.

[2021-10-25 16:22] iviangita opened #1049 "Contributors Profile"
## 📋   Anything to add?
Create Contributors Profiles (**sobol.io**) and make it available to our members. The goals are:

- Be able to search people skills based on our needs
- Match their competencies and wants
- Find other potential areas where they can grow.

The profile can include information such as special talents, interests, skills set, etc.

## 🎉   Subtasks
**Priority**
- [x] Juan Carlos

[2021-10-25 16:22] liviade1 opened #1050 "coordinate the reward committee process"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-25 16:23] iviangita commented on #1049
I will reach out to Heather if she's interested and wanna take it. Otherwise, I can take this on but will be asking help from @freshelle. :)

[2021-10-25 16:27] #1011 closed, assigned to Ekeneodigwe

[2021-10-25 16:29] tamarandom commented on #993
To update or change the wording to reflect toolkit or glossary or encyclopedia. https://app.gitbook.com/o/-MRe_DImEWCFDsZ_TQd2/s/-MRe_M_mUIIB11A-MQyZ/c/EiHirP16ZZNt5Jlp1b58/governance/polycentric-governance-in-the-tec

[2021-10-25 16:30] tamarandom commented on #993
Update: closing.

[2021-10-25 16:30] #993 closed, assigned to jessicazartler

[2021-10-25 16:31] liviade1 opened #1051 "edit gov section on gitbook"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-25 16:34] tamarandom commented on #1043
dupe of #1047, which @jessicazartler is taking.

[2021-10-25 16:36] jessicazartler opened #1052 "Edit Monthly Newsletter"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Edit article for Yin, feedback on final draft before sending

## 🤼‍♂️   Reviewer

@YineisyM @krisjpi

## 🔗   Work doc - inspirational links
https://github.com/commons-stack/iteration0/issues/647

[2021-10-25 16:36] Ekeneodigwe commented on #896
Permaculture and Crypto: Green with No Envy by Steven McKie was posted this sprint on twitter https://twitter.com/commonsstack/status/1452565835336269827?s=20

LinkedIn too https://www.linkedin.com/feed/update/urn:li:activity:6858336242090700800

[2021-10-25 16:39] jessicazartler commented on #1047
@tamarandom just to clarify - my issue is for scaffolding alone for now

[2021-10-25 16:48] tamarandom commented on #697
Update:
Goal is two tweets, 24h and 1hr before.
Theme: collaborative economics
- @Ekeneodigwe will draft and share with @iviangita.

(Griff) Need to invite: Mitch & Vitor, Marko

[2021-10-25 16:50] tamarandom commented on #1024
Looks great to me.

[2021-10-25 16:54] tamarandom commented on #1008
closing....

[2021-10-25 16:54] #1008 closed, assigned to iviangita

[2021-10-25 16:56] #997 closed, assigned to liviade1

[2021-10-25 16:59] tamarandom commented on #1037
update: happend.

[2021-10-25 16:59] #1037 closed, assigned to GriffGreen

[2021-10-25 17:08] liviade1 opened #1053 "preparation of the reward system research group until nov 13"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-10-25 17:10] tamarandom commented on #1052
Linked to #647

[2021-10-25 17:14] tamarandom commented on #912
Update: On hold until after revenue discussions are held

[2021-10-25 17:24] tamarandom commented on #1045
Something like 2-4pm CET:
https://www.timeanddate.com/worldclock/meetingtime.html?day=21&month=11&year=2021&p1=179&p2=225&p3=195&p4=145&iv=0

[2021-10-25 17:31] tamarandom commented on #1045
Proposal is that we keep the same days and move from 6-8pm to 2-4pm CET.

[2021-10-25 17:43] tamarandom commented on #1039
@iviangita is the new go to. Thank you @krisjpi !!

[2021-10-25 19:31] Vyvy-vi commented on #963
Since we might be using sesh.fyi in the TEC, after some testing, I think we can use sesh.fyi in CommonsStack as well

[2021-10-25 19:32] tamarandom commented on #963
On call with @Vyvy-vi - if we want images, someone will need to share them with him. @iviangita should we use the same ones that we use on twitter?

[2021-10-26 14:20] kristoferlund commented on #1046
Test shop running at http://68.183.14.23/shop, token payments (CSLOVE) working.

[2021-10-26 19:35] #1007 closed, assigned to nobody

[2021-10-26 19:35] GriffGreen commented on #1036
Got config.tecommons.org to work!!

[2021-10-26 19:36] YineisyM commented on #673
I think @Ekeneodigwe should be the assignee to this issue? @mafer-cordovas

[2021-10-27 00:48] dysbulic commented on #520
An alternative to keep an eye on is [web3.storage](//web3.storage). They make five Filecoin 18-month storage contracts and insert the content into IPFS via Pinata.

It's free (Protocol Labs foots the bill), the cap is 1TiB, and they claim to be fairly liberal about increasing it.

The main issue is that authentication is via an API token, so it is not appropriate for a single-page app given that t

[2021-10-27 03:12] dysbulic commented on #498
¿Have you considered forwarding to an ENS domain?

You could set a `CNAME` from `cslove.commonsstack.app` to `shop.cstack.eth.link`. You can then set the IPFS value that resolves to via the blockchain.

It seems like the site could be built, uploaded to IPFS, and the ENS entry updated via a GitHub action.

The significant issue would be gas fees. ENS domains are on mainnet, and just to test I rese

[2021-10-28 14:05] YineisyM opened #1054 "Tracking all content where Dan's listed as contact"
## 📋   Anything to add?

Let's work together and get a list with all the links/docs where this is and fix them as a team.

## 🎉   Subtasks

- [x] Enlist all the content
- [x] Change it progressively, I suggest to redirect them to the info@commonsstack.com email :)

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links

https://docs.google.com/document/d/1cB2JiOZab_aQMmLEvdbffp

[2021-10-28 22:01] kristoferlund commented on #1046
[Brief](https://docs.google.com/document/d/1VHWPtV0LuX_B7jsgOfiMZZtAn_qv3w_Qbpywlk3Z5UY/edit#)
[Miro board](https://miro.com/app/board/o9J_lnSC_II=/)

[2021-10-29 15:26] iviangita opened #1055 "Create a vacation calendar for CS team"
## 📋   Anything to add?
 Ivy will create a vacation calendar so the team has visibility of everyone's (un)availability.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@tamarandom

## 🔗   Work doc - inspirational links

[2021-11-01 15:27] Ekeneodigwe commented on #888
Repurposed and posted

- https://twitter.com/commonsstack/status/1447864923569197060?s=20

- Walkthrough video of the Commons Stack Augmented Bonding Curve component https://twitter.com/commonsstack/status/1452924503273639936?s=20

**LinkedIn**

- The walkthrough video of the Commons Stack Augmented Bonding Curve component: https://www.linkedin.com/feed/update/urn:li:activity:6858768077081870336

[2021-11-01 16:29] iviangita commented on #1055
Done and gave access to the whole team: https://calendar.google.com/calendar/u/0?cid=aWcyY2gwdHRscWs3MjhhNmk4cjE2ZDdvaWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2021-11-01 16:29] #1055 closed, assigned to iviangita

[2021-11-01 16:40] Ekeneodigwe commented on #697
**Twitter**

- AMA Tweet  https://twitter.com/commonsstack/status/1453026582155563016?s=20

- 1hour reminder of AMA https://twitter.com/commonsstack/status/1453360840569094144?s=20

- The Distribution https://twitter.com/commonsstack/status/1455195998863732743?s=20

**LinkedIn**

- AMA October Post https://www.linkedin.com/feed/update/urn:li:activity:6858767511530287104

- The AMA Distribution Pos

[2021-11-01 18:29] jessicazartler commented on #612
This turned into the NFT Auction :D

[2021-11-01 18:29] #612 closed

[2021-11-01 18:30] jessicazartler commented on #683
Have updated.. there are definitely more projects for this but closing for now..

[2021-11-01 18:30] #683 closed

[2021-11-01 18:33] #349 closed

[2021-11-01 18:34] #611 closed

[2021-11-01 18:44] jessicazartler opened #1056 "Find Lead Contributor for Regen Partnership & TS EnDAOment"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Have a call w/ TRossi and Maria to download them on the project and find out TRossi's bandwidth & requirements to join
- [x] Schedule a call w/Tam to discuss project roadmap & TRossi contributor role & agreement

## 🤼‍♂️   Reviewer

@GriffGreen @tamarandom @krisjpi

## 🔗   Work doc - inspirational links

[2021-11-02 15:26] iviangita opened #1057 "Onboard Carole"
## 📋   Anything to add?

Have an onboarding call with Carole and prepare the needed documents (see below)

## 🎉   Subtasks

- [x] Onboarding kit
- [x] Role and tasks summary
- [x] Giveth tutorial
- [ ] Zenhub tutorial

## 🤼‍♂️   Reviewer

@liviade1

## 🔗   Work doc - inspirational links

[2021-11-02 17:02] iviangita opened #1058 "New schedule for weekly Comms meeting"
## 📋   Anything to add?

Find a schedule that can work for people that need to be in the Comms meeting: YGG, Katie, Molly (PST), Maria, Yineisy (Caracas), Ekene (Lagos) and Ivy (Manila).

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@tamarandom

## 🔗   Work doc - inspirational links

[2021-11-02 19:45] jessicazartler commented on #1052
Dropped comments in Yin's doc and working with her on final edits & sending

https://docs.google.com/document/d/1Xwu7A2Bx6BrVSByUBe6R_qY069mRiROjMbC1n3h4IzM/edit?usp=sharing

[2021-11-02 20:46] tamarandom commented on #697
Reopened this one for ya, @Ekeneodigwe, for the Nov just talked on Comms call.

[2021-11-04 17:04] Ekeneodigwe commented on #697
- Ekene will draft the announcement 1 week before, 24 hours earlier and 1 hour to the AMA.

-

[2021-11-04 17:09] Ekeneodigwe commented on #1015
A DM group of three (Jess, Acidlazzer and Ekene) was created on the Discord server, so far we have agreed to have one animated POAP (GIF) and distribute that at Christmas to the existing TS Members and build it into the pipeline for those who would join.

[2021-11-05 07:18] tamarandom commented on #1046
@kristoferlund saved the day and wrote it out! You know praise was dished for this!! 🙏🏾  🌱

[2021-11-05 07:18] #1046 closed, assigned to kristoferlund

[2021-11-05 07:19] tamarandom commented on #994
Back on track! Kelsie, Carole, Nate. The dream team right there.

[2021-11-05 07:19] tamarandom commented on #1045
Yes we can! Closing.

[2021-11-05 07:19] #1045 closed, assigned to tamarandom

[2021-11-05 07:24] tamarandom commented on #306
Had a sync with Luuk. PrimeDAO is heads down building (see the projects they are launching in the updates below). The figmas are looking pretty great. He is really interested in talking with @GriffGreen about Celo and regenerative projects flocking to the same chain. Targeting Jan for that convo - after Giveth and TEC have reach their next HUGE milestones.

Updates on PrimeDAO:
- 5-6 new contribut

[2021-11-05 07:25] tamarandom commented on #912
Following the summer bonus, I am closing this one. Will come back to this within the framework of a larger scope.

[2021-11-05 07:25] #912 closed

[2021-11-05 16:08] tamarandom opened #1059 "Sprint retro action: Ask not what the community can do for us - but how we can serve our community"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 01:19] kosmostasis commented on #1026
Draft here: https://docs.google.com/document/d/18KvLzaPDYOaSIZzeOumRQ4jiqxCu_eVilNkGRPBmyWg/edit @iviangita @mafer-cordovas

[2021-11-08 09:25] tamarandom opened #1060 "Can dshop be used on another chain? Xdai?"
## 📋   Anything to add?

Created an issue to track here the progress on their discord server
![Screen Shot 2021-11-08 at 10.34.06 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/1e2b2b0a-77a9-43df-ab77-07d396f5d5ca)

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 09:36] tamarandom commented on #1060
This is from back in February of this year:

![Screen Shot 2021-11-08 at 10.36.39 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/6b89db53-8420-4225-951c-bec0cd326eb7)

[2021-11-08 10:28] #457 closed

[2021-11-08 10:28] tamarandom commented on #457
Backlog refinement! Cleaning things up!!

Looking at the post-it notes on the miro board, these are done or out of date. Closing.

[2021-11-08 10:29] iviangita commented on #1058
New weekly Comms schedule: Every Wed, 4pm CET

[2021-11-08 10:29] #1058 closed, assigned to iviangita

[2021-11-08 10:30] tamarandom commented on #1047
We can call this done since our last call, right @jessicazartler

[2021-11-08 10:30] tamarandom commented on #493
@Ekeneodigwe you and @GriffGreen are working on this, right?

[2021-11-08 10:31] tamarandom commented on #207
Backlog refinement. Closing out these old issues.

[2021-11-08 10:31] #207 closed

[2021-11-08 10:32] tamarandom commented on #52
Backlog refinement. Closing out these old (15 months old!) issues.

[2021-11-08 10:35] tamarandom commented on #658
@phacker3 does it make sense to pull the process captured in this issues into a separate document so that we can close this. We can open a new issues for the next round with a link to the process doc. What do  you think?

[2021-11-08 10:39] tamarandom opened #1061 "ABC Article Series (Epic)"
## 📋   Anything to add?

There are 3 articles being written.

Why - Andrew
What - Carole
How - TBD

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
Notes from the sync call: https://docs.google.com/document/d/1rqdv77EYnaDgQLXYGH3_c7LHGvhSqLFm-fYuieZ2LaQ/edit

[2021-11-08 10:40] tamarandom opened #1062 "ABC article, the Why by Andrew"
## 📋   Anything to add?

This is being done by Andrew (not on our github yet)

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 10:41] tamarandom opened #1063 "ABC article, the What"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ] Make a bullet point article with technical pieces
- [ ] Help get graphics for it.
- [ ] Confirm the plan by end of sprint

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 10:41] tamarandom opened #1064 "ABC Article, the How"
## 📋   Anything to add?

Currently not assigned to anyone.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 10:44] tamarandom commented on #20
Hey @jessicazartler The three articles we discussed are being tracked in Epic #1061. Is there any reason to keep this issue open?

[2021-11-08 10:45] tamarandom commented on #1033
@krisjpi @knobsdao we miss you already!

[2021-11-08 10:45] #1033 closed, assigned to nobody

[2021-11-08 10:51] tamarandom commented on #1039
In progress? @krisjpi @iviangita

[2021-11-08 11:06] Ekeneodigwe commented on #493
Yes we are, the ref link is https://github.com/commons-stack/iteration0/issues/892 so we might close this one

[2021-11-08 11:43] Ekeneodigwe commented on #888
This **Sprint**   I will run two video series segmented in to 3

1. Griff on Bankless - https://www.youtube.com/watch?v=cVC9SbTmfSg
will feature

- How I got into Crypto

- What I have learnt in this Journey

- Why it all matters

2. The Commons Stack: Realigning Incentives around Public Goods by Kris Decoodt @ Paris P2P Festival #0 - https://www.youtube.com/watch?v=XMwxpVlOMb0

-

[2021-11-08 11:48] Ekeneodigwe commented on #896
This **Sprint** I will be curating and distributing two projects from the community as under the Knowledge commons as Stat-Driven Case Studies - Highlighting what makes these projects great, challenges that these are solving

1. Governauts Rewards Systems Research Initiative https://port.oceanprotocol.com/t/round-10-proposal-governauts-rewards-systems-research-initiative/958

2. Unlocking Collecti

[2021-11-08 12:00] Ekeneodigwe opened #1065 "Interactive infographics"
## As part sharing research / tools from the community I will be distributing some Interactive infographics from the community 📋   Anything to add?

## 🎉   Subtasks

- [Blockchain For Social Impact: Blockchain For Social Impact infographic covers the statistical data that we have of blockchains affect. If we take blockchain and social impact together, we will be able to find a clear relationship b

[2021-11-08 12:19] tamarandom commented on #1043
Adding this issue to the Epic for the ABC articles. Leaving it open so it stays on your radar @GriffGreen  (as if there was any chance it might fall off!)

[2021-11-08 12:26] mafer-labs opened #1066 "Typeform for member's projects/daos update and feedback"
## 📋   Anything to add?
The purpose is to have up-to-date information on our member's current projects and space to hear their ideas to enhance the TS community for next year.
## 🎉   Subtasks

- [x] Create Typeform
- [x] Team feedback
- [x] Distribution

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 12:37] mafer-labs opened #1067 "TS Project Showcase call"
## 📋   Anything to add?
Use one or more office hours calls in Dec to have members showcase current projects, ask for help, or just share possible collaborations within the community (?)

Maybe add the open call to [#1066](https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/issues/commons-stack/iteration0/1066)
## 🎉   Subtasks

- [x] Idea to reality
- [x] 30 min... 1-

[2021-11-08 12:42] tamarandom opened #1068 "Support Yine of the Discord onboarding journey"
## 📋   Anything to add?

Associated with #739

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 12:44] tamarandom commented on #680
Closing

[2021-11-08 12:44] #680 closed

[2021-11-08 13:02] YineisyM commented on #1054
I believed there were more docs where Dan was listed as contact but not. This one https://wiki.commonsstack.org/contributors-guide seems to be the only pending to be changed.

[2021-11-08 13:04] #1057 closed, assigned to iviangita

[2021-11-08 13:04] iviangita commented on #1057
Done! Next step is to create the role and tasks summary with her CS Buddy (Livia) :)

[2021-11-08 13:07] GriffGreen opened #1069 "Make Pan Payouts for Gitcoin"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 13:08] GriffGreen opened #1070 "Push out a Collaborative Econ Post"
## 📋   Anything to add?

Working with Algene to get it going

## 🎉   Subtasks

- [ ] Edits
- [ ] Revision
- [ ] pictures

## 🤼‍♂️   Reviewer

@tamarandom

## 🔗   Work doc - inspirational links

[2021-11-08 13:08] YineisyM commented on #915
I have contacted them and I'm doing the follow up for the pending ones:

Those are:

Nathalia's Scholarship: Pending for collecting.
Thiago's Scholarship: He needs some ETH to activate, he mentioned to resolved it by his own during this week )5/11/2021 before going to a rural area in Brazil.
Pranav's Scholarship: No answered yet.
Kyle’s Scholarship: He doesn't have a laptop/desktop to activate, ma

[2021-11-08 13:11] liviade1 opened #1071 "review Nate and Carol case study drafts"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1yqZMiLFUjH5bu0PIri671yHQXjLBbLh_Ew2zqlV56RU/edit
https://docs.google.com/document/d/1LKAeYBK2eluLGLOeY5dB0ITHOuSOeTTteX18eZQAk3o/edit

[2021-11-08 13:12] YineisyM commented on #739
Can we have this work sesh this week? Tam, since I don't have as many calls as you do I would prefer if you tell me your availability for having this sesh together and review what I have advanced. @tamarandom @mafer-cordovas

[2021-11-08 13:13] GriffGreen commented on #920
Isnt this done?

[2021-11-08 13:13] liviade1 opened #1072 "draft a roles & responsibilities for Carol"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 13:18] YineisyM commented on #1042
Pending for adding new sections:

- People that have paid more that $450 in their memberships dues.
- Active members Max Trust information
- Emails Stats

https://datastudio.google.com/reporting/3b416db0-999c-4fca-98e7-d9f78c99c5e2

[2021-11-08 13:29] GriffGreen opened #1073 "Onboard Max to Team and Trusted Seed"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 13:33] kristoferlund opened #1074 "Kristofer - Fill out monthly Giveth Trace"

[2021-11-08 13:36] kristoferlund opened #1075 "Get the TS Dashboard sync schedule going again"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 13:41] #987 closed, assigned to kristoferlund

[2021-11-08 13:41] #1028 closed, assigned to kristoferlund

[2021-11-08 13:44] kristoferlund opened #1076 "Investigate: Can we run Origin dShop on xDai?"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 13:45] kristoferlund opened #1077 "Talk to Ceramic and MetaGame about identity management"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 13:46] #979 closed, assigned to kristoferlund

[2021-11-08 13:46] #982 closed, assigned to kristoferlund

[2021-11-08 13:50] iviangita opened #1078 "New graphics for call announcements on Twitter"
## 📋   Anything to add?

We need a graphic designer who can create new graphics for our open calls as well as AMA to catch attention. We've been using the same graphics for almost a year already.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 13:53] iviangita opened #1079 "Find a new tool for better content planning/organizing"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 13:53] iviangita opened #1080 "Find a tool for better content planning/organizing"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 13:55] iviangita commented on #1079
Closing - duplicated 1080 sorry!

[2021-11-08 13:55] #1079 closed, assigned to iviangita

[2021-11-08 13:57] kristoferlund opened #1081 "Build TS Dashboard dev team"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 14:01] #493 closed

[2021-11-08 14:11] MaxSemenchuk opened #1082 "Dan Handoff Call (1)"

[2021-11-08 14:14] kristoferlund opened #1083 "Dev phase startup"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-08 14:18] tamarandom commented on #1081
Raidguild?

[2021-11-08 14:30] tamarandom commented on #1060
Dupe of #1076 - @kristoferlund will take this on!

[2021-11-08 14:30] #1060 closed, assigned to tamarandom

[2021-11-08 14:37] tamarandom commented on #1059
Ideas:
- survey?
- permanent suggestion box?

[2021-11-08 14:38] tamarandom commented on #843
Closing!

[2021-11-08 14:38] #843 closed

[2021-11-08 14:38] tamarandom commented on #883
Closing!

[2021-11-08 14:38] #883 closed

[2021-11-08 17:36] mafer-labs commented on #1026
I'm good with everything on my side. The next steps for/with me would be the credentials handover for the email and the xDai registry.

[2021-11-09 16:18] GriffGreen commented on #306
Sweet! Yeah we are committed to xDai with mainnet presence for launches but in no way is Giveth or CS xDai/ETH Maxis

[2021-11-09 17:14] jessicazartler commented on #1056
Scheduling a call with T Rossi next week - he is keen :D @YineisyM will DM you for times that work for you next week to join

[2021-11-09 17:19] #20 closed

[2021-11-09 17:23] jessicazartler commented on #52
@YineisyM this was the project I was talking about if you were interested in working on this with me it's a quick job to finish - I just never got anyone to give me feedback :D

[2021-11-09 17:25] #1047 closed, assigned to jessicazartler

[2021-11-09 17:26] YineisyM commented on #1056
Happy to help here but I think this issue is between you and @mafer-cordovas hahaha @jessicazartler

[2021-11-09 17:28] jessicazartler commented on #1056
OMG I'm such a dork! It auto-filled the wrong name - @mafer-cordovas !!!!!! You're my partnerships ride or die - let's do this! <3

[2021-11-09 17:30] YineisyM commented on #52
Awesome! Let's work together in this issue, I'm reviewing the old doc! Thanks Jess!

[2021-11-09 23:01] YineisyM commented on #354
Can we go back to this idea since @Ekeneodigwe is reviewing everything related to POAP?

[2021-11-10 15:44] YineisyM opened #1084 "Wiki Editing Credentials"
## 📋   Anything to add?

We need the credentials to edit the Commons Stack' wiki: https://wiki.commonsstack.org/

The idea is to continuing improve education/onboarding/walk throughs of various content (in addition to existing CS content map).

Here's the way of doing it: https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/managing-an-individuals-access-to-a

[2021-11-10 22:52] YineisyM commented on #1084
We (María and I) got the credentials. Grift help us with that. I'm closing this issue.

[2021-11-10 22:52] #1084 closed, assigned to YineisyM

[2021-11-10 22:53] YineisyM commented on #1054
I have the credentials for doing the eddit. A contributor made a really nice Commit in the Contributors Page that should be check in detail: https://github.com/commons-stack/wiki/pull/5/commits/2c65f5c103d65af264af5877743c59de6708e920

[2021-11-11 08:00] Ekeneodigwe opened #1085 "Partnership Contact Database"
## 📋   This Database will enable us develop a comprehensive list of DAOs, contact persons and how best to reach them
Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-11 08:17] Ekeneodigwe commented on #1065
Blockchain For Social Impact posted on LinkedIn - https://www.linkedin.com/feed/update/urn:li:activity:6864158648059355136

Twitter - https://twitter.com/commonsstack/status/1458391808724148236?t=S9S9PWOavmuS7AstnwURPw&s=19

[2021-11-11 09:44] tamarandom opened #1086 "Register Commons Stack DAO in Alderney"
## 📋   Anything to add?

Commons Stack DAO can have their ethereum address registered in Alderney

Example of the wording used in the Swarm.City Terms and Conditions (legal.swarm.city)
The Smart Contract System is located in Alderney. Consequently, the SWT creation and allocation and the assignment of the development and execution of the Swarm City Project to Swarm City Hives are considered to be

[2021-11-11 09:47] tamarandom opened #1087 "CSA pause agreements"
## 📋   Anything to add?

CSA runs out of funds in Dec. CSA required to send notification of pause on CSA contract to all contributors who are requesting from that fund: Griff, Livia, Ivy, Jess, Tamara

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-11 09:52] iviangita opened #1088 "Contract for insurance"
## 📋   Anything to add?

Draft a contract for re-insurance

(Background: have fund set aside to cover 2-3% of 317 members, anyone that wants to put up collateral will receive 4% annual)

- A contract that states that the lender (Griff) agrees to loan us (CS Association) capital and in the case of a legal issue, we will use that capital to pay for legal fees
- The contract should have limited valid

[2021-11-11 11:53] tamarandom commented on #583
Submitted Oct!

[2021-11-11 14:49] mafer-labs commented on #1056
Happy to be onboard, mate!
 @jessicazartler

[2021-11-12 15:49] iviangita commented on #1087
I notified Jess then Griff notified Livia and Tam with the message approved by Coach B. Closing!

[2021-11-12 15:49] #1087 closed, assigned to tamarandom, iviangita

[2021-11-12 16:04] YineisyM commented on #1064
@tamarandom @iviangita Griff felt that it should be assigned to someone else and I agreed. I edited it and returned it to unassigned.

[2021-11-12 16:14] YineisyM opened #1089 "Spreadsheets Improvement and Data Management"
## 📋   Anything to add?

Our main spreadsheet that contains all applicants data needs improvements to keep the data clean and tractable ASAP.

## 🎉   Subtasks

- [ ] Analyze data connection
- [ ] Designing a more user friendly data management/maintenance process
- [ ] Desirable: Finding a workaround to automate data management if possible
## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational link

[2021-11-12 16:15] YineisyM commented on #1089
@mafer-cordovas here's the issue to start with this task.

@GriffGreen would you be the reviewer?

[2021-11-12 16:32] mafer-labs commented on #1089
Awesome

[2021-11-12 18:26] tamarandom commented on #1064
Thanks for the enthusiasm @YineisyM to take it on. It will be a very complex and technical piece.

[2021-11-12 19:00] mafer-labs commented on #943
https://docs.google.com/document/d/1Zy8dpSNxWuwGzCfqu1mHP7r_ZzzpHoy3lPam3RzRCmQ/edit?usp=sharing

After a great discussion, I have compiled the main questions remaining to move on with the process.

[2021-11-12 20:00] phacker3 commented on #658
Aw but we were really trying to beat the record for longest unclosed issue! ... 😄 Yes, we can definitely do that! Should it be g:docs? any particular folder? happy to take it from there :)

[2021-11-12 20:01] phacker3 commented on #658
@tamarandom oops, not sure if I have to tag you but ^

[2021-11-15 09:58] Ekeneodigwe commented on #896
- Governauts Research Systems Research Initiative Post on
LinkedIn https://www.linkedin.com/feed/update/urn:li:activity:6864617749755265025
Twitter https://twitter.com/commonsstack/status/1458845420130603009?s=20

[2021-11-15 10:01] Ekeneodigwe commented on #888
Bankless Series
Twitter
-  How I got into Crypto - https://twitter.com/commonsstack/status/1458557008152518665?s=20
- What I have learnt in this Journey- https://twitter.com/commonsstack/status/1459517199949905923?s=20

LinkedIn

- How I got into Crypto- https://www.linkedin.com/feed/update/urn:li:activity:6864318699218731008
- What I have learnt in this Journey - https://www.linkedin.com/feed/upd

[2021-11-15 10:24] Ekeneodigwe commented on #895
**`Posts made this Sprint - (Mid Sprint, November 1, 2021 - 18 November**)

**Twitter**

- RTed Now we understand how to design an economy, What’s next? Programme announcement of Economics Design with Griff https://twitter.com/EconsDesign/status/1461425130500882433?s=20

- JeffEmmett's high-level overview of #PermacultureEconomics https://twitter.com/commonsstack/status/1461357431980658699?s=20

-

[2021-11-15 13:29] tamarandom commented on #899
They. Are. Ready. !!!!

[2021-11-15 13:30] tamarandom commented on #1048
I've submitted two last week. Each one brings more clarity and deeper understanding of the factors to take into consideration and consequences.

[2021-11-15 13:44] YineisyM commented on #1054
I did the edit in the Contributors Guide (the Wiki page) about Dan mentioned as a contact. I'll look at the contributor's commit but it would be in a new issue. Closing this issue.

[2021-11-15 13:44] #1054 closed, assigned to YineisyM

[2021-11-15 13:45] Ekeneodigwe opened #1090 "Distribution of The Trusted Seed POAP"
## 📋   Anything to add?

## 🎉   Subtasks

- [When it is starting]
- [How it will be distributed]
- [ ]

## 🤼‍♂️   Reviewer

@jessicazartler

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1MGp-QeI54uMfS8Sta8EcLECjfJplpPusou8o2Q6rZoM/edit?usp=sharing

[2021-11-15 13:47] YineisyM opened #1091 "Updating the CS Wiki"
## 📋   Anything to add?

Updating the Commons Stack Wiki with up-to-date content where is needed: https://wiki.commonsstack.org/.

## 🎉   Subtasks

- [ ] Check out if there are commits pending for review.
- [ ] Editing content where needed it.
- [ ] Republishing it

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-15 14:23] tamarandom opened #1092 "Jess handover doc"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@iviangita

## 🔗   Work doc - inspirational links
(Ivy has the template to share!)

[2021-11-15 14:34] #1071 closed, assigned to liviade1

[2021-11-15 14:38] mafer-labs commented on #1067
Dates: Dec 7-14
2 speakers, moderation, 30-45 min

[2021-11-15 14:54] YineisyM commented on #915
Pranav replied. He requested just 300 DAI and is figuring out how to obtain the remaining 150 DAI to activate... I suggested Pranav to write Griff about this.

[2021-11-15 15:12] tamarandom opened #1093 "Provide social media stats to roll up into a TS membership dashboard"
## 📋   Anything to add?

Attached is a google sheet that displays the stats

## 🎉   Subtasks

- [ New Followers]
- [ Impressions]
- [ Profile Visits]
- [Mentions ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
[Social Media Stats Google Sheet](https://docs.google.com/spreadsheets/d/1Io2y-ChlOegdS-rr4VFQM9RVjWzba2qmNbElW9T45HQ/edit#gid=0)

[2021-11-15 15:35] YineisyM commented on #371
Here's the current doc where we are working this task: https://docs.google.com/document/d/1uKuKG4rXciiAPsqVLhf7u_c1UldVQ-kH1XsKCH4vBJ0/edit?usp=sharing

[2021-11-15 20:12] jessicazartler commented on #1041
Heya @Ekeneodigwe - I uploaded the video to YouTube and added a description - you can use something like this for the Tweet - feel free to have a look and make some adjustments with @iviangita if you like with hashtags - thanks!

What lessons can we draw in economics from permaculture? In this lightning talk, @jeffemmett gives a high level overview of this cross-pollination - #PermacultureEconomic

[2021-11-16 09:45] tamarandom commented on #1085
Hey I tagged you in this [github issue](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/497) where a contributor in the TEC took the initiative to make such a list.

[2021-11-16 09:54] tamarandom opened #1094 "Promote highlights from our strategic partners and alliances"
## 📋   Anything to add?

@Ekeneodigwe suggested this so he can start to to promote our partners and alliances. Promotion on our #buzz in Discord, twitter, newsletter.

Let's get a list started!!

1. Blockscience
2. TEC
3. PrimeDAO
4. Token Engineering Academy
5. Governauts
6. Giveth
7. Regen
8. IXO
9. Longtail Financial
10. Boson

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   W

[2021-11-16 22:04] kristoferlund commented on #984
New project doc lives over at HackMD: https://hackmd.io/@kristoferlund/SJ5XsEbuF

[2021-11-16 23:23] jessicazartler commented on #1016
Here is the page where the CS NFTs were minted https://opensea.io/MiamiCryptoExperience?fbclid=IwAR3dRcq8clirXg6KrXYzHXuH3gtgrt7zbo1fh4VQZXvJVA4Oejt-IUdVhKk&search[sortBy]=LAST_SALE_PRICE&search[sortAscending]=false
As mentioned, we didn't sell them but I am working with Jon/Mihai of ImpactNFT Alliance to burn and remint for potentially another auction - they have two events coming up - one online

[2021-11-17 15:44] jessicazartler commented on #174
Had a call with Shaun Conway yesterday and scaffolded a series - Jeff and I will scaffold a high level article (this one needs to be broken down into a few) and aim to publish in December

[2021-11-17 17:11] tamarandom opened #1095 "ABC visual explainer or animation"
## 📋   Anything to add?

Project brief here: https://docs.google.com/document/d/16K9VltwXevEwrOckFhTx882_QcxaPMkgt-ZJVf-sCf4/edit

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-17 17:17] YineisyM commented on #1093
Hi @Ekeneodigwe! please let me know if you are interested in integrating this information into the current Data Studio report :)

[2021-11-17 17:29] YineisyM opened #1096 "Create a landing to invite people to CS Discord Server"
## 📋   Anything to add?

I'll conect with Vyvy-vi and Marko (design) to create a landing for inviting people to our Discord Server: http://discord.commonsstack.org

## 🎉   Subtasks

- [ ] Sync with Vyvy-vi and Marko
- [ ] Start the Magic

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1XqyGLYBpfZKVhRHuYyZFLYKL1fPJLsI4oq4xmNoCP24/edit?usp=sharing

[2021-11-17 18:15] YineisyM commented on #1096
Hey! Talking with Vyvy-vi he mentioned that this site https://discord.tecommons.org/ is about to be archived. However he mentioned two things related to this:

1. He can set up a website like that for Commons Stack, if we want.
2. He's working on this idea: https://file.coffee/u/V1GBsAQaPMvykR.mov and he mentioned they would be deploying an almost finished version of the TEC onboarding this weeken

[2021-11-17 19:24] mafer-labs commented on #1066
Here's the script for the info update/feedback survey: https://docs.google.com/document/d/1tfO4_U10ilNPq7NW98WCnt44qWgH5ZnEzFpHEN1Na1Y/edit?usp=sharing

You can add your comments and suggestions ✨ @tamarandom @GriffGreen @YineisyM @Ekeneodigwe

[2021-11-17 21:23] kosmostasis commented on #1026
Provided email and Typeform credentials to @mafer-cordovas and held a session with Max. Shall continue to make myself available when needed be as bandwidth permits it. 🌱

[2021-11-18 21:48] Ekeneodigwe commented on #1041
Published
Twitter

- https://twitter.com/commonsstack/status/1461357431980658699?s=20

LinkedIn

- https://www.linkedin.com/feed/update/urn:li:activity:6867133274368557056

[2021-11-18 21:50] Ekeneodigwe commented on #1041
Thanks @jessicazartler for your help on this issue.

[2021-11-18 21:50] #1041 closed, assigned to jessicazartler, Ekeneodigwe

[2021-11-18 22:03] Ekeneodigwe commented on #1065
DAOs as Purpose-led Organisations
LinkedIn

- https://www.linkedin.com/feed/update/urn:li:activity:6867203255919759361

Twitter

- https://twitter.com/commonsstack/status/1461437317512671232?s=20

[2021-11-18 22:06] Ekeneodigwe commented on #896
Unlocking Collective Intelligence: How Permaculture Economics will Save the World

Twitter - https://twitter.com/commonsstack/status/1461357431980658699?s=20

LinkedIn - https://www.linkedin.com/feed/update/urn:li:activity:6867133274368557056

[2021-11-18 22:17] Ekeneodigwe commented on #888
The last part of the bankless Series was published - LinkedIn

- https://www.linkedin.com/feed/update/urn:li:activity:6866752090065117184

Twitter

- https://twitter.com/commonsstack/status/1460975589960126471?s=20

[2021-11-19 00:32] jessicazartler commented on #1041
Thank you so much @Ekeneodigwe !!!

[2021-11-19 18:09] jessicazartler commented on #1056
@tamarandom wrote in Discord to schedule a call - thanks @mafer-cordovas for joining the call! Docs also pinned in Discord channel

[2021-11-19 19:19] YineisyM commented on #963
@iviangita I was thinking we should add the recurring calls to the new Event feature in Discord, what do you think? 🙂

[2021-11-22 11:57] Ekeneodigwe commented on #697
- Ekene will make a draft to go out on Wednesday 24th November, 2021
- Ivy will make the graphics to go with the post
- Ekene distributes the announcement thus 1 week ahead, 24 hour before and 1 hour reminder post

[2021-11-22 12:00] Ekeneodigwe commented on #1093
@YineisyM Could we touch base on the integration into the Data Studio report? Send me an invite to Ekeneodigwe@gmail.com on when works for you

Who has access to the Commons Stack Medium channel? @krisjpi could you add me or share the access with me.

[2021-11-22 12:05] Ekeneodigwe commented on #1094
Following Lauren up, her explanation covers all that we seek to do with this issue

[2021-11-22 12:12] Ekeneodigwe commented on #888
**This Sprint 22nd November to 4th of December**

- Token Engineering Commons with Griff | Public Goods Call https://youtu.be/wd5krPdr7WA?t=2985 t

- How could an Augmented Bonding Curve support a community? https://www.youtube.com/watch?v=ClEuV_CtaL4&t=81s

[2021-11-22 12:14] iviangita commented on #1024
This is @krisjpi's handover document: https://docs.google.com/document/d/1OBRmrbRr99jM_EOtWqRxMBKUo90iWbYzEcLpcUfPd_U/edit?usp=sharing - I think it needs more details and still probably lacks some relevant links - will keep following up :)

[2021-11-22 12:25] Ekeneodigwe commented on #896
**This Sprint 6th - 18th December, 2021**

- The Importance of Purpose-Driven Token Ecosystems

https://docs.google.com/presentation/d/12q1iiglZKOMrbA6mfHdO-pg1L4Lo6Ick_0QCCv9z3c4/edit#slide=id.gf836631acf_0_1120

[2021-11-22 12:25] tamarandom commented on #1026
@mafer-cordovas @YineisyM - is there any reason not to close this out now?

[2021-11-22 12:26] tamarandom commented on #590
@krisjpi 🤗    Retiring this issue with big hugs at ya! 🤗

[2021-11-22 12:26] #590 closed

[2021-11-22 12:27] tamarandom commented on #587
Retiring this issue with big hugs to you. 🤗

[2021-11-22 12:27] #587 closed

[2021-11-22 12:31] tamarandom commented on #498
Hi @dysbulic! Thank you for the suggestion and as far as I know we have not considered that as a solution.

[2021-11-22 12:33] tamarandom commented on #123
@iviangita @GriffGreen Any reason not to close this out and come back to it if/when the need arises?

[2021-11-22 12:35] tamarandom commented on #899
Closing this out. Will open a new issue for @freshelle and the coordination of plugging in the "tasks and outcomes" into the templates. @iviangita @freshelle and I will meet on Thurs to sync on it.

[2021-11-22 12:35] #899 closed

[2021-11-22 12:38] tamarandom opened #1097 "Contractor agreements for all contributors"
## 📋   Anything to add?
With the contractor agreements ready, plug in the "tasks and outcomes" into each template and have each CS Buddy have these agreements reviewed and signed.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-22 12:56] YineisyM commented on #595
I'm working this in the issue [#739](https://github.com/commons-stack/iteration0/issues/739).  I close this issue.

[2021-11-22 12:57] #595 closed

[2021-11-22 12:58] YineisyM commented on #1048
I [submitted one](https://github.com/CommonsBuild/commons-config-proposals/issues/65) last week! Yay! :)

[2021-11-22 13:07] MaxSemenchuk opened #1098 "Syncups with the team"

[2021-11-22 13:10] MaxSemenchuk commented on #1098
- Tam
- Livia
- Z
- Yineisy
- Kris
- Trusted Seed Mission & Vision w Maria, yineisy & Griff

[2021-11-22 13:10] tamarandom opened #1099 "Case study: organization/coordination"
## 📋   Anything to add?

Draft for the coordination/organization case study of the TEC

In our sync doc, it's written as: **"How work/dev/progress is organized which demonstrates X Commons Principle (PARTICIPATION & ACCOUNTABILITY)”**

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@liviade1 @GriffGreen Nate, Kelsie

## 🔗   Work doc - inspirational links

[2021-11-22 13:11] #1082 closed, assigned to MaxSemenchuk

[2021-11-22 13:12] YineisyM commented on #1026
I'm ok with this, María and I received the pending information so we can close it.

[2021-11-22 13:26] tamarandom commented on #984
Closing.... working document.

[2021-11-22 13:26] #984 closed, assigned to kristoferlund

[2021-11-22 13:32] tamarandom commented on #1039
Update: @iviangita taking this on.

[2021-11-22 13:32] #1039 closed, assigned to krisjpi

[2021-11-22 13:38] tamarandom commented on #1094
Update: use the Discord native announcements feature with these and/or other partners?

[2021-11-22 13:46] tamarandom commented on #1090
Scope:
1) send POAP to all active members (hubspot // mail merge)
2) send POAP to newly activate members (same time as swag communication)

Next steps:
Plan out the whats and hows, dates and execute.
Target to send out early Dec.

[2021-11-22 13:53] tamarandom opened #1100 "Visual explainer for Commons Stack Commons, but take away the TEC branding"
## 📋   Anything to add?

If we take away the references to TEC, this is a great explainer for what the Commons Stack Commons looks like.
https://app.gitbook.com/o/-MRe_DImEWCFDsZ_TQd2/s/-MRe_M_mUIIB11A-MQyZ/

Same for the 2-phase process:
https://app.gitbook.com/o/-MRe_DImEWCFDsZ_TQd2/s/-MRe_M_mUIIB11A-MQyZ/

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirationa

[2021-11-22 13:58] tamarandom opened #1101 "Sprint retro action: focus on Comms strategy"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-22 14:08] tamarandom commented on #722
@YineisyM Can you drop a description or sample of the report in here please?

[2021-11-22 14:20] tamarandom commented on #855
Tagging @tamarandom

[2021-11-22 14:24] tamarandom opened #1102 "Sprint board with Griff, Livia, Maria, Jess"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-22 15:05] kristoferlund commented on #1074
Done for October

[2021-11-22 17:56] mafer-labs commented on #1013
I'm working on a proposal document with all the needed information for discussion: https://docs.google.com/document/d/1M8nlOX8ymWVhCZkNCe5y-CAhlv1LadRAgCTrhnatoZU/edit#

[2021-11-22 18:27] YineisyM commented on #722
Hey I updated this issue. I added the KPIs that will be considered for the report and some objectives that will be considering... @tamarandom

[2021-11-22 23:35] jessicazartler commented on #975
I made a folder and share it with @tamarandom @iviangita @GriffGreen with reviews by myself, KrisJ and Ivy - I have asked that we complete these by the end of the month. We have been working closest with Ekene - LMK if you would like to give feedback or think we should include anyone else in this process. Griff traditionally has given the review results one on one, but I will leave it to you all.

[2021-11-23 00:08] jessicazartler opened #1103 "Kickoff & Planning for Gitcoin Grants Round 12"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Ask Peter if he's on board for this round
- [x] Schedule & attend kickoff meeting & handoff PM tasks to Peter

## 🤼‍♂️   Reviewer

@GriffGreen @tamarandom @iviangita @mafer-cordovas @YineisyM

## 🔗   Work doc - inspirational links
https://github.com/commons-stack/iteration0/issues/658

[2021-11-23 00:11] jessicazartler commented on #1016
We did not sell the NFTs at this event, awaiting info on if we can sell them at another event in Miami first week in December at Art Basil

[2021-11-23 00:12] jessicazartler commented on #1052
@YineisyM do you have this month planned? LMK if you need any support

[2021-11-23 00:12] #863 closed

[2021-11-23 08:08] Ekeneodigwe commented on #1065
Two Interactive infographics will be going out this sprint. Both would be on what the future commons will look like.

1. The Token Engineering Commons

2. TEC 2-phase process of Hatch and Commons upgrade /

**https://token-engineering-commons.gitbook.io/tec-handbook**

[2021-11-23 09:54] tamarandom commented on #1015
Here is the file @acidlazzer delivered! https://drive.google.com/file/d/1qBaH51CYnFGnm-AokxPsdQjDkbdurM1G/view?usp=sharing

[2021-11-23 09:56] tamarandom commented on #1090
Hey @YineisyM! @Acidlazzer shared this. @Ekeneodigwe approved! ;)

Here is the file that you will need to use to create POAPs and handle the distribution. https://drive.google.com/file/d/1qBaH51CYnFGnm-AokxPsdQjDkbdurM1G/view?usp=sharing

[2021-11-23 09:57] tamarandom commented on #1090
Here is the link to create POAPs, happy to help you with this part if you need. https://app.poap.xyz/admin/events

[2021-11-23 09:57] #1015 closed, assigned to Ekeneodigwe

[2021-11-23 09:57] Ekeneodigwe commented on #1015
Over now to @YineisyM for Distribution of The Trusted Seed POAP#1090

[2021-11-23 09:59] tamarandom commented on #1048
@Ekeneodigwe @YineisyM  - your turn!! :)

[2021-11-23 13:19] YineisyM commented on #1052
Hey @jessicazartler! I started the topics/structure [here](https://docs.google.com/document/d/1tU93dgmO1KgQsDzfKom0o660sf3myYdXyj6h33HHvPw/edit?usp=sharing) if you have any suggestions please let me know, maybe I'm missing something. I also added it to the comms agenda :)

[2021-11-23 17:18] jessicazartler commented on #1052
Thanks for sharing! I added a few thoughts and links - lmk if you need further support and happy to edit when you're done drafting :D

[2021-11-23 20:35] acidlazzer commented on #1090
Anything you need feel free to ask me :)

[2021-11-24 12:51] phacker3 opened #1104 "Gitcoin Grants Round 12 - Dec 1st to Dec 16th"
## 📋  LINKS & RESOURCES:
Important Links:
- [Gitcoin Promotion Templates & Timelines](https://docs.google.com/document/d/16kysuMw_rNwQ34HxOM5FNsDE6EM8Z7MHTY5TU7lEtUI/edit)
- [Ecosystem & Partnerships](https://www.notion.so/giveth/Public-Goods-Ecosystem-Accelerator-Partnerships-Funding-7c54f478955b42028625398e6a37fc09) Notion page (might be mostly old content)
- "[The CS Community Fund is Back for

[2021-11-24 21:18] YineisyM commented on #1090
Here's the doc where I'm working this issue: https://docs.google.com/document/d/1MGp-QeI54uMfS8Sta8EcLECjfJplpPusou8o2Q6rZoM/edit?usp=sharing

@tamarandom @Ekeneodigwe

[2021-11-25 13:45] #1053 closed, assigned to liviade1

[2021-11-25 14:59] Ekeneodigwe commented on #697
The first tweet announcing the AMA went out today - - https://twitter.com/commonsstack/status/1463878763435995145?t=N8UlpB_Ip0m_75UY8HJbfQ&s=19

LinkedIn -
https://www.linkedin.com/feed/update/urn:li:activity:6869709220086853632

[2021-11-25 15:03] Ekeneodigwe commented on #1094
Lauren and I stayed late into the night yesterday trying to sort out a way to bridge both announcements channels.
I am hoping to touch base with @krisjpi concerning this.
.@krisjpi when will be alright to chat?
![Screenshot_20211125-155754_Discord.jpg](https://user-images.githubusercontent.com/85419053/143464806-b36e230b-46d6-4d15-a53e-2531aa927fcc.jpg)

[2021-11-26 06:34] Ekeneodigwe commented on #1093
**Fri. Nov 19: Sprint 26: Staking**

- LinkedIn post impressions stand at 2.5k that is a 98% increase from the last sprint, 13 New Followers which is an 18% increase, 84% Unique visitors also an 18% increase and 33% button clicks

- This sprint recorded 38.2k tweet impressions,8,321 profile visits, 163 mentions and 236 New followers.

**Mid Sprint**

- 13 New followers with 2.3k post impressions o

[2021-11-26 07:02] Ekeneodigwe commented on #894
A more refined agenda on this is contained [In this issue #1094](https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/issues/commons-stack/iteration0/1094)

[2021-11-28 11:24] Ekeneodigwe commented on #1104
The Draft of

- GC Round Kick-off tweet thread
- Comms strategy running
can be found here https://docs.google.com/document/d/16kysuMw_rNwQ34HxOM5FNsDE6EM8Z7MHTY5TU7lEtUI/edit#

[2021-11-28 13:09] tamarandom commented on #658
March 2!? I think we can find longer but this was a good run!

@phacker3 gdocs is fine and no specific folder, no. We'll just want to keep track of where the doc lives and you can drop it in this issue when it's ready.

[2021-11-28 21:23] mafer-labs commented on #1066
Typeform 👉 https://the-commons-stack.typeform.com/to/btiK3NTt

[2021-11-29 10:43] phacker3 commented on #1104
Awesome Ekene!

Just a reminder for a few pre-round tasks:
- Update CV video if needed @krisjpi
- Update Medium articles @iviangita
- Draft CS Newsletter @YineisyM
- Update "CS Collection" @phacker3

[2021-11-29 11:13] Ekeneodigwe commented on #895
**Twitter**

- Clip from the Sprint Review ‘To support the newcomers into our community, we are performing a Discord audit and improving the onboarding journey of individuals joining the community.’ https://twitter.com/commonsstack/status/1465244781118951430?s=20

- Kris Decoodt speech on how the Commons Stack’s bonding curve is creating a new economy during the Paris P2P Festival #0 https://twitt

[2021-11-29 11:19] Ekeneodigwe commented on #888
**These Two Videos have been Repurposed and Published**

1. Token Engineering Commons with Griff | Public Goods Call

**Twitter**

- https://twitter.com/commonsstack/status/1463184584426807297?s=20

**LinkedIn**
- https://www.linkedin.com/feed/update/urn:li:activity:6868944934104256512

2. How could an Augmented Bonding Curve support a community?

**Twitter**

- https://twitter.com/commonsstack/st

[2021-11-29 11:42] Ekeneodigwe commented on #1093
**Mid Sprint 22 November to 28 November**

- LinkedIn post impressions stand at 2.5k that is a 55%, 20 New Followers which is an 81% increase, 84% Unique visitors also an 32% increase and 100% button clicks

- This sprint we recorded 67.7k tweet impressions,17.1k profile visits, 384 mentions and 425 New followers.

[2021-11-29 13:23] #1072 closed, assigned to liviade1

[2021-11-29 13:24] liviade1 commented on #1072
https://docs.google.com/document/d/1jcn81A6n6vrxjxW5cK1kx1tTl32XXY3z-yyfx9q2XKk/edit

[2021-11-29 13:35] iviangita opened #1105 "Define process to dish Sprint Review Praise"
## 📋   Anything to add?

First, what will the process be to dish the praise from the review call?
## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-11-29 13:43] Ekeneodigwe commented on #1094
When Announcements from Commons Stack are published it now appears on Giveth #partner-updates channel
https://discord.com/channels/679428761438912522/752178860556288001

Working on getting other Partners / Alliances to link thiers with CS

[2021-11-29 14:15] GriffGreen commented on #1056
The TS address: regen1tqcpntpntmpzm6d7xdfp07m85zgf6xhwzd06du (I control it)

[2021-11-29 14:57] #1080 closed, assigned to iviangita

[2021-11-29 14:57] iviangita commented on #1080
CLOSING! We're moving our content planning to Airtable - all set up and ready to use: https://airtable.com/appDYZgeDYeZy3do2/tblApvdjRHVHeICsw/viwwZPg2D2T9KR6Mv?blocks=hide

[2021-11-29 15:14] YineisyM commented on #1090
Hey @tamarandom @iviangita @Ekeneodigwe as I mentioned today during our the Team Sync, I would appreciate your opinions on the texts before creating the event and start with the strategy: https://docs.google.com/document/d/1MGp-QeI54uMfS8Sta8EcLECjfJplpPusou8o2Q6rZoM/edit?usp=sharing

[2021-11-29 16:52] Ekeneodigwe commented on #1065
Both have been published

**LinkedIn**

- Interactive infographics - The Token Engineering Commons https://www.linkedin.com/feed/update/urn:li:activity:6869911605606408192

**Twitter**

- Interactive infographics - The Token Engineering Commons
https://twitter.com/commonsstack/status/1464134890392375300?s=20

**LinkedIn**

- Interactive Infographic - TEC 2-phase process of Hatch and Commons upgrad

[2021-11-29 17:12] iviangita commented on #1104
Hello @phacker3! Just wanna clarify:

["The CS Community Fund is Back for GitCoin Grants Round XX"](https://medium.com/commonsstack/the-commons-stack-community-fund-is-back-for-gitcoin-grants-round-10-b82be441aed1) on Medium
["The CS Community Fund is Back"](https://medium.com/commonsstack/commons-stack-community-fund-voting-round-3-dedc0f98d495) on Medium ARCHIVE

These 2 articles look similar -

[2021-11-29 20:28] phacker3 commented on #1104
@iviangita you can skip the "ARCHIVE" one and update the other one! then let @Ekeneodigwe and @YineisyM know when it's ready because they will probably want to link this article on twitter and the newsletter :)

[2021-11-29 20:58] cranders1 commented on #658
thnx for covering @phacker3. i've done the last several GC rounds. feel free to ask any questions.

[2021-11-29 21:13] mafer-cordovas commented on #1067
Here's a draft for the flyer that can be used for the open call. I will be presenting it at the Comms call.

![Members' Spotlight (1).png](https://images.zenhubusercontent.com/61140368d41f1f02056e127f/f8b8dc2c-0982-4ecf-8cd9-e6c9fee806cd)

[2021-11-30 10:19] phacker3 commented on #658
Saved this issue here: https://docs.google.com/document/d/1w-tMH-JbWHyeEM0y64mWHM10dQyuqZ30M4Wf2p_16lA/edit?usp=sharing

And the new issue for GCR12 is here -> https://github.com/commons-stack/iteration0/issues/1104

[2021-12-01 12:55] iviangita opened #1106 "Schedule a contracts session for contributors"
## 📋   Anything to add?

This is a one-time session to explain the contracts to paid contributors - Tam will be the host 🙏

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-01 19:26] tamarandom commented on #1056
I think we can call this closed.

@jessicazartler I had a great talk with @T-Rossi today. Tagging him here to capture the regen wallet address above.

[2021-12-01 19:28] jessicazartler commented on #1056
Great! Thanks Tam - we have a call with Regen tomorrow - T/I will update you in our Discord channel after

[2021-12-01 19:39] YineisyM commented on #1104
We send today an email especially to start the voting.

[2021-12-01 19:51] ghost commented on #1056
Hi everyone! So glad to be onboard :D 🙏

[2021-12-02 19:39] Ekeneodigwe commented on #697
The AMA was a huge success, The community hall was filled and it was so interactive.
Really proud of the turn out.

Next will be the distribution

[2021-12-03 10:42] tamarandom commented on #1068
Closing. Nice work, @YineisyM !

[2021-12-03 10:42] #1068 closed, assigned to tamarandom

[2021-12-03 10:44] tamarandom commented on #845
@freshelle @iviangita and I had a sync on this and now @freshelle  is on top of coordinating the reviews and reviewers. Will rename this issue "complete the reviews" and pull it into the next Sprint.

[2021-12-03 13:34] mafer-labs commented on #1067
![Members' Spotlight (3).png](https://images.zenhubusercontent.com/61140368d41f1f02056e127f/3906221a-3f70-47e7-a130-2e17042805cd)

[2021-12-03 14:02] #1035 closed, assigned to GriffGreen

[2021-12-03 14:03] #1043 closed, assigned to GriffGreen

[2021-12-03 14:03] #1077 closed, assigned to kristoferlund

[2021-12-06 11:03] YineisyM commented on #1090
The plan for this distribution was set and is running. I just want to mentioned that we can make changes to our event, within 30 days of your start date (from Dec 1st) and after that we can't claim more codes. I'm closing this issue.

[2021-12-06 11:03] #1090 closed, assigned to YineisyM

[2021-12-06 11:25] Ekeneodigwe commented on #1093
**Sprint Friday December 3 - Pastoralism**

- LinkedIn post impressions stand at 2.5k that is a 45%, 25 New Followers which is an 177 % increase, 99 Unique visitors also an 67% increase and 100% button clicks

- This sprint we recorded 78.1k tweet impressions,19.2k profile visits, 414 mentions and 440 New followers

[2021-12-06 12:19] Ekeneodigwe commented on #888
**On this Sprint 6th December to 18th December 2021**

- Griff’s conversation with John Paller, one of the co-founders of EthDenver and Opolis on Mission critical infrastructure for DAOs- https://www.youtube.com/watch?v=sTszn9IMJQM

Repurpose some clips from Commons Stack November AMA: Bonding Curves - https://www.youtube.com/watch?v=2XPPkyolzpY&t=11s

[2021-12-06 12:31] tamarandom opened #1107 "Retrospective action: Defining the separation of the TS & CS"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-06 12:41] kristoferlund opened #1108 "Move/build swag shops x 4"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-06 12:42] #983 closed, assigned to kristoferlund

[2021-12-06 12:43] kristoferlund opened #1109 "Diagram technical architecture"

[2021-12-06 12:44] #1075 closed, assigned to kristoferlund

[2021-12-06 12:47] #1083 closed, assigned to kristoferlund

[2021-12-06 12:47] #1076 closed, assigned to kristoferlund

[2021-12-06 12:48] kristoferlund opened #1110 "Move CLSOVE swag shop"
https://cslove.commonsstack.org/#/

[2021-12-06 12:50] kristoferlund opened #1111 "Move TEC swag shop"
https://swag.tecommons.org/

[2021-12-06 12:51] kristoferlund opened #1112 "Take down the crossbrand swag shop"

[2021-12-06 12:54] kristoferlund opened #1113 "Build Giveth swag shop"

[2021-12-06 13:09] kristoferlund opened #1114 "The ID project"

[2021-12-06 13:46] YineisyM opened #1115 "Contributors Model Feedback"
## 📋   Anything to add?

The Contributors Model is almost done here on page 7: https://docs.google.com/document/d/1XqyGLYBpfZKVhRHuYyZFLYKL1fPJLsI4oq4xmNoCP24/edit?usp=sharing We should work on a GitHub model so people can contribute in our GitHub projects.

We should have an infographic of it to be added on Discord channels and update our wiki: https://wiki.commonsstack.org/contributors-guide (ac

[2021-12-06 14:38] YineisyM commented on #1093
Hey @Ekeneodigwe do you have this stats in a spreadsheet ordered by date? If so, we can add the information into the Data Studio Report 👍

[2021-12-06 15:01] Ekeneodigwe commented on #1093
No @YineisyM I do not.
Meanwhile, I remember you were supposed to help me with the Data Studio report. Whatever happened to that sync?

[2021-12-06 15:15] YineisyM commented on #1093
We can try to have it this week :) let me know what time works best for you, but basically what is needed is to have the data and the KPIs that you want to measure sorted by date so that we can create the report

[2021-12-06 16:20] YineisyM commented on #722
Hey I added this information to our current Data Studio Report. Closing this issue. @iviangita let me know if you want to add something extra, here's the link: https://datastudio.google.com/reporting/3b416db0-999c-4fca-98e7-d9f78c99c5e2 it's on page 2.

[2021-12-06 18:19] mafer-labs commented on #1013
I have added to the document the current proposals that have been discussed. The doc is open for team discussion and suggestions.

[2021-12-07 08:47] kristoferlund opened #1116 "Sign up with SiteGround"

[2021-12-07 08:47] kristoferlund opened #1117 "Setup Wordpress / WooCommerce / Payment plugin"
- [ ] Secure installation (akismet, logins, etc)
- [ ] Warning system if problem occurs
- [ ] Backups

What else to make the installation secure and stable? Read what SiteGround has to offer.

[2021-12-07 08:48] kristoferlund opened #1118 "Make a Giveth shop design / skin based on WordPress theme GeneratePress"
Skin will be simple:
- Giveth logo and colors
- Hero banner on first page

![image](https://user-images.githubusercontent.com/9698363/145208900-e4cfa70c-6068-4b95-8bb8-1c4bef4b4bc9.png)

[2021-12-07 08:50] kristoferlund opened #1119 "Implement Giveth shop design in WP shop"
## First page

![image](https://user-images.githubusercontent.com/9698363/145207988-286dc5eb-318f-4c85-8866-62003512e572.png)

- Giveth store logo
- Change to Giveth colors and fonts wherever possible
- Hero banner above products
- Hide unnecessary info (default sorting, etc)
- Set footer content
- Giveth swag shop: copy footer from https://giveth.io/

![image](https://user-images.githubuserconten

[2021-12-07 08:50] kristoferlund opened #1120 "Configure Giveth shop domain"

[2021-12-07 08:50] kristoferlund opened #1121 "Create Giveth ERC20 swag token on Rinkeby"

[2021-12-07 08:51] kristoferlund opened #1122 "Configure Printful shop for Giveth swag shop"

[2021-12-07 08:52] kristoferlund opened #1123 "Make Giveth swag designs"

[2021-12-07 09:07] kristoferlund opened #1124 "Pay for business license - payment plugin"
Plugin: https://wordpress.org/plugins/ether-and-erc20-tokens-woocommerce-payment-gateway/
Payment: https://checkout.freemius.com/mode/dialog/plugin/4817/plan/7748/

We pay for one license and plugin developer deploys contract on xDAI.

[2021-12-07 09:22] kristoferlund opened #1125 "Make a payment infographic for the payment page"

[2021-12-07 12:16] kristoferlund commented on #1013
I clarified my proposal a bit.

Simple as this:
- Jan 1 – Jun 30: Pay 450 for full year
- Jul 1 – Dec 31: Pay 225 for half year

[2021-12-07 12:23] tamarandom commented on #1013
Thank you @mafer-cordovas for wrangling this together. I added support for @kristoferlund's suggestion in the doc even though, ultimately, it's the Board that needs to approve the solution.

[2021-12-07 15:06] kristoferlund commented on #1125
Base infographic on this flow:
1. Select network
2. Connect wallet
2. Approve spending
3. Pay

[2021-12-08 12:26] kristoferlund commented on #1119
## First page

![image](https://user-images.githubusercontent.com/9698363/145207988-286dc5eb-318f-4c85-8866-62003512e572.png)

- Store logo
- Hero banner above products
- Hide unnecessary info (default sorting, etc)
- Set footer content
- Giveth swag shop: copy footer from https://giveth.io/

![image](https://user-images.githubusercontent.com/9698363/145208053-5d75fbf1-5dc6-4994-9349-ecf46a529359.

[2021-12-08 12:33] kristoferlund commented on #1118
@markoprljic, colors and logo we can snatch from giveth.io.

But, could we get a hero banner for the first page?

[2021-12-08 12:35] markoprljic commented on #1118
Yes. Can you please assign Rodri to this?

[2021-12-08 14:40] iviangita opened #1126 "CS Association"
## 📋   Anything to add?

This includes all the actions needed according to our (Ivy, Tam, Griff, Coach B) last sync
https://docs.google.com/document/d/1gv-Y-S0u6-blzEG9k1PMiLjeykOJ3vojzQbCEWkHM5I/edit?usp=sharing

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@GriffGreen @tamarandom

## 🔗   Work doc - inspirational links

[2021-12-08 14:41] iviangita commented on #1088
Work in progress -  https://docs.google.com/document/d/1ApNu01RCa9f3pFShSgNCDigXSBSpSWUP0zyPXOIX89Y/edit?usp=sharing

[2021-12-08 14:44] iviangita opened #1127 "Qualifying DAOs terms & conditions"

[2021-12-08 14:45] iviangita opened #1128 "Coach B's swag"
Coach B has received CSLOVE and SWAGTEC and has been informed of the process of claiming his swag. Will follow up if he needs help placing his orders.

[2021-12-08 16:50] iviangita commented on #1106
Done! https://calendar.google.com/event?action=TEMPLATE&tmeid=MGJlNHQwcXZyZjk2NGQ4cnJuZnJmbThrMjQgY192amRja2ZqNGJoYXJ1b3ZoZDRybW8zZHR2NEBn&tmsrc=c_vjdckfj4bharuovhd4rmo3dtv4%40group.calendar.google.com

[2021-12-08 16:50] #1106 closed, assigned to iviangita

[2021-12-08 22:14] jessicazartler commented on #1103
Everything transferred to this task https://github.com/commons-stack/iteration0/issues/1104
Closing

[2021-12-08 22:14] #1103 closed, assigned to jessicazartler

[2021-12-08 22:17] jessicazartler commented on #1005
Panel set for Friday, Dec. 10 @ 10:25am EST

Agenda for the day is now available at: https://te-academy.notion.site/DAO-Rewards-Systems-Assemblage-784e664e4496482e9ccf5982e8669afa

This event is part of the DAO Rewards Systems Initiative by TE Academy & @GovernanceDAO, @TheDAOist_, @NEARProtocol, @oceanprotocol, @GnosisGuild, @gnosisPM, @BosonProtocol, @tecmns

Zoom link: https://us02web.zoom.us/j

[2021-12-08 22:17] jessicazartler commented on #975
Heard back from KrisJ who was on holiday - he will finish before Xmas - will send all to Griff when he's finished @iviangita

[2021-12-08 22:19] jessicazartler commented on #1056
Welcome Thiago! So happy to have you :D Closing

[2021-12-08 22:19] #1056 closed, assigned to jessicazartler, mafer-labs

[2021-12-08 22:20] jessicazartler commented on #1016
Follow up call with Jon with ImpactNFT Alliance scheduled for tomorrow

[2021-12-08 22:34] jessicazartler commented on #588
@freshelle @GriffGreen @tamarandom November submitted https://trace.giveth.io/trace/jess-milestone-for-communications-and-ecosystem-development
Thank you 🙏

[2021-12-09 15:48] jessicazartler opened #1129 "Gitcoin Twitter Space - Host & Invite Panelists"
## 📋   Anything to add?

Gitcoin Grant Twitter Spaces on Monday week, 10am EST / 4pm CET
Talking points will include but not limited to how Gitcoin rounds has contributed to incentivising Public goods, Accountability of projects under the commons Stack Ecosystem  and a guide on how to vote
The Idea of Monday is to give us three days to gather last minute votes

## 🎉   Subtasks

- [x] Invite Joe &

[2021-12-09 18:19] mafer-labs commented on #943
First typeform draft!
https://the-commons-stack.typeform.com/to/TvE12wFx

[2021-12-09 19:31] mafer-labs commented on #1067
New date added 🥳 Dec 21

[2021-12-09 19:41] kristoferlund opened #1130 "Configure WP email sender address"
- Ideally we would like the sender to be a verified giveth address.

We don't want it to look like this in the users inbox:
![image.png](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/ccde5d62-1703-4341-945e-872102bb2a5d)

[2021-12-09 19:45] #1121 closed, assigned to nobody

[2021-12-10 08:41] kristoferlund opened #1131 "Giveth shop meta tags and social share cards"
A share image needs to be produced and metatags / description needs to be set.

Verify everything looks good here:
- https://www.heymeta.com
- https://cards-dev.twitter.com/validator

[2021-12-13 09:06] kristoferlund opened #1132 "Configure gLove recipient address in WP"
Who / which address receives the Rinkeby gLove payment?

Setting at: WooCommerce / Settings / Payments / Pay with Ether

[2021-12-13 09:11] kristoferlund opened #1133 "Give email template some Giveth love"
Make sure the emails sent from the store look good.
- Giveth logo
- Colors
- Texts
- Footer text: Additional Giveth info?

Setting at: WooCommerce / Settings / Email

[2021-12-13 09:51] kristoferlund opened #1134 "Configure WP store size guide settings"
Set Giveth colors

![image.png](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/938e3497-fb5d-4d66-83ef-131a933cc8e0)

[2021-12-13 12:26] kkatusic commented on #1130
We have two option here, you can add true email address like info@kristoferl.sg-host.com because Gmail knows that you didn't send that email message from that address.
Second option is to create one mail address: info@shop-example.com and add SMTP protocol to wp_mail() function.

[2021-12-13 12:53] #1109 closed, assigned to kristoferlund

[2021-12-13 12:54] #1116 closed, assigned to tamarandom, kristoferlund

[2021-12-13 12:55] kristoferlund opened #1135 "Make more detailed specs for Rodri"
- Functional specs
- Wireframes

[2021-12-13 13:28] YineisyM opened #1136 "Invite participants from the past event presented by the Governauts, The DAOist and TE Academy to Discord"
## 📋   Anything to add?

## 🎉   Subtasks

- [x] Invite participants from the past event presented by the Governauts, The DAOist and TE Academy to Discord.
- [x] Praise them for their participation.

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://te-academy.notion.site/DAO-Rewards-Systems-Assemblage-784e664e4496482e9ccf5982e8669afa

[2021-12-13 16:12] mafer-labs opened #1137 "See if the Commons Stack or Trusted Seed qualifies to be part of the Digital Public Goods Alliance"
## 📋   Anything to add?
There are some structures and legal things to be part of this great alliance. Let's see if we can apply to be part of in a near future. It can be also a great exercise to see our status as public good organization.
## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://digitalpublicgoods.net/

[2021-12-13 16:24] kkatusic commented on #1117
@kristoferlund about security. We can implement Wordfence or WP Security Pro for preventing some brutal force attack to login pages. I disabled commenting in setting in administration, disabled also Theme Editing via administration and added htaccess file to "uploads" directory to prevent executing any php code. My advice is to implement these plugin only after we finish, better say Rodin make cha

[2021-12-13 16:35] kkatusic commented on #1119
I will write here in comment which file contains which change:

- Counter in main navigation in "Cart" link. "Cart" link has been defined with custom class via administration: `cart-main-link` on link `http://kristoferl.sg-host.com/wp-admin/nav-menus.php` logic is in file: `wp-content/themes/generatepresschild/inc/woocommerce/woocommerce-number-items-cart.php`
- Hidden sorting via css file: `wp-co

[2021-12-13 17:36] tamarandom commented on #1126
@iviangita this should also go on the list for approval by the board. It is the change to the membership terms. https://docs.google.com/document/d/1M8nlOX8ymWVhCZkNCe5y-CAhlv1LadRAgCTrhnatoZU/edit
It looks like there is agreement to recommend #4 but @mafer-cordovas will confirm!!

[2021-12-14 10:28] phacker3 commented on #1104
Hey all - just wanted to check in on some of these tasks since the round is already ending on Thursday (❗🤯❓). The main thing right now is confirm the CV dApp is closed (@krisjpi) and make a final push for donations in $PAN (@iviangita & @Ekeneodigwe) there are only 2 more days to donate!!

**Due ASAP**
- Update Commons Stack GitCoin Grant Thank You before round ends @krisjpi
- Close CS CV dApp @kr

[2021-12-14 13:00] tamarandom commented on #1062
Calling this closed!
https://medium.com/commonsstack/the-augmented-bonding-curve-part-1-a-web3-way-to-fund-public-goods-7c9d1a871ae2?source=collection_home---4------0-----------------------

[2021-12-15 12:45] kristoferlund commented on #1130
The final domain will be swag.giveth.io. Would the best idea be to have an address like: noreply@swag.giveth.io?

[2021-12-15 14:21] kristoferlund opened #1138 "Custom thank you page"
When payment is done, the user should be redirected to a custom page with a nice and friendly thank you message.

https://www.tychesoftwares.com/how-to-customize-the-woocommerce-thank-you-page/

[2021-12-15 14:26] #1132 closed, assigned to nobody

[2021-12-16 11:54] kristoferlund commented on #1117
@kkatusic Backups on SiteGround seems sufficient. We use the "hosting plan".

And I agree, let's look at security after the rest of the issues etc are done.

[2021-12-16 12:26] kristoferlund opened #1139 "Dashboard - Connect wallet"
## Details
- The dashboard is chain agnostic. The main dashboard page should accept user connecting no matter what chain connected to.
- Components that need on chain interactions on a certain chain are extracted and given a subpage.
- The `Connect wallet` button has four potential states:
  1. Connect wallet
  2. Initialising…
  3. Wrong network
  4. Connected (show eth address and jazzicon)
- Ch

[2021-12-16 13:28] kristoferlund opened #1140 "Important messages at the top of the Dashboard"
This section represents the most important information we want the user to know. Upcoming desired actions, links to blogs, tweets, etc.
Examples:
- Participate in governance…
    - "Don't forget to join this and that vote that begins on date xxx"
- Read this Medium article…

### Details
- Netlify CMS for publishing

### UI
- Header
- Text
- Image/Icon
- Link
- Link text (Read / Vote / etc)
-

![im

[2021-12-16 13:50] kristoferlund opened #1141 "Membership details"
## Details
- See [main project doc](https://fmckl.notion.site/Trusted-seed-dashboard-2757f8bf9fa441d4bdd5b0f620e85c0e) for details about membership, paid date and expiration.

## UI states
### 1. Not connected:
  - Heading: "Membership details"
  - Message: "Connect wallet to view your details "

### 2. Connected, not member
  - Clear call to action!
  - Heading: "Membership details"
  - Message:

[2021-12-17 11:33] #1050 closed, assigned to liviade1

[2021-12-17 12:34] liviade1 opened #1142 "Make a work agreement for Carol"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1s5jOgOhfJRQqhmQ4AsmTRiSM-4lav2kVmz4RmYhRoVQ/edit#heading=h.867jnajamjx2

[2021-12-17 12:34] liviade1 opened #1143 "make a work agreement for Juank"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1z1sO4wJQSNrgt4c_bR-LZaV0pjG35JI2KvWAy_EC9QE/edit#heading=h.867jnajamjx2

[2021-12-17 13:23] ghost opened #1144 "Build a definition for the Regen Partnership in 2 paragraphs"

[2021-12-17 14:13] tamarandom opened #1145 "OPEN FOR CONTRIBUTORS: Translation of Commons Stack articles"
## 📋   Anything to add?

✅ Are you looking for something to contribute to Commons Stack?
✅ Want to volunteer and get rewarded with Praise/CSTK?
✅ Do you speak other languages?

This issue is open to anyone who wants to get involved in our community by translating some of our evergreen content pieces, which will be added to our Content Map or Medium page.

By participating in this task, you will be

[2021-12-17 17:04] kkatusic commented on #1138
Page that visitor make payment via MetaMask or some other wallet is **_Thank You page_**: https://skitch.kkatusic.com/thankyou_276CF9C6.png .

Now we have two option, add custom div with thank you elements and change that after payment is done, hide other elements and show hidden. Or we can redirect user to fresh new page with thank you message.

I don't know if transaction process provide some va

[2021-12-18 18:29] kristoferlund commented on #1138
Ah, ok. Is it possible to detect the completed payment somehow, hide payment instruction and wallet stuff and instead show custom message?

![image.png](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/0c93f52c-8310-4e0a-af68-7f844a83d935)

[2021-12-18 19:29] kkatusic commented on #1138
I know how WooCommerce works on this step, it's last step of order. Plugin that make payments, or better say that provide some checkout do some stuff on this last page. There isn't any JS code provided by WooCommerce :(

We can only catch some JS variable if it is available after **Ether and ERC20 tokens WooCommerce Payment Gateway** do its job. But we don't know if that variable exist, we can ask

[2021-12-20 05:28] iviangita commented on #1049
@freshelle is currently on top of this issue and making progress :)

[2021-12-20 08:51] kkatusic commented on #1117
@kristoferlund, who besides us still use WP administration? We can change login URL to avoid attacks on wp-login.php?

[2021-12-20 13:14] tamarandom commented on #1048
Calling it done!

[2021-12-20 13:14] #1048 closed, assigned to tamarandom, kosmostasis, krisjpi, jessicazartler, Jeff-Emmett, liviade1, iviangita, Ekeneodigwe, mafer-labs, YineisyM

[2021-12-20 13:14] tamarandom commented on #1102
Closing.

[2021-12-20 13:14] #1102 closed, assigned to tamarandom

[2021-12-20 13:15] #1009 closed, assigned to mafer-labs

[2021-12-20 13:17] liviade1 opened #1146 "cadCAD bootcamp"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-20 13:18] tamarandom opened #1147 "Supporting the TEC through Phase 2 to the Commons Upgrade"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-20 13:18] liviade1 opened #1148 "gather learnings from reward system research group presentations"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-20 13:18] mafer-labs commented on #1009
This issue passes to this issue https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/issues/commons-stack/iteration0/1013

[2021-12-20 13:18] iviangita commented on #1128
His swag is in transit :)

[2021-12-20 13:18] #1128 closed, assigned to iviangita

[2021-12-20 13:20] Ekeneodigwe commented on #1065
**This Sprint 20th December 2021 - 3rd January 2022**

This diagram displays where the Anti-Sybil Operationalized Process (ASOP) fits into the larger GitcoinDAO ecosystem.

https://link.medium.com/Vm6IxHZb0lb

[2021-12-20 13:21] mafer-labs commented on #1066
Will be rolled out at the beginning of next year due to hubspot email limit.

[2021-12-20 13:23] mafer-labs opened #1149 "Close the year with no pending burns nor reminting cases"
## 📋   Anything to add?
We have 2 pending burns and 1 reminding case.
## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@GriffGreen

## 🔗   Work doc - inspirational links

[2021-12-20 13:26] iviangita opened #1150 "Twitter Space - checklist and demo"
## 📋   Anything to add?

## 🎉   Subtasks

**CHECKLIST**

- [Prepare Topic of discussion / Sesh] Tam/ Ekene)

- [Add to CS public calendar with all of the necessary links]  (Ivy)

- [Invite Panelists, Confirm their availability ]  (Ekene)

- [Make graphic]  (Ivy)

- [Schedule Tweets ]  (Ekene) - 1 week announcement notice, 24 hour reminder tweet and I hour get ready post

- [ Promote in channels ]

[2021-12-20 13:28] liviade1 opened #1151 "review collab economics article"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links
https://docs.google.com/document/d/1Xna_f4Co_vP95Xifr9aWXA8xEo5Ye-Ndep4TXjAi7v0/edit?usp=sharing

[2021-12-20 13:29] tamarandom opened #1152 "Article: Collaborative Economics finish drafting/editing"
## 📋   Anything to add?

Status: currently in Draft
Next steps:
- finish draft to be ready to publish

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-20 13:30] mafer-labs opened #1153 "TS Spreadsheets' Hack Sessions"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-20 13:35] tamarandom commented on #1024
Closing.

[2021-12-20 13:35] #1024 closed, assigned to iviangita

[2021-12-20 13:35] #1026 closed, assigned to mafer-labs

[2021-12-20 13:44] tamarandom commented on #1105
Can we have a generic "Commons Stack" account dish praise instead of Ivy or Algene?

[2021-12-20 13:55] mafer-labs opened #1154 "Work Agreement w/ Thiago"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-20 14:02] tamarandom commented on #697
Need date and theme. Talking about skipping the Dec AMA (with so few ppl around) and doing first or second week of Jan.

[2021-12-20 14:10] iviangita opened #1155 "Credentials Management"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-20 14:11] #797 closed

[2021-12-20 14:22] tamarandom commented on #1078
Closing. @rodricastillo9013 finished!

[2021-12-20 14:22] #1078 closed, assigned to iviangita

[2021-12-20 14:23] iviangita commented on #1078
Done! https://docs.google.com/presentation/d/12qjkgksrkxwzyHuT3UVu1-s92J5kPs2BxxC6VFvhbh0/edit?usp=sharing

[2021-12-20 14:23] #1129 closed, assigned to jessicazartler

[2021-12-20 14:23] tamarandom commented on #1129
Done & closing. We learned a lot from the experience.

[2021-12-20 18:39] YineisyM opened #1156 "POAP 1:1 contact"
## 📋   Anything to add?

Contacting 1-1 the members that haven't claimed their POAP.

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-21 05:46] MaxSemenchuk opened #1157 "Trusted Seed OKR"

[2021-12-21 09:10] #1134 closed, assigned to nobody

[2021-12-21 09:13] kkatusic commented on #1138
We manage to add redirect after payment, but we have left that out for now because payment issue with ETH plugin.

[2021-12-21 09:16] kkatusic commented on #1130
Excellent we will use that email address, I changed it on this link **/wp-admin/admin.php?page=wc-settings&tab=email** if someone wants to make further changes.

[2021-12-21 09:16] #1130 closed, assigned to kkatusic

[2021-12-21 09:24] kkatusic commented on #1131
Added Yoast SEO plugin to manage metatags and description, every product, page, post and category now have these options: https://skitch.kkatusic.com/yoast_2771D47E.png , change what you need.

[2021-12-21 09:24] #1131 closed, assigned to nobody

[2021-12-21 09:29] kkatusic commented on #1133
We set up colors, logo. Everything about this you can change on this link `/wp-admin/admin.php?page=wc-settings&tab=email`.

[2021-12-21 20:21] kristoferlund commented on #1133
Great!

[2021-12-21 20:21] #1133 closed, assigned to nobody

[2021-12-21 20:23] kristoferlund commented on #1138
Closing because of plugin switch.

[2021-12-21 20:23] #1138 closed, assigned to kkatusic

[2021-12-21 20:25] #1118 closed, assigned to rodricastillo9013

[2021-12-21 20:25] #1119 closed, assigned to kkatusic

[2021-12-21 20:27] kristoferlund commented on #1120
DNS for swag.giveth.io has been delegated to SiteGround, see this article for reference:

https://serverfault.com/questions/764006/can-a-different-dns-server-be-used-for-subdomains/764013

Closing.

[2021-12-21 20:27] #1120 closed, assigned to nobody

[2021-12-21 20:35] kristoferlund commented on #1122
Done.

[2021-12-21 20:35] #1122 closed, assigned to nobody

[2021-12-21 20:35] #1125 closed, assigned to nobody

[2021-12-21 20:36] kristoferlund commented on #1124
Closing. We are using another plugin.

[2021-12-21 20:36] #1124 closed, assigned to nobody

[2021-12-23 13:52] Ekeneodigwe commented on #895
**29th November -2nd December
Twitter**

- Gitcoin Round 12 Announcement and a tweet thread of projects within the CS Ecosystem https://twitter.com/commonsstack/status/1466384068422086656?s=20

- AMA 1 hour Announcement Call https://twitter.com/commonsstack/status/1466061711463620613?s=20

- RTed Griff’s quoted tweet of the AMA https://twitter.com/thegrifft/status/1466008729351036928?s=20

- RTed

[2021-12-23 20:22] mafer-labs commented on #1149
https://blockscout.com/xdai/mainnet/tx/0x49df70d0d23cb38432ddf8c4e9d7673f50a6591eb7aeac764d6bbfc17be1a7b7

https://blockscout.com/xdai/mainnet/tx/0x9941cdb326468d653aa4550ea4cc5e100630d96125747d5fe7224ff82cfeb923

Both pending burns were executed successfully and registered on the burn-log: https://wiki.commonsstack.org/transparent-log-of-burn-events

Notification to the ex-members is the next ste

[2021-12-23 20:23] mafer-labs commented on #653
Updated 2 burn cases: https://wiki.commonsstack.org/transparent-log-of-burn-events

[2021-12-23 20:24] mafer-labs commented on #653
The pending re-mint will be left for next year after the praise quant.

[2021-12-27 12:37] mafer-labs commented on #1067
At the end we had Dec 7th - Dec 14th.

Participants:
Mettodo - NJombe Innovation Academy & Greens for Good
Innov8tor3 - PrinterNet Africa

@iviangita suggested for the next year to have Members' Spotlights every sprint (Bi-weekly). Leave the space open so members can ask to showcase anytime. That's why I'm changing this issue's name to officially Members' Spotlight call 🥳

[2021-12-27 13:48] mafer-labs opened #1158 "Membership Termination Process"

[2021-12-27 13:51] #1158 closed, assigned to mafer-labs

[2021-12-27 13:57] mafer-labs opened #1159 "Membership Termination Process"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2021-12-28 16:15] mafer-labs commented on #1149
Former members were notified via email. Thanks to @iviangita @tamarandom @GriffGreen for their feedback on the email template.

A video call was offered to the former members to appeal the decision, let's see if they decide to go for it.

A new issue to determine a proper process has been created.  https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/issues/commons-st

[2021-12-28 16:21] mafer-labs commented on #939
@kristoferlund we found a problem while updating the JSON. I will reach out for support.

The issue is that the JSON is not applying changes and it deletes the modification history.

[2021-12-30 16:06] iviangita commented on #1127
In progress: https://docs.google.com/document/d/1miRmbXaXOMgOgUJWkAzXp1AE1B31BzULMSMnW_Q2SMo/edit?usp=sharing

[2022-01-03 13:09] Ekeneodigwe commented on #1104
Could we close this issue @phacker3? I am guessing we have checked out all that was listed

[2022-01-03 13:09] #1151 closed, assigned to liviade1

[2022-01-03 13:09] #1062 closed, assigned to GriffGreen

[2022-01-03 13:13] Ekeneodigwe commented on #697
Thinking It is time, we start brainstorming on what the theme and time for the Jan AMA would be

[2022-01-03 13:15] iviangita opened #1160 "Weekly Twitter sessions"
## 📋   Anything to add?

Review and hack on tweets every week

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2022-01-03 13:16] GriffGreen opened #1161 "Reevaluate the Discord server for areas of improvement"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

## 🔗   Work doc - inspirational links

[2022-01-03 13:17] #1114 closed, assigned to kristoferlund

[2022-01-03 13:17] #1113 closed, assigned to kristoferlund

[2022-01-03 13:17] Ekeneodigwe commented on #1093
Started a process of moving these stats to an excel sheet then transmitting same to the Dashboard, hoping to conclude this transition by the end of the sprint

[2022-01-03 13:18] #1081 closed, assigned to kristoferlund

[2022-01-03 13:19] kristoferlund opened #1162 "Seal the deal with RaidGuild"

[2022-01-03 13:20] kristoferlund opened #1163 "Perform the Praise trial quant!"

[2022-01-03 13:21] GriffGreen opened #1164 "Make a plan for getting funding for our work from the GIVgarden"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2022-01-03 13:21] GriffGreen opened #1165 "Begin planning out the strategy for Commons after the TEC"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2022-01-03 13:21] liviade1 opened #1166 "ostrom's metrics for commons success in a forum post"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2022-01-03 13:22] kristoferlund opened #1167 "Finish Praise backend/frontend"

[2022-01-03 13:23] #1149 closed, assigned to mafer-labs

[2022-01-03 13:24] GriffGreen commented on #1166
From R&D for OKRs!

Will have a few metrics for each principle in a forum post.

[2022-01-03 13:24] mafer-labs commented on #1013
Pending: let's rock the vote! (board)

[2022-01-03 13:25] GriffGreen commented on #1146
Signing up for the bootcamp!

[2022-01-03 13:26] GriffGreen commented on #1146
Attending classes

[2022-01-03 13:27] mafer-labs commented on #920
This issue passes to be part of the dashboard development.

[2022-01-03 13:27] #920 closed, assigned to mafer-labs

[2022-01-03 13:28] GriffGreen commented on #1148
Lots of great insights and the rewards system working group in the form of a forum post

[2022-01-03 13:29] GriffGreen commented on #995
Push! Support Nate and Carole to get things ready. goal would be to get Nate's ready for a draft for review.

[2022-01-03 13:30] mafer-labs opened #1168 "Fix ts_members.json on github"
## 📋   Anything to add?
The JSON is not applying changes and erases the modification history.
## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@mafer-cordovas

## 🔗   Work doc - inspirational links

[2022-01-03 13:30] GriffGreen opened #1169 "Designing part 3 of the rewards system research group w/ ygg"
## 📋   Anything to add?

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2022-01-03 13:31] GriffGreen commented on #1169
Will be done at the end of feb

[2022-01-03 13:32] GriffGreen commented on #975
Review call on the 11th

[2022-01-03 13:33] GriffGreen commented on #1127
Will present the document to board members

[2022-01-03 13:34] kristoferlund opened #1170 "TS Dashboard Figma prototype"

[2022-01-03 13:35] GriffGreen opened #1171 "Review the underwriting agreement doc"
## 📋   Anything to add?

See #1088

## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2022-01-03 13:35] ghost commented on #1144
Scheduling a sync w/ Austin + Regen folks for this week

[2022-01-03 13:35] GriffGreen commented on #1155
Sched a time with Tam and Griff

[2022-01-03 13:39] GriffGreen commented on #828
Griff will add Algene you our board, and Ivy to onboard Algene to the work

[2022-01-03 13:42] GriffGreen commented on #123
Coach b has one... is our accounting good enough without it?

[2022-01-03 13:43] GriffGreen commented on #123
Confirm with coach b i we need to hire a bookkeeper...
https://docs.google.com/spreadsheets/d/1Na8WorvC6ZkFsML4g1jTsIVw9ahMnbDwEv7azhx0dTI/edit#gid=1795715770

[2022-01-03 13:47] GriffGreen commented on #1167
For MVP version - will be able to do the trial quant

[2022-01-03 13:50] GriffGreen commented on #1162
Have a "signed" agreement with raid guild

[2022-01-03 13:50] GriffGreen commented on #1135
Making lots of Github issues :-D

[2022-01-03 13:53] Ekeneodigwe opened #1172 "Content planning - Monthly Themes"
## 📋   Anything to add?

## 🎉   Subtasks
-

- [ January was themed The Research month, therefore we listed partner  organisations that we will like to highlight their works, scheduled them between the weeks and stratgegically defined  how we intend to curate / Create and distribute their contents , Check the January link below ]

- [ February is the Commons Month, like January we are making a list

[2022-01-03 13:54] GriffGreen commented on #1108
Post a plan on the Giveth Forum to request funding...

[2022-01-03 13:56] #1123 closed, assigned to nobody

[2022-01-03 13:56] GriffGreen commented on #1093
WIll have an excel at the end of the sprint

[2022-01-03 14:00] kristoferlund commented on #1117
@kkatusic Could you do this rename of the login URL? This is the last issue I have for the Giveth shop.

[2022-01-03 14:01] GriffGreen commented on #1172
Jan is Research month - https://docs.google.com/document/d/1QDRJhWM2sg4VaOCFvS5L6LbTEJQRqfralXCH6a0p_Fw/edit

Feb will be Commons Month

At the end of this sprint we will know what done looks like for this issue:

**Update** this has so far provided so much clarity and guidance on how The Commons Stack interfaces with partners

[2022-01-03 14:02] GriffGreen commented on #1150
Make a google template like we have for gitcoin rounds

**Update:** The google template is ready and has also been shared with the team

[2022-01-03 14:04] GriffGreen commented on #1104
I still need to send out the PAN for the Commons Stack Community Fund

[2022-01-03 14:08] GriffGreen commented on #1144
Sent email today... will make a roadmap based on the doc Jess made.

[2022-01-03 14:09] #1036 closed, assigned to GriffGreen

[2022-01-03 14:13] GriffGreen commented on #1159
Will be published on the wiki and a notion for internal use

[2022-01-03 14:15] GriffGreen commented on #1066
Will send out email

[2022-01-03 14:15] GriffGreen commented on #1154
Work with freshelle to finish it after the buddy call

[2022-01-03 14:16] GriffGreen commented on #1067
will happen at the end of the sprint

[2022-01-03 14:19] GriffGreen commented on #943
Closing in favor of #1127

[2022-01-03 14:19] #943 closed, assigned to iviangita, mafer-labs

[2022-01-03 14:43] Ekeneodigwe commented on #697
- Ekene will make a draft to go out on Wednesday 5th January, 2021
- Ivy will make the graphics to go with the post
- Ekene distributes the announcement 24 hour before and 1 hour reminder post

---- Griff will reach out to Sam, Mitch & Lauren. Theme is Giveth & Commons Stack
AMA is on Friday Jan 7, 5pm CET

[2022-01-03 15:30] mafer-labs opened #1173 "Mailchimp backup account for marketing emails"
## 📋   Anything to add?
Create a Mailchimp account for possible issues or email limits on hubspot. Account originally created to send GIVdrop email to TS members.
## 🎉   Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍♂️   Reviewer

@

## 🔗   Work doc - inspirational links

[2022-01-03 15:30] #1173 closed, assigned to mafer-labs

[2022-01-03 15:46] kkatusic commented on #1117
@kristoferlund no problem, new URL is: https://swag.giveth.io/loginme , if someone try to open old login URL she will get 404.

You can always change custom login URL on this link: https://swag.giveth.io/wp-admin/admin.php?page=login-settings

[2022-01-03 17:17] jessicazartler commented on #975
Sent my review to @GriffGreen @tamarandom @iviangita and will poke @krisjpi to let him know of the meeting/deadline - he had said he is willing/wanted to give feedback - thank you and please let me know if you have any questions :D

[2022-01-03 17:34] jessicazartler commented on #1092
Heya @tamarandom @iviangita just wanted to check in to see if there is anything in particular that could be helpful further? I am STILL finishing some backlog tasks, everything in Github - handed off the Regen partnership and will still be supporting that for some time... Just finished Ekene's review - any thing else that could be helpful for you ? Let me know, happy to draft something - otherwise

[2022-01-03 17:37] jessicazartler commented on #1016
Still communicating with Jon to see if there are any follow up events we could sell these at since they were not successful at Miami... Jon did not remint for Art Basil as they were too busy... so we just have these awesome works that we could do something with... due for a follow with DoinGood (NFT platform) and still talking with Jon about our Stamets projects so will keep poking and see if ther

[2022-01-03 17:37] #1016 closed, assigned to jessicazartler

[2022-01-03 17:43] jessicazartler commented on #655
The Seed token price went down ALOT before we get everything submitted (Reiki is SUPER busy also and was hard to get his attention to support us in this process).. I talked with Julio Holon but he said to approve anything in the realm of 25k it would have to be more like an advisory project for governance that would require a lot more CS resources. We could re-open this with another Julio discussi

[2022-01-03 17:43] #655 closed

[2022-01-03 21:02] mafer-labs commented on #1140
I will be taking over for this component.

[2022-01-03 23:42] jessicazartler commented on #714
@iviangita was FINALLY able to get the Trusted Seed Spotlight #5 final edits done -- for now, I've uploaded it to YouTube as unlisted until you give the thumbs up. It's quite longer than normal as it's Zargham 😄 but it's a good mix of Zargham going deep in the wormhole of token engineering, getting philosophical and human - as he introduces his dog 😄 so I didn't cut too much...
https://www.youtube

[2022-01-05 00:35] GriffGreen commented on #714
Yay! Will watch this weekend for sure!

[2022-01-05 00:36] GriffGreen commented on #697
I got Confirmation from the whole Giveth Team, we will be all together for the call in one room ;-D It will have Ashley too: https://twitter.com/WhyldW

[2022-01-05 14:39] mafer-labs commented on #1067
- [x] create a typeform to receive the interested proposals

[2022-01-05 14:55] iviangita commented on #608
Thank you @YineisyM @mafer-cordovas for taking this on, I added the links in the description above :)

[2022-01-05 16:54] GriffGreen opened #1174 "Get the Trusted Seed on this Airdrop Tool"
https://mirror.xyz/droplist.eth/YD7rh__n4__XAljW40FKDf64QLCi0M1pFu3LF_4Bob4

They are friends of friends... keep me in the loop and use my social capital... but i need someone else to carry the flag

@YineisyM @mafer-cordovas who wants it :-D?

[2022-01-05 17:43] mafer-labs commented on #1174
Chris Cyphert, who is a TS member, is also the founder of DropList. I have talked to him and he is happy to have CS, TS, Giveth, and TEC onboard! 🥳

Will follow up with him to learn the enrollment process in detail. @GriffGreen

[2022-01-06 13:38] Ekeneodigwe commented on #697
The First Announcement of January AMA has been made

- https://twitter.com/commonsstack/status/1478698906582138880?s=20

- https://www.linkedin.com/feed/update/urn:li:activity:6884828685652779008

Tam has also confirmed that she will be available to moderate the session

[2022-01-06 14:00] iviangita commented on #828
Done with onboarding! Thanks for taking this on @missgene :D

[2022-01-07 09:16] Ekeneodigwe commented on #888
This research month we started off with the Trusted Seed Spotlight of Dr. Michael Zargham - https://youtu.be/84BZpe3l5pw

Posted on Twitter https://twitter.com/commonsstack/status/1479336935562825729?s=20

[2022-01-08 22:49] mafer-labs commented on #1174
what we would need for the start:
- token standard (one of erc20/erc721/erc1155)
- title for the community
- description of the community
- chain id
- links to your website & social links

Based on this, we would set up a subgraph, to track all token holders and tokens

@GriffGreen

[2022-01-09 21:19] alipostaci2001 commented on #1145
a- The Augmented Bonding Curve, Part 1: A Web3 Way to Fund Public Goods

translated it in turkish

https://docs.google.com/document/d/1R-eEbjJFolgPPvqPwtcpzu1Zj_IOqZRI0mQ50BQBHI4/edit?usp=sharing

let me know if there is any missing or error

[2022-01-10 10:10] Ekeneodigwe commented on #895
**6th December - 13th December - Mid sprint**

- Commons Stack Ecosystem Twitter Spaces https://twitter.com/commonsstack/status/1470395281623691266?s=20

- RTed Jessica Zartlar’s Happening now Announcement of  #DAOs, rewards systems & governance, come hang out w/ @tokengineering https://twitter.com/JessicaZartler/status/1469278316934926340?s=20

- A look back at Round 11 results to see this sybil-

[2022-01-10 13:20] #1098 closed, assigned to MaxSemenchuk

[2022-01-10 14:25] #1142 closed, assigned to liviade1

[2022-01-10 14:47] Ekeneodigwe commented on #697
The Distribution was on

-

Twitter https://twitter.com/commonsstack/status/1480531683980062726?t=K-ai7JmNUREBTsP4evQbHw&s=19

- LInkedIn https://www.linkedin.com/feed/update/urn:li:activity:6886315078367358976

[2022-01-10 15:47] YineisyM commented on #1153
This issue is the same that [#1089](https://github.com/commons-stack/iteration0/issues/1089). Mafe I think we should close this one but let me know if it's ok.

[2022-01-10 18:25] #1156 closed, assigned to YineisyM

[2022-01-10 18:31] YineisyM opened #1175 "Weekly email to new members for claiming their POAP"
## 📋   Anything to add?

Select the "Trusted Seed Commons Stack POAP🌱 (Send to more)" email and send it to the new members.

## 🎉   Subtasks

- [ ] Add the link to be claimed in the field used as token (or import a list)
- [ ] Click the "Trusted Seed Commons Stack POAP🌱 (Send to more)" email and by using the option "send to more" add the contacts that should received the email.

## 🤼‍♂️   Reviewer

[2022-01-11 09:33] kristoferlund opened #1176 "Landing page"
The purpose of this landing page is to get people to join. If we need to push other messages we can create more landing pages.

- Describe the trusted seed, its reason to exist.
- What is the Trusted Seed about?
- Why is this important?
- Why should you care?
- Why should you join?
- JOIN!
- Exemplify by listing some notable people and projects.
- Hint with benefits without promising airdrops.

So

[2022-01-11 09:53] kristoferlund opened #1177 "Total member count"
Simple fact box showing the total number of Trusted Seed members.

## Details
- Number of members = number of CSTK token holders.

## Questions
- **How do we retrieve the member count?**
  - A subgraph?

## Wireframes
![image.png](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/b51bd7a8-6448-4238-a221-6aa35ac4aee5)

[2022-01-11 12:08] kristoferlund opened #1178 "My CSTK / Total CSTK supply"
Graph showcasing how your CSTK score has grown over time as well as total CSTK supply.

## Details
- Button/tab to switch between "My CSTK" and "Total CSTK Supply".
- Content fetched from subgraph

## Open questions

## Wireframes

![image](https://user-images.githubusercontent.com/9698363/155306411-ce631526-1aec-4216-ac4c-a515c1302f11.png)

## Inspiration

![image.png](https://images.zenhubuserco

[2022-01-11 12:19] kristoferlund opened #1179 "CSTK Score"
## Details
- Heading: "CSTK Score"
- Optional message: "Want to know how to increase your CSTK score?", links to popup, GitBook or separate webpage.

## UI States:
### 1. Not logged in:
- Message: "Connect wallet to view your details"

### 2. Logged in, not member
- Heading: "CSTK Score"
- Message: "Become a member to view your details"
- Button: "Apply for membership" → links to “Apply page”

###

[2022-01-11 12:32] kristoferlund opened #1180 "Member spotlight"
Static content box that can be edited through CMS. Typical link will be to a Medium article or a YouTube vid.

## Details
-

## Open questions
- Content and ideas for formatting needed @mafer-cordovas @rodricastillo9013
  - Which members do we highlight
  - How do we present them?
    - Photo?
    - Quote??
    - ...

## Wireframes

## 💭 Who should be part of Advice Process on this issue

## 🔗 The

[2022-01-11 12:37] kristoferlund opened #1181 "Trusted Seed Members"
Show a few of the "top" members along with an icon and one line "job description".

## Details
- Members can be randomised on each load
- Member icons are not clickable
- Show one link to the "Members" page
- Content is stored in CMS, we need to maintain a list of icons and job descriptions.

## Open questions
- Content needed @mafer-cordovas

## Wireframes

## Inspiration

![image.png](https://im

[2022-01-11 13:02] kristoferlund opened #1182 "Transparency"
Content component with a message about the importance of transparency and how the TS is transparent.

## Details
- Links to Medium article / GitBook / ?? for more details about how funds are spent

## Open questions
- Content needed @mafer-cordovas
  - What should we say about transparency?
  - Where can the member find out more?

## Wireframes

## 💭 Who should be part of Advice Process on this is

[2022-01-11 13:08] kristoferlund opened #1183 "TS Association Board"
## Details
- Message: A short text about the association being headed by a board.
- Fact: Number of board members
- Link: Link to GitBook or own page:

## Open questions
- Content needed @mafer-cordovas
- For the page component
- … and for the GitBook / webpage describing the board
  - Members
  - How does decisions get made
  - etc

## Wireframes

## 💭 Who should be part of Advice Process on this

[2022-01-11 13:11] kristoferlund opened #1184 "Panvala Community Fund"
## Details
- Message: Short text about the community fund and about you being able to vote to control distribution of funds.
- Link: Vote
    - Conviction Voting - [https://cv.commonsstack.org/](https://cv.commonsstack.org/)
- Link: Read more about the fund
    - Medium or gitcoin grants?
    - [https://gitcoin.co/grants/1127/commons-stack-community-fund-panvala-league](https://gitcoin.co/grants/1

[2022-01-11 13:13] kristoferlund opened #1185 "Swag Shop"
Banner box promoting that you get free swag by being a TS member.

## Details
- Heading: "Free Swag Shop"

## UI States:
### 1. Not logged in:
- Message: "Connect wallet to view your CSLOVE balance"

### 2. Logged in, not member
- Message: "Become a member to get free swag!"

### 3. Membership application approved, membership not activated
- Message: "Become a member to get free swag!"

### 4. Act

[2022-01-11 13:36] kristoferlund opened #1186 "Social channels"
Icons and links to all TS social channels

## Details
- Telegram, Medium, Calendar, Discord, Twitter

## Open questions
- **Which existing channels do we use?**
- **Will the TS have all above channels?**
@mafer-cordovas @YineisyM @MaxSemenchuk @GriffGreen @tamarandom

## Wireframes
![image.png](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/42bd72b9-a9b3-44a4-81d3-7ddc3b945fdd)
## 💭

[2022-01-11 13:42] kristoferlund opened #1187 "Claim badges"
- Count the number of POAPS you have related to all deployed commons. Advertise if you have POAPS to claim.
- Not logged in:
    - General message about Trusted seed and POAPS.
    - Link to join page
- Logged in:
    - Message: "You have 2 badges to claim" or "You have no badges to claim at this time"
    - Link: My badges → links to Membership page

[2022-01-11 13:43] kristoferlund opened #1188 "Partnerships"
Showcase our current and future partners! Keep it simple for now! In the future we would more clearly like to showcase the different kinds of "partnerships" we enter into. But, when we have only one in each category, let's just group them together and let this section be "vague" for now.

All boxes are plain content boxes from the CMS.

## Details
- The partner list
  - Regen Network
  - TEC
- Eac

[2022-01-11 14:06] kristoferlund opened #1189 "Get help"
Integration with the HubSpot live chat function.

## Details
- Script, the first messages shown to user:
  - Welcome..
  - What would you like to do next?
    - Visit FAQ section for answers to common questions.
    - Visit #support channel at Discord
    - Chat about my question here

## Open questions
- For the script - @mafer-cordovas do we need more than above?

## Wireframes
![image.png](http

[2022-01-11 20:46] #1092 closed, assigned to jessicazartler

[2022-01-11 20:50] jessicazartler commented on #1005
Here was the recording of the UBI Panel https://www.youtube.com/watch?v=9sPXhXSbYfY&list=PLwGSVEZFFjEy1KJvoOQjpgocDjW4UbXUT&index=11

And the full list of great talks from the event
https://www.youtube.com/playlist?list=PLwGSVEZFFjEy1KJvoOQjpgocDjW4UbXUT

[2022-01-11 20:50] #1005 closed, assigned to jessicazartler

[2022-01-11 20:53] #588 closed

[2022-01-11 20:55] jessicazartler commented on #174
Drafts & Scaffolding in progress
https://docs.google.com/document/d/144NmQcrOctveqSL4poJm51MHoPE66DY1f2lIE808YzQ/edit